=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class ActivityMonitor
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # GET Activity Monitor
    # Get a list of all events in monitor
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Integration ID
    # @option opts [String] :actor Actor
    # @option opts [String] :category Comma separated list of categories
    # @option opts [String] :projection Comma separated list of projections
    # @option opts [Time] :from_date From Date
    # @option opts [Time] :to_date To Date
    # @option opts [Integer] :limit Max number of logs to fetch
    # @option opts [Integer] :skip Number of logs to skip
    # @return [GetActivityMonitor]
    def get_activity_monitor_v3(opts = {})
      data, _status_code, _headers = get_activity_monitor_v3_with_http_info(opts)
      data
    end

    # GET Activity Monitor
    # Get a list of all events in monitor
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Integration ID
    # @option opts [String] :actor Actor
    # @option opts [String] :category Comma separated list of categories
    # @option opts [String] :projection Comma separated list of projections
    # @option opts [Time] :from_date From Date
    # @option opts [Time] :to_date To Date
    # @option opts [Integer] :limit Max number of logs to fetch
    # @option opts [Integer] :skip Number of logs to skip
    # @return [Array<(GetActivityMonitor, Integer, Hash)>] GetActivityMonitor data, response status code and response headers
    def get_activity_monitor_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityMonitor.get_activity_monitor_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/monitor/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'actor'] = opts[:'actor'] if !opts[:'actor'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'projection'] = opts[:'projection'] if !opts[:'projection'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetActivityMonitor'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ActivityMonitor.get_activity_monitor_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityMonitor#get_activity_monitor_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
