=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class AdmissionControlPolicies
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add one or more host groups to an admission control policy.
    # @param body [ModelsAddHostGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_add_host_groups(body, opts = {})
      data, _status_code, _headers = admission_control_add_host_groups_with_http_info(body, opts)
      data
    end

    # Add one or more host groups to an admission control policy.
    # @param body [ModelsAddHostGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_add_host_groups_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_add_host_groups ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_add_host_groups"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policy-host-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_add_host_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_add_host_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add one or more custom Rego rules to a rule group in an admission control policy. The requested custom rules are also added to all other unspecified rule groups in the policy with action 'Disabled'.
    # @param body [ModelsAddPolicyRuleGroupCustomRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_add_rule_group_custom_rule(body, opts = {})
      data, _status_code, _headers = admission_control_add_rule_group_custom_rule_with_http_info(body, opts)
      data
    end

    # Add one or more custom Rego rules to a rule group in an admission control policy. The requested custom rules are also added to all other unspecified rule groups in the policy with action &#39;Disabled&#39;.
    # @param body [ModelsAddPolicyRuleGroupCustomRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_add_rule_group_custom_rule_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_add_rule_group_custom_rule ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_add_rule_group_custom_rule"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policy-rule-group-custom-rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_add_rule_group_custom_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_add_rule_group_custom_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an admission control policy.
    # @param body [ModelsCreatePolicyRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_create_policy(body, opts = {})
      data, _status_code, _headers = admission_control_create_policy_with_http_info(body, opts)
      data
    end

    # Create an admission control policy.
    # @param body [ModelsCreatePolicyRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_create_policy_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_create_policy ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_create_policy"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_create_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_create_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create one or more rule groups and add them to an existing admission control policy. The list of new rule groups will be created with the last rule group having highest precedence, second to last with second highest precedence, and so on.
    # @param body [ModelsCreatePolicyRuleGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_create_rule_groups(body, opts = {})
      data, _status_code, _headers = admission_control_create_rule_groups_with_http_info(body, opts)
      data
    end

    # Create one or more rule groups and add them to an existing admission control policy. The list of new rule groups will be created with the last rule group having highest precedence, second to last with second highest precedence, and so on.
    # @param body [ModelsCreatePolicyRuleGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_create_rule_groups_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_create_rule_groups ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_create_rule_groups"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policy-rule-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_create_rule_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_create_rule_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an admission control policy.
    # @param ids [Array<String>] The ids of the policies to delete (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_delete_policies(ids, opts = {})
      data, _status_code, _headers = admission_control_delete_policies_with_http_info(ids, opts)
      data
    end

    # Delete an admission control policy.
    # @param ids [Array<String>] The ids of the policies to delete (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_delete_policies_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_delete_policies ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling AdmissionControlPolicies.admission_control_delete_policies"
      end
      if @api_client.config.client_side_validation && ids.length > 100
        fail ArgumentError, 'invalid value for "ids" when calling AdmissionControlPolicies.admission_control_delete_policies, number of items must be less than or equal to 100.'
      end

      # resource path
      local_var_path = '/admission-control-policies/entities/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_delete_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_delete_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete rule groups.
    # @param policy_id [String] The id of the policy to modify.
    # @param rule_group_ids [Array<String>] The ids of the rule groups to delete (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_delete_rule_groups(policy_id, rule_group_ids, opts = {})
      data, _status_code, _headers = admission_control_delete_rule_groups_with_http_info(policy_id, rule_group_ids, opts)
      data
    end

    # Delete rule groups.
    # @param policy_id [String] The id of the policy to modify.
    # @param rule_group_ids [Array<String>] The ids of the rule groups to delete (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_delete_rule_groups_with_http_info(policy_id, rule_group_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_delete_rule_groups ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling AdmissionControlPolicies.admission_control_delete_rule_groups"
      end
      # verify the required parameter 'rule_group_ids' is set
      if @api_client.config.client_side_validation && rule_group_ids.nil?
        fail ArgumentError, "Missing the required parameter 'rule_group_ids' when calling AdmissionControlPolicies.admission_control_delete_rule_groups"
      end
      if @api_client.config.client_side_validation && rule_group_ids.length > 100
        fail ArgumentError, 'invalid value for "rule_group_ids" when calling AdmissionControlPolicies.admission_control_delete_rule_groups, number of items must be less than or equal to 100.'
      end

      # resource path
      local_var_path = '/admission-control-policies/entities/policy-rule-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'policy_id'] = policy_id
      query_params[:'rule_group_ids'] = @api_client.build_collection_param(rule_group_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_delete_rule_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_delete_rule_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get admission control policies.
    # @param ids [Array<String>] The list of policies to return (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_get_policies(ids, opts = {})
      data, _status_code, _headers = admission_control_get_policies_with_http_info(ids, opts)
      data
    end

    # Get admission control policies.
    # @param ids [Array<String>] The list of policies to return (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_get_policies_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_get_policies ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling AdmissionControlPolicies.admission_control_get_policies"
      end
      if @api_client.config.client_side_validation && ids.length > 100
        fail ArgumentError, 'invalid value for "ids" when calling AdmissionControlPolicies.admission_control_get_policies, number of items must be less than or equal to 100.'
      end

      # resource path
      local_var_path = '/admission-control-policies/entities/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_get_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_get_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search admission control policies.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed properties:  - &#x60;precedence&#x60; - &#x60;created_timestamp&#x60; - &#x60;modified_timestamp&#x60; - &#x60;name&#x60; - &#x60;description&#x60;
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:  - &#x60;precedence&#x60; - &#x60;created_timestamp&#x60; - &#x60;modified_timestamp&#x60;   Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [MsaspecQueryResponse]
    def admission_control_query_policies(opts = {})
      data, _status_code, _headers = admission_control_query_policies_with_http_info(opts)
      data
    end

    # Search admission control policies.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed properties:  - &#x60;precedence&#x60; - &#x60;created_timestamp&#x60; - &#x60;modified_timestamp&#x60; - &#x60;name&#x60; - &#x60;description&#x60;
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:  - &#x60;precedence&#x60; - &#x60;created_timestamp&#x60; - &#x60;modified_timestamp&#x60;   Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [Array<(MsaspecQueryResponse, Integer, Hash)>] MsaspecQueryResponse data, response status code and response headers
    def admission_control_query_policies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_query_policies ...'
      end
      # resource path
      local_var_path = '/admission-control-policies/queries/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_query_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_query_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove one or more host groups from an admission control policy.
    # @param policy_id [String] The id of the policy to modify.
    # @param host_group_ids [Array<String>] The ids of the host groups to remove (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_remove_host_groups(policy_id, host_group_ids, opts = {})
      data, _status_code, _headers = admission_control_remove_host_groups_with_http_info(policy_id, host_group_ids, opts)
      data
    end

    # Remove one or more host groups from an admission control policy.
    # @param policy_id [String] The id of the policy to modify.
    # @param host_group_ids [Array<String>] The ids of the host groups to remove (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_remove_host_groups_with_http_info(policy_id, host_group_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_remove_host_groups ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling AdmissionControlPolicies.admission_control_remove_host_groups"
      end
      # verify the required parameter 'host_group_ids' is set
      if @api_client.config.client_side_validation && host_group_ids.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_ids' when calling AdmissionControlPolicies.admission_control_remove_host_groups"
      end
      if @api_client.config.client_side_validation && host_group_ids.length > 100
        fail ArgumentError, 'invalid value for "host_group_ids" when calling AdmissionControlPolicies.admission_control_remove_host_groups, number of items must be less than or equal to 100.'
      end

      # resource path
      local_var_path = '/admission-control-policies/entities/policy-host-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'policy_id'] = policy_id
      query_params[:'host_group_ids'] = @api_client.build_collection_param(host_group_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_remove_host_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_remove_host_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete one or more custom Rego rules from all rule groups in an admission control policy.
    # @param policy_id [String] The id of the policy to modify.
    # @param custom_rule_ids [Array<String>] The ids of the custom Rego rules to delete (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_remove_rule_group_custom_rule(policy_id, custom_rule_ids, opts = {})
      data, _status_code, _headers = admission_control_remove_rule_group_custom_rule_with_http_info(policy_id, custom_rule_ids, opts)
      data
    end

    # Delete one or more custom Rego rules from all rule groups in an admission control policy.
    # @param policy_id [String] The id of the policy to modify.
    # @param custom_rule_ids [Array<String>] The ids of the custom Rego rules to delete (maximum 100 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_remove_rule_group_custom_rule_with_http_info(policy_id, custom_rule_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_remove_rule_group_custom_rule ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling AdmissionControlPolicies.admission_control_remove_rule_group_custom_rule"
      end
      # verify the required parameter 'custom_rule_ids' is set
      if @api_client.config.client_side_validation && custom_rule_ids.nil?
        fail ArgumentError, "Missing the required parameter 'custom_rule_ids' when calling AdmissionControlPolicies.admission_control_remove_rule_group_custom_rule"
      end
      if @api_client.config.client_side_validation && custom_rule_ids.length > 100
        fail ArgumentError, 'invalid value for "custom_rule_ids" when calling AdmissionControlPolicies.admission_control_remove_rule_group_custom_rule, number of items must be less than or equal to 100.'
      end

      # resource path
      local_var_path = '/admission-control-policies/entities/policy-rule-group-custom-rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'policy_id'] = policy_id
      query_params[:'custom_rule_ids'] = @api_client.build_collection_param(custom_rule_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_remove_rule_group_custom_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_remove_rule_group_custom_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace labels and/or namespaces of a rule group within an admission control policy.
    # @param body [ModelsReplacePolicyRuleGroupSelectorsRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_replace_rule_group_selectors(body, opts = {})
      data, _status_code, _headers = admission_control_replace_rule_group_selectors_with_http_info(body, opts)
      data
    end

    # Replace labels and/or namespaces of a rule group within an admission control policy.
    # @param body [ModelsReplacePolicyRuleGroupSelectorsRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_replace_rule_group_selectors_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_replace_rule_group_selectors ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_replace_rule_group_selectors"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policy-rule-group-selectors/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_replace_rule_group_selectors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_replace_rule_group_selectors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change precedence of rule groups within an admission control policy.
    # @param body [ModelsChangePolicyRuleGroupPrecedenceRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_set_rule_group_precedence(body, opts = {})
      data, _status_code, _headers = admission_control_set_rule_group_precedence_with_http_info(body, opts)
      data
    end

    # Change precedence of rule groups within an admission control policy.
    # @param body [ModelsChangePolicyRuleGroupPrecedenceRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_set_rule_group_precedence_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_set_rule_group_precedence ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_set_rule_group_precedence"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policy-rule-group-precedence/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_set_rule_group_precedence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_set_rule_group_precedence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an admission control policy.
    # @param ids [String] The id of the admission control policy to update.
    # @param body [ModelsUpdatePolicyRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_update_policy(ids, body, opts = {})
      data, _status_code, _headers = admission_control_update_policy_with_http_info(ids, body, opts)
      data
    end

    # Update an admission control policy.
    # @param ids [String] The id of the admission control policy to update.
    # @param body [ModelsUpdatePolicyRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_update_policy_with_http_info(ids, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_update_policy ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling AdmissionControlPolicies.admission_control_update_policy"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_update_policy"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_update_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_update_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update admission control policy precedence.
    # @param body [ModelsUpdatePolicyPrecedenceRequest]
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_update_policy_precedence(body, opts = {})
      data, _status_code, _headers = admission_control_update_policy_precedence_with_http_info(body, opts)
      data
    end

    # Update admission control policy precedence.
    # @param body [ModelsUpdatePolicyPrecedenceRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_update_policy_precedence_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_update_policy_precedence ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_update_policy_precedence"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policy-precedence/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_update_policy_precedence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_update_policy_precedence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rule group. Change rule group name, description, deny on error, Image Assessment settings, default rule actions, and custom rule actions.
    # @param body [ModelsUpdatePolicyRuleGroupRequest] Valid rule action values: - Disabled - Prevent - Alert  Valid image assessment unassessed handling values: - Prevent - Alert - Allow Without Alert  Default rule codes: - 201000: Privileged container(s) - 201001: Sensitive data in environment - 201002: Sensitive data in secretKeyRef - 201004: Container(s) run as root - 201005: Container(s) without runAsNonRoot - 201006: Privilege escalation allowed - 201007: Container(s) with network capabilities - 201008: Container(s) with unsafe procMount - 201009: Container(s) using unsafe sysctls - 201010: Container(s) without resource limits - 201011: Sensitive host directories mounted in container(s) - 201012: Container(s) with sysadmin capability - 201013: Service attached to load balancer - 201014: Service attached to node port - 201015: Host port attached to container(s) - 201016: Host network attached to container(s) - 201017: Container(s) in host PID namespace - 201018: Container(s) in host IPC namespace - 201019: Workload in default namespace - 201020: Workload with unconfined seccomp profile - 201021: Workload without SELinux or AppArmor - 201022: Container(s) with many capabilities - 201023: Workload without recommended seccomp profile - 201024: Workload without securityContext - 201025: Container runtime socket in container(s) - 201026: Container(s) entrypoint contains network scanning command - 201027: Container(s) entrypoint contains chroot command - 201028: Malformed sysctl value - 201029: Service account token automounted
    # @param [Hash] opts the optional parameters
    # @return [ModelsKACPolicyEntitiesResponse]
    def admission_control_update_rule_groups(body, opts = {})
      data, _status_code, _headers = admission_control_update_rule_groups_with_http_info(body, opts)
      data
    end

    # Update a rule group. Change rule group name, description, deny on error, Image Assessment settings, default rule actions, and custom rule actions.
    # @param body [ModelsUpdatePolicyRuleGroupRequest] Valid rule action values: - Disabled - Prevent - Alert  Valid image assessment unassessed handling values: - Prevent - Alert - Allow Without Alert  Default rule codes: - 201000: Privileged container(s) - 201001: Sensitive data in environment - 201002: Sensitive data in secretKeyRef - 201004: Container(s) run as root - 201005: Container(s) without runAsNonRoot - 201006: Privilege escalation allowed - 201007: Container(s) with network capabilities - 201008: Container(s) with unsafe procMount - 201009: Container(s) using unsafe sysctls - 201010: Container(s) without resource limits - 201011: Sensitive host directories mounted in container(s) - 201012: Container(s) with sysadmin capability - 201013: Service attached to load balancer - 201014: Service attached to node port - 201015: Host port attached to container(s) - 201016: Host network attached to container(s) - 201017: Container(s) in host PID namespace - 201018: Container(s) in host IPC namespace - 201019: Workload in default namespace - 201020: Workload with unconfined seccomp profile - 201021: Workload without SELinux or AppArmor - 201022: Container(s) with many capabilities - 201023: Workload without recommended seccomp profile - 201024: Workload without securityContext - 201025: Container runtime socket in container(s) - 201026: Container(s) entrypoint contains network scanning command - 201027: Container(s) entrypoint contains chroot command - 201028: Malformed sysctl value - 201029: Service account token automounted
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsKACPolicyEntitiesResponse, Integer, Hash)>] ModelsKACPolicyEntitiesResponse data, response status code and response headers
    def admission_control_update_rule_groups_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdmissionControlPolicies.admission_control_update_rule_groups ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdmissionControlPolicies.admission_control_update_rule_groups"
      end
      # resource path
      local_var_path = '/admission-control-policies/entities/policy-rule-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsKACPolicyEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AdmissionControlPolicies.admission_control_update_rule_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdmissionControlPolicies#admission_control_update_rule_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
