=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class AgentInvocation
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieves the list of of messages that are resulted from the specified invocation
    # @param id [String] Invocation ID
    # @param [Hash] opts the optional parameters
    # @return [ApiInvokeAgentResponse]
    def get_agent_invocation_v3(id, opts = {})
      data, _status_code, _headers = get_agent_invocation_v3_with_http_info(id, opts)
      data
    end

    # Retrieves the list of of messages that are resulted from the specified invocation
    # @param id [String] Invocation ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiInvokeAgentResponse, Integer, Hash)>] ApiInvokeAgentResponse data, response status code and response headers
    def get_agent_invocation_v3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentInvocation.get_agent_invocation_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentInvocation.get_agent_invocation_v3"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/agent-invocations/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiInvokeAgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AgentInvocation.get_agent_invocation_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentInvocation#get_agent_invocation_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invoke a published agent by ID with the specified input. Returns the agent's completion response.
    # @param body [ApiInvokePublishedAgentExternalRequest] Published agent invocation request containing agent ID and input
    # @param [Hash] opts the optional parameters
    # @return [ApiInvokeAgentResponse]
    def invoke_published_agent_external_v1(body, opts = {})
      data, _status_code, _headers = invoke_published_agent_external_v1_with_http_info(body, opts)
      data
    end

    # Invoke a published agent by ID with the specified input. Returns the agent&#39;s completion response.
    # @param body [ApiInvokePublishedAgentExternalRequest] Published agent invocation request containing agent ID and input
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiInvokeAgentResponse, Integer, Hash)>] ApiInvokeAgentResponse data, response status code and response headers
    def invoke_published_agent_external_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentInvocation.invoke_published_agent_external_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AgentInvocation.invoke_published_agent_external_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/agent-invocations/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiInvokeAgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AgentInvocation.invoke_published_agent_external_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentInvocation#invoke_published_agent_external_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
