=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class ApiClients
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create new API Client.
    # @param body [ApiClientRequest]
    # @param [Hash] opts the optional parameters
    # @return [MsaEntitiesResponse]
    def create_api_client(body, opts = {})
      data, _status_code, _headers = create_api_client_with_http_info(body, opts)
      data
    end

    # Create new API Client.
    # @param body [ApiClientRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaEntitiesResponse, Integer, Hash)>] MsaEntitiesResponse data, response status code and response headers
    def create_api_client_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiClients.create_api_client ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ApiClients.create_api_client"
      end
      # resource path
      local_var_path = '/api-clients/entities/api-clients/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MsaEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ApiClients.create_api_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiClients#create_api_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete existing API Client(s) based on API Client ID(s) provided as request parameter(s) 'ids'.
    # @param ids [Array<String>] The API Client ID(s) for which API Client(s) have to be deleted.
    # @param [Hash] opts the optional parameters
    # @return [MsaEntitiesResponse]
    def delete_api_clients(ids, opts = {})
      data, _status_code, _headers = delete_api_clients_with_http_info(ids, opts)
      data
    end

    # Delete existing API Client(s) based on API Client ID(s) provided as request parameter(s) &#39;ids&#39;.
    # @param ids [Array<String>] The API Client ID(s) for which API Client(s) have to be deleted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaEntitiesResponse, Integer, Hash)>] MsaEntitiesResponse data, response status code and response headers
    def delete_api_clients_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiClients.delete_api_clients ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ApiClients.delete_api_clients"
      end
      # resource path
      local_var_path = '/api-clients/entities/api-clients/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ApiClients.delete_api_clients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiClients#delete_api_clients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all available scopes for customer.
    # @param [Hash] opts the optional parameters
    # @return [ApiAccessibleScopesResponse]
    def get_accessible_scopes(opts = {})
      data, _status_code, _headers = get_accessible_scopes_with_http_info(opts)
      data
    end

    # Get all available scopes for customer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiAccessibleScopesResponse, Integer, Hash)>] ApiAccessibleScopesResponse data, response status code and response headers
    def get_accessible_scopes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiClients.get_accessible_scopes ...'
      end
      # resource path
      local_var_path = '/api-clients/entities/accessible-scopes/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiAccessibleScopesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ApiClients.get_accessible_scopes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiClients#get_accessible_scopes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All API client ID(s) for customer.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Starting index of overall result set from which to return ids. (default to 0)
    # @option opts [Integer] :limit Number of ids to return. (default to 10)
    # @option opts [String] :sort Possible values for sort by field includes id, name, created_by, updated_by, created_timestamp, last_modified. Ex: &#39;name|asc&#39;, &#39;name|desc&#39;, etc. (default to 'created_timestamp')
    # @return [MsaQueryResponse]
    def get_all_api_client_ids_for_customer(opts = {})
      data, _status_code, _headers = get_all_api_client_ids_for_customer_with_http_info(opts)
      data
    end

    # Get All API client ID(s) for customer.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Starting index of overall result set from which to return ids. (default to 0)
    # @option opts [Integer] :limit Number of ids to return. (default to 10)
    # @option opts [String] :sort Possible values for sort by field includes id, name, created_by, updated_by, created_timestamp, last_modified. Ex: &#39;name|asc&#39;, &#39;name|desc&#39;, etc. (default to 'created_timestamp')
    # @return [Array<(MsaQueryResponse, Integer, Hash)>] MsaQueryResponse data, response status code and response headers
    def get_all_api_client_ids_for_customer_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiClients.get_all_api_client_ids_for_customer ...'
      end
      # resource path
      local_var_path = '/api-clients/queries/api-clients/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ApiClients.get_all_api_client_ids_for_customer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiClients#get_all_api_client_ids_for_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get API Client(s) based on API Client ID(s) provided as request parameter(s) 'ids'.
    # @param ids [Array<String>] The API Client ID(s) for which to obtain API Client definition(s).
    # @param [Hash] opts the optional parameters
    # @return [MsaEntitiesResponse]
    def get_api_clients(ids, opts = {})
      data, _status_code, _headers = get_api_clients_with_http_info(ids, opts)
      data
    end

    # Get API Client(s) based on API Client ID(s) provided as request parameter(s) &#39;ids&#39;.
    # @param ids [Array<String>] The API Client ID(s) for which to obtain API Client definition(s).
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaEntitiesResponse, Integer, Hash)>] MsaEntitiesResponse data, response status code and response headers
    def get_api_clients_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiClients.get_api_clients ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ApiClients.get_api_clients"
      end
      # resource path
      local_var_path = '/api-clients/entities/api-clients/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ApiClients.get_api_clients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiClients#get_api_clients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset existing API Client(s)'s secret based on API Client ID(s) provided as request parameter(s) 'ids'. API Client Secret can be reset by specifying appropriate action in request parameter 'action_name'.
    # @param ids [Array<String>] The API Client ID(s) for which to perform action on API Client(s).
    # @param action_name [String] Action to perform as part of API Client update. Only allowed value is &#39;reset_secret&#39;.
    # @param [Hash] opts the optional parameters
    # @return [MsaEntitiesResponse]
    def reset_api_client_secret(ids, action_name, opts = {})
      data, _status_code, _headers = reset_api_client_secret_with_http_info(ids, action_name, opts)
      data
    end

    # Reset existing API Client(s)&#39;s secret based on API Client ID(s) provided as request parameter(s) &#39;ids&#39;. API Client Secret can be reset by specifying appropriate action in request parameter &#39;action_name&#39;.
    # @param ids [Array<String>] The API Client ID(s) for which to perform action on API Client(s).
    # @param action_name [String] Action to perform as part of API Client update. Only allowed value is &#39;reset_secret&#39;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaEntitiesResponse, Integer, Hash)>] MsaEntitiesResponse data, response status code and response headers
    def reset_api_client_secret_with_http_info(ids, action_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiClients.reset_api_client_secret ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ApiClients.reset_api_client_secret"
      end
      # verify the required parameter 'action_name' is set
      if @api_client.config.client_side_validation && action_name.nil?
        fail ArgumentError, "Missing the required parameter 'action_name' when calling ApiClients.reset_api_client_secret"
      end
      # resource path
      local_var_path = '/api-clients/entities/api-clients-actions/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'action_name'] = action_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ApiClients.reset_api_client_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiClients#reset_api_client_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update existing API Client based on API Client ID provided as request parameter 'ids'. Client Secret remains unaffected.
    # @param ids [String] The API Client ID for which to update the API Client definition.
    # @param body [ApiClientRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_api_client(ids, body, opts = {})
      update_api_client_with_http_info(ids, body, opts)
      nil
    end

    # Update existing API Client based on API Client ID provided as request parameter &#39;ids&#39;. Client Secret remains unaffected.
    # @param ids [String] The API Client ID for which to update the API Client definition.
    # @param body [ApiClientRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_api_client_with_http_info(ids, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiClients.update_api_client ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ApiClients.update_api_client"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ApiClients.update_api_client"
      end
      # resource path
      local_var_path = '/api-clients/entities/api-clients/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ApiClients.update_api_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiClients#update_api_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
