=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class CaseFiles
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get file details aggregates as specified via json in the request body.
    # @param ids [Array<String>] Resource IDs
    # @param body [Array<Object>]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression
    # @return [CasefilesapiAggregatesResponseV1]
    def aggregates_file_details_post_v1(ids, body, opts = {})
      data, _status_code, _headers = aggregates_file_details_post_v1_with_http_info(ids, body, opts)
      data
    end

    # Get file details aggregates as specified via json in the request body.
    # @param ids [Array<String>] Resource IDs
    # @param body [Array<Object>]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression
    # @return [Array<(CasefilesapiAggregatesResponseV1, Integer, Hash)>] CasefilesapiAggregatesResponseV1 data, response status code and response headers
    def aggregates_file_details_post_v1_with_http_info(ids, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.aggregates_file_details_post_v1 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CaseFiles.aggregates_file_details_post_v1"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CaseFiles.aggregates_file_details_post_v1"
      end
      # resource path
      local_var_path = '/case-files/aggregates/file-details/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiAggregatesResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.aggregates_file_details_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#aggregates_file_details_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query file details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Page offset
    # @return [CasefilesapiFileDetailsResponseV1]
    def combined_file_details_get_v1(opts = {})
      data, _status_code, _headers = combined_file_details_get_v1_with_http_info(opts)
      data
    end

    # Query file details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Page offset
    # @return [Array<(CasefilesapiFileDetailsResponseV1, Integer, Hash)>] CasefilesapiFileDetailsResponseV1 data, response status code and response headers
    def combined_file_details_get_v1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.combined_file_details_get_v1 ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 10
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CaseFiles.combined_file_details_get_v1, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CaseFiles.combined_file_details_get_v1, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CaseFiles.combined_file_details_get_v1, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/case-files/combined/file-details/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiFileDetailsResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.combined_file_details_get_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#combined_file_details_get_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get file details by id
    # @param ids [Array<String>] Resource IDs
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiFileDetailsResponseV1]
    def entities_file_details_get_v1(ids, opts = {})
      data, _status_code, _headers = entities_file_details_get_v1_with_http_info(ids, opts)
      data
    end

    # Get file details by id
    # @param ids [Array<String>] Resource IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiFileDetailsResponseV1, Integer, Hash)>] CasefilesapiFileDetailsResponseV1 data, response status code and response headers
    def entities_file_details_get_v1_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_file_details_get_v1 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CaseFiles.entities_file_details_get_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/file-details/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiFileDetailsResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_file_details_get_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_file_details_get_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update file details
    # @param body [CasefilesapiUpdateRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiFileDetailsResponseV1]
    def entities_file_details_patch_v1(body, opts = {})
      data, _status_code, _headers = entities_file_details_patch_v1_with_http_info(body, opts)
      data
    end

    # Update file details
    # @param body [CasefilesapiUpdateRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiFileDetailsResponseV1, Integer, Hash)>] CasefilesapiFileDetailsResponseV1 data, response status code and response headers
    def entities_file_details_patch_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_file_details_patch_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CaseFiles.entities_file_details_patch_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/file-details/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiFileDetailsResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_file_details_patch_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_file_details_patch_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download multiple existing file from case as a ZIP
    # @param body [CasefilesapiBulkDownloadRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiDownloadResponseV1]
    def entities_files_bulk_download_post_v1(body, opts = {})
      data, _status_code, _headers = entities_files_bulk_download_post_v1_with_http_info(body, opts)
      data
    end

    # Download multiple existing file from case as a ZIP
    # @param body [CasefilesapiBulkDownloadRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiDownloadResponseV1, Integer, Hash)>] CasefilesapiDownloadResponseV1 data, response status code and response headers
    def entities_files_bulk_download_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_files_bulk_download_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CaseFiles.entities_files_bulk_download_post_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/files/bulk-download/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiDownloadResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_files_bulk_download_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_files_bulk_download_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete file details by id
    # @param ids [Array<String>] Resource IDs
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiMSAResponseString]
    def entities_files_delete_v1(ids, opts = {})
      data, _status_code, _headers = entities_files_delete_v1_with_http_info(ids, opts)
      data
    end

    # Delete file details by id
    # @param ids [Array<String>] Resource IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiMSAResponseString, Integer, Hash)>] CasefilesapiMSAResponseString data, response status code and response headers
    def entities_files_delete_v1_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_files_delete_v1 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CaseFiles.entities_files_delete_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/files/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiMSAResponseString'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_files_delete_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_files_delete_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download existing file from case
    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiDownloadResponseV1]
    def entities_files_download_get_v1(id, opts = {})
      data, _status_code, _headers = entities_files_download_get_v1_with_http_info(id, opts)
      data
    end

    # Download existing file from case
    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiDownloadResponseV1, Integer, Hash)>] CasefilesapiDownloadResponseV1 data, response status code and response headers
    def entities_files_download_get_v1_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_files_download_get_v1 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CaseFiles.entities_files_download_get_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/files/download/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiDownloadResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_files_download_get_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_files_download_get_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download existing files from case
    # @param body [CasefilesapiDownloadRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiDownloadResponseV1]
    def entities_files_download_post_v1(body, opts = {})
      data, _status_code, _headers = entities_files_download_post_v1_with_http_info(body, opts)
      data
    end

    # Download existing files from case
    # @param body [CasefilesapiDownloadRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiDownloadResponseV1, Integer, Hash)>] CasefilesapiDownloadResponseV1 data, response status code and response headers
    def entities_files_download_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_files_download_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CaseFiles.entities_files_download_post_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/files/download/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiDownloadResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_files_download_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_files_download_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload file for case
    # @param file [File] Local file to Upload
    # @param case_id [String] Case ID for the file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description Description of the file
    # @return [CasefilesapiFileDetailsResponseV1]
    def entities_files_upload_post_v1(file, case_id, opts = {})
      data, _status_code, _headers = entities_files_upload_post_v1_with_http_info(file, case_id, opts)
      data
    end

    # Upload file for case
    # @param file [File] Local file to Upload
    # @param case_id [String] Case ID for the file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description Description of the file
    # @return [Array<(CasefilesapiFileDetailsResponseV1, Integer, Hash)>] CasefilesapiFileDetailsResponseV1 data, response status code and response headers
    def entities_files_upload_post_v1_with_http_info(file, case_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_files_upload_post_v1 ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling CaseFiles.entities_files_upload_post_v1"
      end
      # verify the required parameter 'case_id' is set
      if @api_client.config.client_side_validation && case_id.nil?
        fail ArgumentError, "Missing the required parameter 'case_id' when calling CaseFiles.entities_files_upload_post_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/files/upload/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['case_id'] = case_id
      form_params['description'] = opts[:'description'] if !opts[:'description'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiFileDetailsResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_files_upload_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_files_upload_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # gets metadata for a file via RTR without retrieving it
    # @param body [CasefilesapiGetRTRFileMetaDataRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiValidateRTRResponseV1]
    def entities_get_rtr_file_metadata_post_v1(body, opts = {})
      data, _status_code, _headers = entities_get_rtr_file_metadata_post_v1_with_http_info(body, opts)
      data
    end

    # gets metadata for a file via RTR without retrieving it
    # @param body [CasefilesapiGetRTRFileMetaDataRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiValidateRTRResponseV1, Integer, Hash)>] CasefilesapiValidateRTRResponseV1 data, response status code and response headers
    def entities_get_rtr_file_metadata_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_get_rtr_file_metadata_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CaseFiles.entities_get_rtr_file_metadata_post_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/get-rtr-file-metadata/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiValidateRTRResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_get_rtr_file_metadata_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_get_rtr_file_metadata_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # retrieves a file from host using RTR and adds it to a case
    # @param body [CasefilesapiRetrieveRTRFileRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiFileDetailsResponseV1]
    def entities_retrieve_rtr_file_post_v1(body, opts = {})
      data, _status_code, _headers = entities_retrieve_rtr_file_post_v1_with_http_info(body, opts)
      data
    end

    # retrieves a file from host using RTR and adds it to a case
    # @param body [CasefilesapiRetrieveRTRFileRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiFileDetailsResponseV1, Integer, Hash)>] CasefilesapiFileDetailsResponseV1 data, response status code and response headers
    def entities_retrieve_rtr_file_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_retrieve_rtr_file_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CaseFiles.entities_retrieve_rtr_file_post_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/retrieve-rtr-file/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiFileDetailsResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_retrieve_rtr_file_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_retrieve_rtr_file_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RetrieveRecentRTRFile retrieves a recently fetched RTR file and adds it to a case
    # @param body [CasefilesapiRetrieveRTRRecentFileRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [CasefilesapiFileDetailsResponseV1]
    def entities_retrieve_rtr_recent_file_post_v1(body, opts = {})
      data, _status_code, _headers = entities_retrieve_rtr_recent_file_post_v1_with_http_info(body, opts)
      data
    end

    # RetrieveRecentRTRFile retrieves a recently fetched RTR file and adds it to a case
    # @param body [CasefilesapiRetrieveRTRRecentFileRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CasefilesapiFileDetailsResponseV1, Integer, Hash)>] CasefilesapiFileDetailsResponseV1 data, response status code and response headers
    def entities_retrieve_rtr_recent_file_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.entities_retrieve_rtr_recent_file_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CaseFiles.entities_retrieve_rtr_recent_file_post_v1"
      end
      # resource path
      local_var_path = '/case-files/entities/retrieve-rtr-recent-file/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiFileDetailsResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.entities_retrieve_rtr_recent_file_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#entities_retrieve_rtr_recent_file_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query for ids of file details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Page offset
    # @return [CasefilesapiMSAResponseString]
    def queries_file_details_get_v1(opts = {})
      data, _status_code, _headers = queries_file_details_get_v1_with_http_info(opts)
      data
    end

    # Query for ids of file details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Page offset
    # @return [Array<(CasefilesapiMSAResponseString, Integer, Hash)>] CasefilesapiMSAResponseString data, response status code and response headers
    def queries_file_details_get_v1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaseFiles.queries_file_details_get_v1 ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 10
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CaseFiles.queries_file_details_get_v1, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CaseFiles.queries_file_details_get_v1, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CaseFiles.queries_file_details_get_v1, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/case-files/queries/file-details/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasefilesapiMSAResponseString'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CaseFiles.queries_file_details_get_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaseFiles#queries_file_details_get_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
