=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class Cases
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds the given list of alert evidence to the specified case.
    # @param body [OperationsAddAlertsToCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [OperationsUpdateCaseResponseVM]
    def entities_alert_evidence_post_v1(body, opts = {})
      data, _status_code, _headers = entities_alert_evidence_post_v1_with_http_info(body, opts)
      data
    end

    # Adds the given list of alert evidence to the specified case.
    # @param body [OperationsAddAlertsToCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationsUpdateCaseResponseVM, Integer, Hash)>] OperationsUpdateCaseResponseVM data, response status code and response headers
    def entities_alert_evidence_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.entities_alert_evidence_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling Cases.entities_alert_evidence_post_v1"
      end
      # resource path
      local_var_path = '/cases/entities/alert-evidence/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationsUpdateCaseResponseVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.entities_alert_evidence_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#entities_alert_evidence_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Removes the specified tags from the specified case.
    # @param id [String] The ID of the case to remove tags from.
    # @param tag [Array<String>] The tag to remove from the case.
    # @param [Hash] opts the optional parameters
    # @return [OperationsUpdateCaseResponseVM]
    def entities_case_tags_delete_v1(id, tag, opts = {})
      data, _status_code, _headers = entities_case_tags_delete_v1_with_http_info(id, tag, opts)
      data
    end

    # Removes the specified tags from the specified case.
    # @param id [String] The ID of the case to remove tags from.
    # @param tag [Array<String>] The tag to remove from the case.
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationsUpdateCaseResponseVM, Integer, Hash)>] OperationsUpdateCaseResponseVM data, response status code and response headers
    def entities_case_tags_delete_v1_with_http_info(id, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.entities_case_tags_delete_v1 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Cases.entities_case_tags_delete_v1"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling Cases.entities_case_tags_delete_v1"
      end
      # resource path
      local_var_path = '/cases/entities/case-tags/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'tag'] = @api_client.build_collection_param(tag, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OperationsUpdateCaseResponseVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.entities_case_tags_delete_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#entities_case_tags_delete_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds the given list of tags to the specified case.
    # @param body [OperationsAddTagsToCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [OperationsUpdateCaseResponseVM]
    def entities_case_tags_post_v1(body, opts = {})
      data, _status_code, _headers = entities_case_tags_post_v1_with_http_info(body, opts)
      data
    end

    # Adds the given list of tags to the specified case.
    # @param body [OperationsAddTagsToCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationsUpdateCaseResponseVM, Integer, Hash)>] OperationsUpdateCaseResponseVM data, response status code and response headers
    def entities_case_tags_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.entities_case_tags_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling Cases.entities_case_tags_post_v1"
      end
      # resource path
      local_var_path = '/cases/entities/case-tags/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationsUpdateCaseResponseVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.entities_case_tags_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#entities_case_tags_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates given fields on the specified case.
    # @param body [OperationsUpdateCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [OperationsUpdateCaseResponseVM]
    def entities_cases_patch_v2(body, opts = {})
      data, _status_code, _headers = entities_cases_patch_v2_with_http_info(body, opts)
      data
    end

    # Updates given fields on the specified case.
    # @param body [OperationsUpdateCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationsUpdateCaseResponseVM, Integer, Hash)>] OperationsUpdateCaseResponseVM data, response status code and response headers
    def entities_cases_patch_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.entities_cases_patch_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling Cases.entities_cases_patch_v2"
      end
      # resource path
      local_var_path = '/cases/entities/cases/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationsUpdateCaseResponseVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.entities_cases_patch_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#entities_cases_patch_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves all Cases given their IDs.
    # @param body [OperationsGetCasesByIDsRequest]
    # @param [Hash] opts the optional parameters
    # @return [OperationsGetCasesByIDsResponseVM]
    def entities_cases_post_v2(body, opts = {})
      data, _status_code, _headers = entities_cases_post_v2_with_http_info(body, opts)
      data
    end

    # Retrieves all Cases given their IDs.
    # @param body [OperationsGetCasesByIDsRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationsGetCasesByIDsResponseVM, Integer, Hash)>] OperationsGetCasesByIDsResponseVM data, response status code and response headers
    def entities_cases_post_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.entities_cases_post_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling Cases.entities_cases_post_v2"
      end
      # resource path
      local_var_path = '/cases/entities/cases/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationsGetCasesByIDsResponseVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.entities_cases_post_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#entities_cases_post_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates the given Case
    # @param body [OperationsCreateCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [OperationsCreateCaseResponseVM]
    def entities_cases_put_v2(body, opts = {})
      data, _status_code, _headers = entities_cases_put_v2_with_http_info(body, opts)
      data
    end

    # Creates the given Case
    # @param body [OperationsCreateCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationsCreateCaseResponseVM, Integer, Hash)>] OperationsCreateCaseResponseVM data, response status code and response headers
    def entities_cases_put_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.entities_cases_put_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling Cases.entities_cases_put_v2"
      end
      # resource path
      local_var_path = '/cases/entities/cases/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationsCreateCaseResponseVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.entities_cases_put_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#entities_cases_put_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds the given list of event evidence to the specified case.
    # @param body [OperationsAddEventsToCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [OperationsUpdateCaseResponseVM]
    def entities_event_evidence_post_v1(body, opts = {})
      data, _status_code, _headers = entities_event_evidence_post_v1_with_http_info(body, opts)
      data
    end

    # Adds the given list of event evidence to the specified case.
    # @param body [OperationsAddEventsToCaseRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationsUpdateCaseResponseVM, Integer, Hash)>] OperationsUpdateCaseResponseVM data, response status code and response headers
    def entities_event_evidence_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.entities_event_evidence_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling Cases.entities_event_evidence_post_v1"
      end
      # resource path
      local_var_path = '/cases/entities/event-evidence/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationsUpdateCaseResponseVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.entities_event_evidence_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#entities_event_evidence_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves all Cases IDs that match a given query.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of Cases to return in this response (default: 100; max: 10000). Use this parameter together with the &#x60;offset&#x60; parameter to manage pagination of the results.
    # @option opts [Integer] :offset The first case to return, where &#x60;0&#x60; is the latest case. Use with the &#x60;offset&#x60; parameter to manage pagination of results.
    # @option opts [String] :sort Sort parameter takes the form &lt;field|direction&gt;. Direction can be either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending) order. For example: &#x60;status|asc&#x60; or &#x60;status|desc&#x60;.  The sorting fields can be any keyword field that is part of #domain.Case except for the text based fields. Most commonly used fields are status, cid, created_timestamp, updated_timestamp, assigned_to_name, assigned_to_userid, assigned_to_uuid, tags If the fields are missing from the Cases, the service will fallback to its default ordering
    # @option opts [String] :filter Filter Cases using a query in Falcon Query Language (FQL).Filter fields can be any keyword field that is part of #domain.Case  An asterisk wildcard &#x60;*&#x60; includes all results.   Empty value means to not filter on anything. Most commonly used filter fields that supports exact match: cid, id ... Most commonly used filter fields that supports wildcard (*): assigned_to_name, assigned_to_uuid... Most commonly filter fields that supports range comparisons (&gt;, &lt;, &gt;&#x3D;, &lt;&#x3D;): created_timestamp, updated_timestamp... All filter fields and operations support negation (!).   The full list of valid filter options is extensive. Review it in our [documentation inside the Falcon console](https://falcon.crowdstrike.com/documentation/45/falcon-query-language-fql).
    # @option opts [String] :q Search all Case metadata for the provided string
    # @return [CasesapiGetQueriesCasesV1Response]
    def queries_cases_get_v1(opts = {})
      data, _status_code, _headers = queries_cases_get_v1_with_http_info(opts)
      data
    end

    # Retrieves all Cases IDs that match a given query.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of Cases to return in this response (default: 100; max: 10000). Use this parameter together with the &#x60;offset&#x60; parameter to manage pagination of the results.
    # @option opts [Integer] :offset The first case to return, where &#x60;0&#x60; is the latest case. Use with the &#x60;offset&#x60; parameter to manage pagination of results.
    # @option opts [String] :sort Sort parameter takes the form &lt;field|direction&gt;. Direction can be either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending) order. For example: &#x60;status|asc&#x60; or &#x60;status|desc&#x60;.  The sorting fields can be any keyword field that is part of #domain.Case except for the text based fields. Most commonly used fields are status, cid, created_timestamp, updated_timestamp, assigned_to_name, assigned_to_userid, assigned_to_uuid, tags If the fields are missing from the Cases, the service will fallback to its default ordering
    # @option opts [String] :filter Filter Cases using a query in Falcon Query Language (FQL).Filter fields can be any keyword field that is part of #domain.Case  An asterisk wildcard &#x60;*&#x60; includes all results.   Empty value means to not filter on anything. Most commonly used filter fields that supports exact match: cid, id ... Most commonly used filter fields that supports wildcard (*): assigned_to_name, assigned_to_uuid... Most commonly filter fields that supports range comparisons (&gt;, &lt;, &gt;&#x3D;, &lt;&#x3D;): created_timestamp, updated_timestamp... All filter fields and operations support negation (!).   The full list of valid filter options is extensive. Review it in our [documentation inside the Falcon console](https://falcon.crowdstrike.com/documentation/45/falcon-query-language-fql).
    # @option opts [String] :q Search all Case metadata for the provided string
    # @return [Array<(CasesapiGetQueriesCasesV1Response, Integer, Hash)>] CasesapiGetQueriesCasesV1Response data, response status code and response headers
    def queries_cases_get_v1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Cases.queries_cases_get_v1 ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 10000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling Cases.queries_cases_get_v1, must be smaller than or equal to 10000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling Cases.queries_cases_get_v1, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/cases/queries/cases/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CasesapiGetQueriesCasesV1Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Cases.queries_cases_get_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Cases#queries_cases_get_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
