=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class CloudGoogleCloudRegistration
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Google Cloud Registration.
    # @param body [DtoGCPRegistrationCreateRequestExtV1]
    # @param [Hash] opts the optional parameters
    # @return [DtoGCPRegistrationResponseExtV1]
    def cloud_registration_gcp_create_registration(body, opts = {})
      data, _status_code, _headers = cloud_registration_gcp_create_registration_with_http_info(body, opts)
      data
    end

    # Create a Google Cloud Registration.
    # @param body [DtoGCPRegistrationCreateRequestExtV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DtoGCPRegistrationResponseExtV1, Integer, Hash)>] DtoGCPRegistrationResponseExtV1 data, response status code and response headers
    def cloud_registration_gcp_create_registration_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudGoogleCloudRegistration.cloud_registration_gcp_create_registration ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudGoogleCloudRegistration.cloud_registration_gcp_create_registration"
      end
      # resource path
      local_var_path = '/cloud-security-registration-google-cloud/entities/registrations/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DtoGCPRegistrationResponseExtV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudGoogleCloudRegistration.cloud_registration_gcp_create_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudGoogleCloudRegistration#cloud_registration_gcp_create_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Google Cloud Registration and returns the deleted registration in the response body.
    # @param ids [String] Google Cloud Registration ID
    # @param [Hash] opts the optional parameters
    # @return [DtoGCPRegistrationResponseExtV1]
    def cloud_registration_gcp_delete_registration(ids, opts = {})
      data, _status_code, _headers = cloud_registration_gcp_delete_registration_with_http_info(ids, opts)
      data
    end

    # Deletes a Google Cloud Registration and returns the deleted registration in the response body.
    # @param ids [String] Google Cloud Registration ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DtoGCPRegistrationResponseExtV1, Integer, Hash)>] DtoGCPRegistrationResponseExtV1 data, response status code and response headers
    def cloud_registration_gcp_delete_registration_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudGoogleCloudRegistration.cloud_registration_gcp_delete_registration ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudGoogleCloudRegistration.cloud_registration_gcp_delete_registration"
      end
      # resource path
      local_var_path = '/cloud-security-registration-google-cloud/entities/registrations/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DtoGCPRegistrationResponseExtV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudGoogleCloudRegistration.cloud_registration_gcp_delete_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudGoogleCloudRegistration#cloud_registration_gcp_delete_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all GCP entities (organizations, folders, projects) grouped by type with support for FQL filtering, sorting, and pagination.
    # Returns entities grouped by type. Sorting and pagination are applied across all entity types before grouping. Use filter=entity_type:'project' to retrieve only specific entity types.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Google Cloud Registration IDs to filter by
    # @option opts [String] :filter FQL (Falcon Query Language) string for filtering results. Allowed filters are entity_type, entity_id, entity_name, registration_id, registration_name, registration_scope, parent_id, project_number, ioa_status, iom_status, created, updated
    # @option opts [String] :sort Field and direction for sorting results (e.g., &#39;created|desc&#39;). Sorting applies across all entity types before grouping.
    # @option opts [Integer] :limit Maximum number of records to return (default: 100, max: 500). Limit applies across all entity types. (default to 100)
    # @option opts [Integer] :offset Starting index of result (default to 0)
    # @return [DtoGCPEntitiesResponseV1]
    def cloud_registration_gcp_get_entities(opts = {})
      data, _status_code, _headers = cloud_registration_gcp_get_entities_with_http_info(opts)
      data
    end

    # Retrieve all GCP entities (organizations, folders, projects) grouped by type with support for FQL filtering, sorting, and pagination.
    # Returns entities grouped by type. Sorting and pagination are applied across all entity types before grouping. Use filter&#x3D;entity_type:&#39;project&#39; to retrieve only specific entity types.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Google Cloud Registration IDs to filter by
    # @option opts [String] :filter FQL (Falcon Query Language) string for filtering results. Allowed filters are entity_type, entity_id, entity_name, registration_id, registration_name, registration_scope, parent_id, project_number, ioa_status, iom_status, created, updated
    # @option opts [String] :sort Field and direction for sorting results (e.g., &#39;created|desc&#39;). Sorting applies across all entity types before grouping.
    # @option opts [Integer] :limit Maximum number of records to return (default: 100, max: 500). Limit applies across all entity types. (default to 100)
    # @option opts [Integer] :offset Starting index of result (default to 0)
    # @return [Array<(DtoGCPEntitiesResponseV1, Integer, Hash)>] DtoGCPEntitiesResponseV1 data, response status code and response headers
    def cloud_registration_gcp_get_entities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudGoogleCloudRegistration.cloud_registration_gcp_get_entities ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudGoogleCloudRegistration.cloud_registration_gcp_get_entities, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudGoogleCloudRegistration.cloud_registration_gcp_get_entities, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CloudGoogleCloudRegistration.cloud_registration_gcp_get_entities, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/cloud-security-registration-google-cloud/entities/accounts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DtoGCPEntitiesResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudGoogleCloudRegistration.cloud_registration_gcp_get_entities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudGoogleCloudRegistration#cloud_registration_gcp_get_entities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a Google Cloud Registration.
    # @param ids [String] Google Cloud Registration ID
    # @param [Hash] opts the optional parameters
    # @return [DtoGCPRegistrationResponseExtV1]
    def cloud_registration_gcp_get_registration(ids, opts = {})
      data, _status_code, _headers = cloud_registration_gcp_get_registration_with_http_info(ids, opts)
      data
    end

    # Retrieve a Google Cloud Registration.
    # @param ids [String] Google Cloud Registration ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DtoGCPRegistrationResponseExtV1, Integer, Hash)>] DtoGCPRegistrationResponseExtV1 data, response status code and response headers
    def cloud_registration_gcp_get_registration_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudGoogleCloudRegistration.cloud_registration_gcp_get_registration ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudGoogleCloudRegistration.cloud_registration_gcp_get_registration"
      end
      # resource path
      local_var_path = '/cloud-security-registration-google-cloud/entities/registrations/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DtoGCPRegistrationResponseExtV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudGoogleCloudRegistration.cloud_registration_gcp_get_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudGoogleCloudRegistration#cloud_registration_gcp_get_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates/Updates a Google Cloud Registration.
    # Creates a new Google Cloud Registration if one doesnt exist or updates the existing Google Cloud Registration. We check for an existing registration based on cid, registration scope and entity ids.
    # @param body [DtoGCPRegistrationCreateRequestExtV1]
    # @param [Hash] opts the optional parameters
    # @return [DtoGCPRegistrationResponseExtV1]
    def cloud_registration_gcp_put_registration(body, opts = {})
      data, _status_code, _headers = cloud_registration_gcp_put_registration_with_http_info(body, opts)
      data
    end

    # Creates/Updates a Google Cloud Registration.
    # Creates a new Google Cloud Registration if one doesnt exist or updates the existing Google Cloud Registration. We check for an existing registration based on cid, registration scope and entity ids.
    # @param body [DtoGCPRegistrationCreateRequestExtV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DtoGCPRegistrationResponseExtV1, Integer, Hash)>] DtoGCPRegistrationResponseExtV1 data, response status code and response headers
    def cloud_registration_gcp_put_registration_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudGoogleCloudRegistration.cloud_registration_gcp_put_registration ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudGoogleCloudRegistration.cloud_registration_gcp_put_registration"
      end
      # resource path
      local_var_path = '/cloud-security-registration-google-cloud/entities/registrations/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DtoGCPRegistrationResponseExtV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudGoogleCloudRegistration.cloud_registration_gcp_put_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudGoogleCloudRegistration#cloud_registration_gcp_put_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger health check scan for GCP registrations
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids GCP Registration IDs
    # @return [DtoHealthCheckTriggerResponseExtV1]
    def cloud_registration_gcp_trigger_health_check(opts = {})
      data, _status_code, _headers = cloud_registration_gcp_trigger_health_check_with_http_info(opts)
      data
    end

    # Trigger health check scan for GCP registrations
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids GCP Registration IDs
    # @return [Array<(DtoHealthCheckTriggerResponseExtV1, Integer, Hash)>] DtoHealthCheckTriggerResponseExtV1 data, response status code and response headers
    def cloud_registration_gcp_trigger_health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudGoogleCloudRegistration.cloud_registration_gcp_trigger_health_check ...'
      end
      # resource path
      local_var_path = '/cloud-security-registration-google-cloud/entities/registration-scans/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DtoHealthCheckTriggerResponseExtV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudGoogleCloudRegistration.cloud_registration_gcp_trigger_health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudGoogleCloudRegistration#cloud_registration_gcp_trigger_health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Google Cloud Registration.
    # @param ids [String] Google Cloud Registration ID
    # @param body [DtoGCPRegistrationUpdateRequestExtV1]
    # @param [Hash] opts the optional parameters
    # @return [DtoGCPRegistrationResponseExtV1]
    def cloud_registration_gcp_update_registration(ids, body, opts = {})
      data, _status_code, _headers = cloud_registration_gcp_update_registration_with_http_info(ids, body, opts)
      data
    end

    # Update a Google Cloud Registration.
    # @param ids [String] Google Cloud Registration ID
    # @param body [DtoGCPRegistrationUpdateRequestExtV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DtoGCPRegistrationResponseExtV1, Integer, Hash)>] DtoGCPRegistrationResponseExtV1 data, response status code and response headers
    def cloud_registration_gcp_update_registration_with_http_info(ids, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudGoogleCloudRegistration.cloud_registration_gcp_update_registration ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudGoogleCloudRegistration.cloud_registration_gcp_update_registration"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudGoogleCloudRegistration.cloud_registration_gcp_update_registration"
      end
      # resource path
      local_var_path = '/cloud-security-registration-google-cloud/entities/registrations/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DtoGCPRegistrationResponseExtV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudGoogleCloudRegistration.cloud_registration_gcp_update_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudGoogleCloudRegistration#cloud_registration_gcp_update_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
