=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class CloudPolicies
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clone an existing compliance framework to create a custom copy
    # @param ids [String] The uuid of the compliance framework to clone
    # @param [Hash] opts the optional parameters
    # @return [CommonCreateComplianceFrameworkResponse]
    def clone_compliance_framework(ids, opts = {})
      data, _status_code, _headers = clone_compliance_framework_with_http_info(ids, opts)
      data
    end

    # Clone an existing compliance framework to create a custom copy
    # @param ids [String] The uuid of the compliance framework to clone
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonCreateComplianceFrameworkResponse, Integer, Hash)>] CommonCreateComplianceFrameworkResponse data, response status code and response headers
    def clone_compliance_framework_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.clone_compliance_framework ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.clone_compliance_framework"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/clone-framework/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCreateComplianceFrameworkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.clone_compliance_framework",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#clone_compliance_framework\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new custom compliance control
    # @param body [CommonCreateComplianceControlRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonCreateComplianceControlResponse]
    def create_compliance_control(body, opts = {})
      data, _status_code, _headers = create_compliance_control_with_http_info(body, opts)
      data
    end

    # Create a new custom compliance control
    # @param body [CommonCreateComplianceControlRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonCreateComplianceControlResponse, Integer, Hash)>] CommonCreateComplianceControlResponse data, response status code and response headers
    def create_compliance_control_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.create_compliance_control ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.create_compliance_control"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/controls/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCreateComplianceControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.create_compliance_control",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#create_compliance_control\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new custom compliance framework
    # @param body [CommonCreateComplianceFrameworkRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonCreateComplianceFrameworkResponse]
    def create_compliance_framework(body, opts = {})
      data, _status_code, _headers = create_compliance_framework_with_http_info(body, opts)
      data
    end

    # Create a new custom compliance framework
    # @param body [CommonCreateComplianceFrameworkRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonCreateComplianceFrameworkResponse, Integer, Hash)>] CommonCreateComplianceFrameworkResponse data, response status code and response headers
    def create_compliance_framework_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.create_compliance_framework ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.create_compliance_framework"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/frameworks/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCreateComplianceFrameworkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.create_compliance_framework",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#create_compliance_framework\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new rule
    # @param body [CommonCreateRuleRequest] Rule severity integer to provide maps to the following: 0&#x3D;Critical, 1&#x3D;High, 2&#x3D;Medium and 3&#x3D;Low. For CSPM IOM Custom Rules, logic is mandatory and parent_rule_id should not be specified. For Runtime IOM Custom Rules (KAC), logic is mandatory. Fields &#x60;controls&#x60;, &#x60;resource_type&#x60;, and &#x60;parent_rule_id&#x60; should not be specified. For Managed Rule duplication, parent_rule_id is mandatory and logic should be not specified.
    # @param [Hash] opts the optional parameters
    # @return [CommonCreateRuleResponse]
    def create_rule_mixin0(body, opts = {})
      data, _status_code, _headers = create_rule_mixin0_with_http_info(body, opts)
      data
    end

    # Create a new rule
    # @param body [CommonCreateRuleRequest] Rule severity integer to provide maps to the following: 0&#x3D;Critical, 1&#x3D;High, 2&#x3D;Medium and 3&#x3D;Low. For CSPM IOM Custom Rules, logic is mandatory and parent_rule_id should not be specified. For Runtime IOM Custom Rules (KAC), logic is mandatory. Fields &#x60;controls&#x60;, &#x60;resource_type&#x60;, and &#x60;parent_rule_id&#x60; should not be specified. For Managed Rule duplication, parent_rule_id is mandatory and logic should be not specified.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonCreateRuleResponse, Integer, Hash)>] CommonCreateRuleResponse data, response status code and response headers
    def create_rule_mixin0_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.create_rule_mixin0 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.create_rule_mixin0"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCreateRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.create_rule_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#create_rule_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new rule override
    # @param body [CommonCreateRuleOverrideRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonCreateRuleOverrideResponse]
    def create_rule_override(body, opts = {})
      data, _status_code, _headers = create_rule_override_with_http_info(body, opts)
      data
    end

    # Create a new rule override
    # @param body [CommonCreateRuleOverrideRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonCreateRuleOverrideResponse, Integer, Hash)>] CommonCreateRuleOverrideResponse data, response status code and response headers
    def create_rule_override_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.create_rule_override ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.create_rule_override"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rule-overrides/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCreateRuleOverrideResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.create_rule_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#create_rule_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new suppression rule
    # @param body [SuppressionrulesCreateSuppressionRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [SuppressionrulesCreateSuppressionRuleResponse]
    def create_suppression_rule(body, opts = {})
      data, _status_code, _headers = create_suppression_rule_with_http_info(body, opts)
      data
    end

    # Create a new suppression rule
    # @param body [SuppressionrulesCreateSuppressionRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuppressionrulesCreateSuppressionRuleResponse, Integer, Hash)>] SuppressionrulesCreateSuppressionRuleResponse data, response status code and response headers
    def create_suppression_rule_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.create_suppression_rule ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.create_suppression_rule"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/suppression-rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionrulesCreateSuppressionRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.create_suppression_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#create_suppression_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete custom compliance controls
    # @param ids [Array<String>] The uuids of compliance control to delete
    # @param [Hash] opts the optional parameters
    # @return [CommonDeleteComplianceControlResponse]
    def delete_compliance_control(ids, opts = {})
      data, _status_code, _headers = delete_compliance_control_with_http_info(ids, opts)
      data
    end

    # Delete custom compliance controls
    # @param ids [Array<String>] The uuids of compliance control to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonDeleteComplianceControlResponse, Integer, Hash)>] CommonDeleteComplianceControlResponse data, response status code and response headers
    def delete_compliance_control_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.delete_compliance_control ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.delete_compliance_control"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/controls/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonDeleteComplianceControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.delete_compliance_control",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#delete_compliance_control\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom compliance framework and all associated controls and rule assignments
    # @param ids [String] The uuids of compliance framework to delete
    # @param [Hash] opts the optional parameters
    # @return [CommonDeleteComplianceFrameworkResponse]
    def delete_compliance_framework(ids, opts = {})
      data, _status_code, _headers = delete_compliance_framework_with_http_info(ids, opts)
      data
    end

    # Delete a custom compliance framework and all associated controls and rule assignments
    # @param ids [String] The uuids of compliance framework to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonDeleteComplianceFrameworkResponse, Integer, Hash)>] CommonDeleteComplianceFrameworkResponse data, response status code and response headers
    def delete_compliance_framework_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.delete_compliance_framework ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.delete_compliance_framework"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/frameworks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonDeleteComplianceFrameworkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.delete_compliance_framework",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#delete_compliance_framework\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a rule
    # @param ids [Array<String>] The uuids of rules to delete
    # @param [Hash] opts the optional parameters
    # @return [CommonDeleteRuleResponse]
    def delete_rule_mixin0(ids, opts = {})
      data, _status_code, _headers = delete_rule_mixin0_with_http_info(ids, opts)
      data
    end

    # Delete a rule
    # @param ids [Array<String>] The uuids of rules to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonDeleteRuleResponse, Integer, Hash)>] CommonDeleteRuleResponse data, response status code and response headers
    def delete_rule_mixin0_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.delete_rule_mixin0 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.delete_rule_mixin0"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonDeleteRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.delete_rule_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#delete_rule_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a rule override
    # @param ids [Array<String>] The uuids of rule overrides to delete
    # @param [Hash] opts the optional parameters
    # @return [CommonDeleteRuleOverrideResponse]
    def delete_rule_override(ids, opts = {})
      data, _status_code, _headers = delete_rule_override_with_http_info(ids, opts)
      data
    end

    # Delete a rule override
    # @param ids [Array<String>] The uuids of rule overrides to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonDeleteRuleOverrideResponse, Integer, Hash)>] CommonDeleteRuleOverrideResponse data, response status code and response headers
    def delete_rule_override_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.delete_rule_override ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.delete_rule_override"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rule-overrides/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonDeleteRuleOverrideResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.delete_rule_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#delete_rule_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Suppression Rules by ID
    # @param ids [Array<String>] The uuids of the suppression rules to delete. A maximum of 10 IDs can be provided.
    # @param [Hash] opts the optional parameters
    # @return [SuppressionrulesDeleteSuppressionRulesResponse]
    def delete_suppression_rules(ids, opts = {})
      data, _status_code, _headers = delete_suppression_rules_with_http_info(ids, opts)
      data
    end

    # Delete Suppression Rules by ID
    # @param ids [Array<String>] The uuids of the suppression rules to delete. A maximum of 10 IDs can be provided.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuppressionrulesDeleteSuppressionRulesResponse, Integer, Hash)>] SuppressionrulesDeleteSuppressionRulesResponse data, response status code and response headers
    def delete_suppression_rules_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.delete_suppression_rules ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.delete_suppression_rules"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/suppression-rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionrulesDeleteSuppressionRulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.delete_suppression_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#delete_suppression_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compliance controls by ID
    # @param ids [Array<String>] The uuids of compliance controls to retrieve
    # @param [Hash] opts the optional parameters
    # @return [CommonGetComplianceControlsResponse]
    def get_compliance_controls(ids, opts = {})
      data, _status_code, _headers = get_compliance_controls_with_http_info(ids, opts)
      data
    end

    # Get compliance controls by ID
    # @param ids [Array<String>] The uuids of compliance controls to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonGetComplianceControlsResponse, Integer, Hash)>] CommonGetComplianceControlsResponse data, response status code and response headers
    def get_compliance_controls_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_compliance_controls ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.get_compliance_controls"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/controls/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonGetComplianceControlsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_compliance_controls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_compliance_controls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compliance frameworks by ID
    # @param ids [Array<String>] The uuids of compliance frameworks to retrieve
    # @param [Hash] opts the optional parameters
    # @return [CommonGetComplianceFrameworksResponse]
    def get_compliance_frameworks(ids, opts = {})
      data, _status_code, _headers = get_compliance_frameworks_with_http_info(ids, opts)
      data
    end

    # Get compliance frameworks by ID
    # @param ids [Array<String>] The uuids of compliance frameworks to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonGetComplianceFrameworksResponse, Integer, Hash)>] CommonGetComplianceFrameworksResponse data, response status code and response headers
    def get_compliance_frameworks_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_compliance_frameworks ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.get_compliance_frameworks"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/frameworks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonGetComplianceFrameworksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_compliance_frameworks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_compliance_frameworks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets enriched assets that combine a primary resource with all its related resources
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of asset IDs (maximum 100 IDs allowed).
    # @option opts [String] :domain Rule domain (Currently only used for KAC Rego rules)
    # @option opts [String] :subdomain Rule subdomain (Currently only used for KAC Rego rules)
    # @option opts [String] :resource_type Currently the Resource type field is only used when KAC Rules are specified vai Domain: Runtime &amp; Subdomain: IOM. For KAC rules, we return static sample data instead of real assets b/c we don&#39;t have KAC payloads stored for customers. This field valued selects what sample data resource type we return which the UI shows in the Rego Editor to do test evaluations
    # @return [CommonCursorQueryResponse]
    def get_enriched_asset(opts = {})
      data, _status_code, _headers = get_enriched_asset_with_http_info(opts)
      data
    end

    # Gets enriched assets that combine a primary resource with all its related resources
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of asset IDs (maximum 100 IDs allowed).
    # @option opts [String] :domain Rule domain (Currently only used for KAC Rego rules)
    # @option opts [String] :subdomain Rule subdomain (Currently only used for KAC Rego rules)
    # @option opts [String] :resource_type Currently the Resource type field is only used when KAC Rules are specified vai Domain: Runtime &amp; Subdomain: IOM. For KAC rules, we return static sample data instead of real assets b/c we don&#39;t have KAC payloads stored for customers. This field valued selects what sample data resource type we return which the UI shows in the Rego Editor to do test evaluations
    # @return [Array<(CommonCursorQueryResponse, Integer, Hash)>] CommonCursorQueryResponse data, response status code and response headers
    def get_enriched_asset_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_enriched_asset ...'
      end
      allowable_values = ["cronjobs", "daemonsets", "deployments", "jobs", "pods", "replicasets", "replicationcontrollers", "services", "statefulsets"]
      if @api_client.config.client_side_validation && opts[:'resource_type'] && !allowable_values.include?(opts[:'resource_type'])
        fail ArgumentError, "invalid value for \"resource_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/enriched-resources/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'subdomain'] = opts[:'subdomain'] if !opts[:'subdomain'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCursorQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_enriched_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_enriched_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets evaluation results based on the provided rule
    # @param body [CommonEvaluationRequestPayload]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cloud_provider Cloud Service Provider of the provided IDs
    # @option opts [String] :resource_type Resource Type of the provided IDs
    # @option opts [Array<String>] :ids List of assets to evaluate (maximum 100 IDs allowed).
    # @return [CommonCursorQueryResponse]
    def get_evaluation_result(body, opts = {})
      data, _status_code, _headers = get_evaluation_result_with_http_info(body, opts)
      data
    end

    # Gets evaluation results based on the provided rule
    # @param body [CommonEvaluationRequestPayload]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cloud_provider Cloud Service Provider of the provided IDs
    # @option opts [String] :resource_type Resource Type of the provided IDs
    # @option opts [Array<String>] :ids List of assets to evaluate (maximum 100 IDs allowed).
    # @return [Array<(CommonCursorQueryResponse, Integer, Hash)>] CommonCursorQueryResponse data, response status code and response headers
    def get_evaluation_result_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_evaluation_result ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.get_evaluation_result"
      end
      allowable_values = ["aws", "azure", "gcp", "oci"]
      if @api_client.config.client_side_validation && opts[:'cloud_provider'] && !allowable_values.include?(opts[:'cloud_provider'])
        fail ArgumentError, "invalid value for \"cloud_provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/evaluation/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cloud_provider'] = opts[:'cloud_provider'] if !opts[:'cloud_provider'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCursorQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_evaluation_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_evaluation_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a rule by id
    # @param ids [Array<String>] The uuids of rules to retrieve
    # @param [Hash] opts the optional parameters
    # @return [CommonGetRulesResponse]
    def get_rule(ids, opts = {})
      data, _status_code, _headers = get_rule_with_http_info(ids, opts)
      data
    end

    # Get a rule by id
    # @param ids [Array<String>] The uuids of rules to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonGetRulesResponse, Integer, Hash)>] CommonGetRulesResponse data, response status code and response headers
    def get_rule_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_rule ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.get_rule"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonGetRulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get rule input schema for given resource type
    # @param domain [String] domain
    # @param subdomain [String] subdomain
    # @param resource_type [String] Selects the resource type for which to retrieve the rule input schema
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cloud_provider Cloud service provider for the resource type
    # @return [CommonRuleInputSchemaResponse]
    def get_rule_input_schema(domain, subdomain, resource_type, opts = {})
      data, _status_code, _headers = get_rule_input_schema_with_http_info(domain, subdomain, resource_type, opts)
      data
    end

    # Get rule input schema for given resource type
    # @param domain [String] domain
    # @param subdomain [String] subdomain
    # @param resource_type [String] Selects the resource type for which to retrieve the rule input schema
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cloud_provider Cloud service provider for the resource type
    # @return [Array<(CommonRuleInputSchemaResponse, Integer, Hash)>] CommonRuleInputSchemaResponse data, response status code and response headers
    def get_rule_input_schema_with_http_info(domain, subdomain, resource_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_rule_input_schema ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling CloudPolicies.get_rule_input_schema"
      end
      # verify the required parameter 'subdomain' is set
      if @api_client.config.client_side_validation && subdomain.nil?
        fail ArgumentError, "Missing the required parameter 'subdomain' when calling CloudPolicies.get_rule_input_schema"
      end
      # verify the required parameter 'resource_type' is set
      if @api_client.config.client_side_validation && resource_type.nil?
        fail ArgumentError, "Missing the required parameter 'resource_type' when calling CloudPolicies.get_rule_input_schema"
      end
      allowable_values = ["aws", "azure", "gcp", "oci"]
      if @api_client.config.client_side_validation && opts[:'cloud_provider'] && !allowable_values.include?(opts[:'cloud_provider'])
        fail ArgumentError, "invalid value for \"cloud_provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/cloud-policies/combined/rules/input-schema/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = domain
      query_params[:'subdomain'] = subdomain
      query_params[:'resource_type'] = resource_type
      query_params[:'cloud_provider'] = opts[:'cloud_provider'] if !opts[:'cloud_provider'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonRuleInputSchemaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_rule_input_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_rule_input_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a rule override
    # @param ids [Array<String>] The uuids of rule overrides to retrieve
    # @param [Hash] opts the optional parameters
    # @return [CommonGetRuleOverrideResponse]
    def get_rule_override(ids, opts = {})
      data, _status_code, _headers = get_rule_override_with_http_info(ids, opts)
      data
    end

    # Get a rule override
    # @param ids [Array<String>] The uuids of rule overrides to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonGetRuleOverrideResponse, Integer, Hash)>] CommonGetRuleOverrideResponse data, response status code and response headers
    def get_rule_override_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_rule_override ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.get_rule_override"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rule-overrides/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonGetRuleOverrideResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_rule_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_rule_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Suppression Rules by ID
    # @param ids [Array<String>] The uuids of the suppression rules to retrieve
    # @param [Hash] opts the optional parameters
    # @return [SuppressionrulesGetSuppressionRulesResponse]
    def get_suppression_rules(ids, opts = {})
      data, _status_code, _headers = get_suppression_rules_with_http_info(ids, opts)
      data
    end

    # Get Suppression Rules by ID
    # @param ids [Array<String>] The uuids of the suppression rules to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuppressionrulesGetSuppressionRulesResponse, Integer, Hash)>] SuppressionrulesGetSuppressionRulesResponse data, response status code and response headers
    def get_suppression_rules_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.get_suppression_rules ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.get_suppression_rules"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/suppression-rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionrulesGetSuppressionRulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.get_suppression_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#get_suppression_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query for compliance controls by various parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed props:    *compliance_control_name*  *compliance_control_authority*  *compliance_control_type*  *compliance_control_section*  *compliance_control_requirement*  *compliance_control_benchmark_name*  *compliance_control_benchmark_version*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *compliance_control_name*  *compliance_control_authority*  *compliance_control_type*  *compliance_control_section*  *compliance_control_requirement*  *compliance_control_benchmark_name*  *compliance_control_benchmark_version*     Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [CommonQueryResponse]
    def query_compliance_controls(opts = {})
      data, _status_code, _headers = query_compliance_controls_with_http_info(opts)
      data
    end

    # Query for compliance controls by various parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed props:    *compliance_control_name*  *compliance_control_authority*  *compliance_control_type*  *compliance_control_section*  *compliance_control_requirement*  *compliance_control_benchmark_name*  *compliance_control_benchmark_version*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *compliance_control_name*  *compliance_control_authority*  *compliance_control_type*  *compliance_control_section*  *compliance_control_requirement*  *compliance_control_benchmark_name*  *compliance_control_benchmark_version*     Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [Array<(CommonQueryResponse, Integer, Hash)>] CommonQueryResponse data, response status code and response headers
    def query_compliance_controls_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.query_compliance_controls ...'
      end
      # resource path
      local_var_path = '/cloud-policies/queries/compliance/controls/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.query_compliance_controls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#query_compliance_controls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query for compliance frameworks by various parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed properties:    *compliance_framework_name*  *compliance_framework_version*  *compliance_framework_authority*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *compliance_framework_name*  *compliance_framework_version*  *compliance_framework_authority*     Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [CommonQueryResponse]
    def query_compliance_frameworks(opts = {})
      data, _status_code, _headers = query_compliance_frameworks_with_http_info(opts)
      data
    end

    # Query for compliance frameworks by various parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed properties:    *compliance_framework_name*  *compliance_framework_version*  *compliance_framework_authority*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *compliance_framework_name*  *compliance_framework_version*  *compliance_framework_authority*     Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [Array<(CommonQueryResponse, Integer, Hash)>] CommonQueryResponse data, response status code and response headers
    def query_compliance_frameworks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.query_compliance_frameworks ...'
      end
      # resource path
      local_var_path = '/cloud-policies/queries/compliance/frameworks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.query_compliance_frameworks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#query_compliance_frameworks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query for rules by various parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed properties:    *rule_auto_remediable*  *rule_category*  *rule_cloneable*  *rule_compliance_benchmark*  *rule_compliance_benchmark_uuid*  *rule_compliance_framework*  *rule_control_requirement*  *rule_control_section*  *rule_created_at*  *rule_description*  *rule_domain*  *rule_mitre_tactic*  *rule_mitre_technique*  *rule_name*  *rule_origin*  *rule_parent_uuid*  *rule_provider*  *rule_resource_type*  *rule_resource_type_name*  *rule_risk_factor*  *rule_service*  *rule_severity*  *rule_short_code*  *rule_status*  *rule_subdomain*  *rule_updated_at*  *rule_updated_by*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *rule_auto_remediable*  *rule_category*  *rule_cloneable*  *rule_compliance_benchmark*  *rule_compliance_benchmark_uuid*  *rule_compliance_framework*  *rule_control_requirement*  *rule_control_section*  *rule_created_at*  *rule_description*  *rule_domain*  *rule_mitre_tactic*  *rule_mitre_technique*  *rule_name*  *rule_origin*  *rule_parent_uuid*  *rule_provider*  *rule_resource_type*  *rule_resource_type_name*  *rule_risk_factor*  *rule_service*  *rule_severity*  *rule_short_code*  *rule_status*  *rule_subdomain*  *rule_updated_at*  *rule_updated_by*     Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [CommonQueryResponse]
    def query_rule(opts = {})
      data, _status_code, _headers = query_rule_with_http_info(opts)
      data
    end

    # Query for rules by various parameters
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, allowed properties:    *rule_auto_remediable*  *rule_category*  *rule_cloneable*  *rule_compliance_benchmark*  *rule_compliance_benchmark_uuid*  *rule_compliance_framework*  *rule_control_requirement*  *rule_control_section*  *rule_created_at*  *rule_description*  *rule_domain*  *rule_mitre_tactic*  *rule_mitre_technique*  *rule_name*  *rule_origin*  *rule_parent_uuid*  *rule_provider*  *rule_resource_type*  *rule_resource_type_name*  *rule_risk_factor*  *rule_service*  *rule_severity*  *rule_short_code*  *rule_status*  *rule_subdomain*  *rule_updated_at*  *rule_updated_by*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 500. (default to 100)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *rule_auto_remediable*  *rule_category*  *rule_cloneable*  *rule_compliance_benchmark*  *rule_compliance_benchmark_uuid*  *rule_compliance_framework*  *rule_control_requirement*  *rule_control_section*  *rule_created_at*  *rule_description*  *rule_domain*  *rule_mitre_tactic*  *rule_mitre_technique*  *rule_name*  *rule_origin*  *rule_parent_uuid*  *rule_provider*  *rule_resource_type*  *rule_resource_type_name*  *rule_risk_factor*  *rule_service*  *rule_severity*  *rule_short_code*  *rule_status*  *rule_subdomain*  *rule_updated_at*  *rule_updated_by*     Use the &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @return [Array<(CommonQueryResponse, Integer, Hash)>] CommonQueryResponse data, response status code and response headers
    def query_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.query_rule ...'
      end
      # resource path
      local_var_path = '/cloud-policies/queries/rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommonQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.query_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#query_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query suppression rules with filtering, sorting and pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL expression to filter suppression rules. The allowed properties are:    *name*  *description*  *domain*  *subdomain*  *suppression_expiration_date*  *suppression_reason*  *created_by*  *created_at*  *last_modified_at*  *disabled*  *groups*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 50. (default to 20)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *name*  *description*  *domain*  *subdomain*  *suppression_expiration_date*  *suppression_reason*  *created_by*  *created_at*  *last_modified_at*  *disabled*  *groups*     Use the &#x60;.asc&#x60; or &#x60;.desc&#x60; suffix to specify sort direction.
    # @return [SuppressionrulesQuerySuppressionRulesResponse]
    def query_suppression_rules(opts = {})
      data, _status_code, _headers = query_suppression_rules_with_http_info(opts)
      data
    end

    # Query suppression rules with filtering, sorting and pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL expression to filter suppression rules. The allowed properties are:    *name*  *description*  *domain*  *subdomain*  *suppression_expiration_date*  *suppression_reason*  *created_by*  *created_at*  *last_modified_at*  *disabled*  *groups*
    # @option opts [Integer] :limit The maximum number of resources to return. The maximum allowed is 50. (default to 20)
    # @option opts [Integer] :offset The number of results to skip before starting to return results. (default to 0)
    # @option opts [String] :sort Field to sort on. Sortable fields:    *name*  *description*  *domain*  *subdomain*  *suppression_expiration_date*  *suppression_reason*  *created_by*  *created_at*  *last_modified_at*  *disabled*  *groups*     Use the &#x60;.asc&#x60; or &#x60;.desc&#x60; suffix to specify sort direction.
    # @return [Array<(SuppressionrulesQuerySuppressionRulesResponse, Integer, Hash)>] SuppressionrulesQuerySuppressionRulesResponse data, response status code and response headers
    def query_suppression_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.query_suppression_rules ...'
      end
      # resource path
      local_var_path = '/cloud-policies/queries/suppression-rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionrulesQuerySuppressionRulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.query_suppression_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#query_suppression_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a section in a custom compliance framework
    # @param ids [String] The uuid of compliance framework containing the section to rename
    # @param section_name [String] The current name of the section to rename
    # @param body [CommonRenameSectionRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonRenameSectionResponse]
    def rename_section_compliance_framework(ids, section_name, body, opts = {})
      data, _status_code, _headers = rename_section_compliance_framework_with_http_info(ids, section_name, body, opts)
      data
    end

    # Rename a section in a custom compliance framework
    # @param ids [String] The uuid of compliance framework containing the section to rename
    # @param section_name [String] The current name of the section to rename
    # @param body [CommonRenameSectionRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonRenameSectionResponse, Integer, Hash)>] CommonRenameSectionResponse data, response status code and response headers
    def rename_section_compliance_framework_with_http_info(ids, section_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.rename_section_compliance_framework ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.rename_section_compliance_framework"
      end
      # verify the required parameter 'section_name' is set
      if @api_client.config.client_side_validation && section_name.nil?
        fail ArgumentError, "Missing the required parameter 'section_name' when calling CloudPolicies.rename_section_compliance_framework"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.rename_section_compliance_framework"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/frameworks/section/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids
      query_params[:'sectionName'] = section_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonRenameSectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.rename_section_compliance_framework",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#rename_section_compliance_framework\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign rules to a compliance control (full replace)
    # @param ids [String] The UUID of the compliance control to assign rules to
    # @param body [CommonAssignRulesToControlRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonAssignRulesToControlResponse]
    def replace_control_rules(ids, body, opts = {})
      data, _status_code, _headers = replace_control_rules_with_http_info(ids, body, opts)
      data
    end

    # Assign rules to a compliance control (full replace)
    # @param ids [String] The UUID of the compliance control to assign rules to
    # @param body [CommonAssignRulesToControlRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonAssignRulesToControlResponse, Integer, Hash)>] CommonAssignRulesToControlResponse data, response status code and response headers
    def replace_control_rules_with_http_info(ids, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.replace_control_rules ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.replace_control_rules"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.replace_control_rules"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/control-rule-assignments/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonAssignRulesToControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.replace_control_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#replace_control_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a custom compliance control
    # @param ids [String] The uuid of compliance control to update
    # @param body [CommonUpdateComplianceControlRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonCreateComplianceControlResponse]
    def update_compliance_control(ids, body, opts = {})
      data, _status_code, _headers = update_compliance_control_with_http_info(ids, body, opts)
      data
    end

    # Update a custom compliance control
    # @param ids [String] The uuid of compliance control to update
    # @param body [CommonUpdateComplianceControlRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonCreateComplianceControlResponse, Integer, Hash)>] CommonCreateComplianceControlResponse data, response status code and response headers
    def update_compliance_control_with_http_info(ids, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.update_compliance_control ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.update_compliance_control"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.update_compliance_control"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/controls/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCreateComplianceControlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.update_compliance_control",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#update_compliance_control\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a custom compliance framework
    # @param ids [String] The uuids of compliance framework to update
    # @param body [CommonUpdateComplianceFrameworkRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonCreateComplianceFrameworkResponse]
    def update_compliance_framework(ids, body, opts = {})
      data, _status_code, _headers = update_compliance_framework_with_http_info(ids, body, opts)
      data
    end

    # Update a custom compliance framework
    # @param ids [String] The uuids of compliance framework to update
    # @param body [CommonUpdateComplianceFrameworkRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonCreateComplianceFrameworkResponse, Integer, Hash)>] CommonCreateComplianceFrameworkResponse data, response status code and response headers
    def update_compliance_framework_with_http_info(ids, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.update_compliance_framework ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudPolicies.update_compliance_framework"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.update_compliance_framework"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/compliance/frameworks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonCreateComplianceFrameworkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.update_compliance_framework",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#update_compliance_framework\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rule
    # @param body [CommonUpdateRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonGetRulesResponse]
    def update_rule(body, opts = {})
      data, _status_code, _headers = update_rule_with_http_info(body, opts)
      data
    end

    # Update a rule
    # @param body [CommonUpdateRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonGetRulesResponse, Integer, Hash)>] CommonGetRulesResponse data, response status code and response headers
    def update_rule_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.update_rule ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.update_rule"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonGetRulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.update_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#update_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rule override
    # @param body [CommonUpdateRuleOverrideRequest]
    # @param [Hash] opts the optional parameters
    # @return [CommonUpdateRuleOverrideResponse]
    def update_rule_override(body, opts = {})
      data, _status_code, _headers = update_rule_override_with_http_info(body, opts)
      data
    end

    # Update a rule override
    # @param body [CommonUpdateRuleOverrideRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonUpdateRuleOverrideResponse, Integer, Hash)>] CommonUpdateRuleOverrideResponse data, response status code and response headers
    def update_rule_override_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.update_rule_override ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.update_rule_override"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/rule-overrides/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CommonUpdateRuleOverrideResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.update_rule_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#update_rule_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a suppression rule
    # @param body [SuppressionrulesUpdateSuppressionRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [SuppressionrulesUpdateSuppressionRuleResponse]
    def update_suppression_rule(body, opts = {})
      data, _status_code, _headers = update_suppression_rule_with_http_info(body, opts)
      data
    end

    # Update a suppression rule
    # @param body [SuppressionrulesUpdateSuppressionRuleRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuppressionrulesUpdateSuppressionRuleResponse, Integer, Hash)>] SuppressionrulesUpdateSuppressionRuleResponse data, response status code and response headers
    def update_suppression_rule_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudPolicies.update_suppression_rule ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudPolicies.update_suppression_rule"
      end
      # resource path
      local_var_path = '/cloud-policies/entities/suppression-rules/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionrulesUpdateSuppressionRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudPolicies.update_suppression_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudPolicies#update_suppression_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
