=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class CloudSecurity
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets cloud risks with full details based on filters and sort criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL string to filter results in Falcon Query Language (FQL). Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;adversary&#x60; - &#x60;asset_gcrn&#x60; - &#x60;asset_id&#x60; - &#x60;asset_name&#x60; - &#x60;asset_region&#x60; - &#x60;asset_type&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_provider&#x60; - &#x60;first_seen&#x60; - &#x60;groups&#x60; - &#x60;groups.business_impact&#x60; - &#x60;groups.business_unit&#x60; - &#x60;groups.environment&#x60; - &#x60;last_seen&#x60; - &#x60;resolved_at&#x60; - &#x60;risk_factor&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;suppressed_reason&#x60; - &#x60;tags&#x60; - &#x60;threat_actors&#x60;
    # @option opts [String] :sort The field to sort on. Use &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;asset_id&#x60; - &#x60;asset_name&#x60; - &#x60;asset_region&#x60; - &#x60;asset_type&#x60; - &#x60;cloud_provider&#x60; - &#x60;first_seen&#x60; - &#x60;last_seen&#x60; - &#x60;resolved_at&#x60; - &#x60;rule_name&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60;
    # @option opts [Integer] :limit The maximum number of items to return. When not specified or 0, 500 is used. When larger than 1000, 1000 is used. (default to 500)
    # @option opts [Integer] :offset Offset returned risks
    # @return [RisksGetCloudRisksResponse]
    def combined_cloud_risks(opts = {})
      data, _status_code, _headers = combined_cloud_risks_with_http_info(opts)
      data
    end

    # Gets cloud risks with full details based on filters and sort criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL string to filter results in Falcon Query Language (FQL). Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;adversary&#x60; - &#x60;asset_gcrn&#x60; - &#x60;asset_id&#x60; - &#x60;asset_name&#x60; - &#x60;asset_region&#x60; - &#x60;asset_type&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_provider&#x60; - &#x60;first_seen&#x60; - &#x60;groups&#x60; - &#x60;groups.business_impact&#x60; - &#x60;groups.business_unit&#x60; - &#x60;groups.environment&#x60; - &#x60;last_seen&#x60; - &#x60;resolved_at&#x60; - &#x60;risk_factor&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;suppressed_reason&#x60; - &#x60;tags&#x60; - &#x60;threat_actors&#x60;
    # @option opts [String] :sort The field to sort on. Use &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;asset_id&#x60; - &#x60;asset_name&#x60; - &#x60;asset_region&#x60; - &#x60;asset_type&#x60; - &#x60;cloud_provider&#x60; - &#x60;first_seen&#x60; - &#x60;last_seen&#x60; - &#x60;resolved_at&#x60; - &#x60;rule_name&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60;
    # @option opts [Integer] :limit The maximum number of items to return. When not specified or 0, 500 is used. When larger than 1000, 1000 is used. (default to 500)
    # @option opts [Integer] :offset Offset returned risks
    # @return [Array<(RisksGetCloudRisksResponse, Integer, Hash)>] RisksGetCloudRisksResponse data, response status code and response headers
    def combined_cloud_risks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurity.combined_cloud_risks ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudSecurity.combined_cloud_risks, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudSecurity.combined_cloud_risks, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CloudSecurity.combined_cloud_risks, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/cloud-security-risks/combined/cloud-risks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RisksGetCloudRisksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurity.combined_cloud_risks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurity#combined_cloud_risks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Cloud Group. The created_by field will be set to the API client ID.
    # @param body [AssetgroupmanagerV1CreateCloudGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [AssetgroupmanagerV1CreateCloudGroupResponse]
    def create_cloud_group_external(body, opts = {})
      data, _status_code, _headers = create_cloud_group_external_with_http_info(body, opts)
      data
    end

    # Create a Cloud Group. The created_by field will be set to the API client ID.
    # @param body [AssetgroupmanagerV1CreateCloudGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetgroupmanagerV1CreateCloudGroupResponse, Integer, Hash)>] AssetgroupmanagerV1CreateCloudGroupResponse data, response status code and response headers
    def create_cloud_group_external_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurity.create_cloud_group_external ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CloudSecurity.create_cloud_group_external"
      end
      # resource path
      local_var_path = '/cloud-security/entities/cloud-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetgroupmanagerV1CreateCloudGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurity.create_cloud_group_external",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurity#create_cloud_group_external\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Cloud Groups in batch
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Cloud Groups UUIDs to delete
    # @return [Object]
    def delete_cloud_groups_external(opts = {})
      data, _status_code, _headers = delete_cloud_groups_external_with_http_info(opts)
      data
    end

    # Delete Cloud Groups in batch
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Cloud Groups UUIDs to delete
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_cloud_groups_external_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurity.delete_cloud_groups_external ...'
      end
      # resource path
      local_var_path = '/cloud-security/entities/cloud-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurity.delete_cloud_groups_external",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurity#delete_cloud_groups_external\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query Cloud Groups and returns IDs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter A valid FQL filter. Supports filtering groups by: Group properties: - &#x60;name&#x60; - &#x60;description&#x60; - &#x60;created_at&#x60; - &#x60;updated_at&#x60;  Selector properties: - &#x60;cloud_provider&#x60; - &#x60;account_id&#x60; - &#x60;region&#x60; - &#x60;cloud_provider_tag&#x60; - &#x60;image_registry&#x60; - &#x60;image_repository&#x60; - &#x60;image_tag&#x60; - &#x60;selector.kubernetes_resource.cluster&#x60; - &#x60;selector.kubernetes_resource.namespace&#x60;  Group tags: - &#x60;business_unit&#x60; - &#x60;business_impact&#x60; - &#x60;environment&#x60;
    # @option opts [String] :sort A valid sort string. (default to 'name|asc')
    # @option opts [String] :offset The starting position of the list operation. (default to '0')
    # @option opts [String] :limit The maximum number of cloud groups to retrieve. (default to '100')
    # @return [AssetgroupmanagerV1ListCloudGroupIDsResponse]
    def list_cloud_group_ids_external(opts = {})
      data, _status_code, _headers = list_cloud_group_ids_external_with_http_info(opts)
      data
    end

    # Query Cloud Groups and returns IDs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter A valid FQL filter. Supports filtering groups by: Group properties: - &#x60;name&#x60; - &#x60;description&#x60; - &#x60;created_at&#x60; - &#x60;updated_at&#x60;  Selector properties: - &#x60;cloud_provider&#x60; - &#x60;account_id&#x60; - &#x60;region&#x60; - &#x60;cloud_provider_tag&#x60; - &#x60;image_registry&#x60; - &#x60;image_repository&#x60; - &#x60;image_tag&#x60; - &#x60;selector.kubernetes_resource.cluster&#x60; - &#x60;selector.kubernetes_resource.namespace&#x60;  Group tags: - &#x60;business_unit&#x60; - &#x60;business_impact&#x60; - &#x60;environment&#x60;
    # @option opts [String] :sort A valid sort string. (default to 'name|asc')
    # @option opts [String] :offset The starting position of the list operation. (default to '0')
    # @option opts [String] :limit The maximum number of cloud groups to retrieve. (default to '100')
    # @return [Array<(AssetgroupmanagerV1ListCloudGroupIDsResponse, Integer, Hash)>] AssetgroupmanagerV1ListCloudGroupIDsResponse data, response status code and response headers
    def list_cloud_group_ids_external_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurity.list_cloud_group_ids_external ...'
      end
      # resource path
      local_var_path = '/cloud-security/queries/cloud-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetgroupmanagerV1ListCloudGroupIDsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurity.list_cloud_group_ids_external",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurity#list_cloud_group_ids_external\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Cloud Groups By ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids
    # @return [AssetgroupmanagerV1ListCloudGroupsResponse]
    def list_cloud_groups_by_id_external(opts = {})
      data, _status_code, _headers = list_cloud_groups_by_id_external_with_http_info(opts)
      data
    end

    # List Cloud Groups By ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids
    # @return [Array<(AssetgroupmanagerV1ListCloudGroupsResponse, Integer, Hash)>] AssetgroupmanagerV1ListCloudGroupsResponse data, response status code and response headers
    def list_cloud_groups_by_id_external_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurity.list_cloud_groups_by_id_external ...'
      end
      # resource path
      local_var_path = '/cloud-security/entities/cloud-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetgroupmanagerV1ListCloudGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurity.list_cloud_groups_by_id_external",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurity#list_cloud_groups_by_id_external\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query Cloud Groups and returns entities
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter A valid FQL filter. Supports filtering groups by: Group properties: - &#x60;name&#x60; - &#x60;description&#x60; - &#x60;created_at&#x60; - &#x60;updated_at&#x60;  Selector properties: - &#x60;cloud_provider&#x60; - &#x60;account_id&#x60; - &#x60;region&#x60; - &#x60;cloud_provider_tag&#x60; - &#x60;image_registry&#x60; - &#x60;image_repository&#x60; - &#x60;image_tag&#x60; - &#x60;selector.kubernetes_resource.cluster&#x60; - &#x60;selector.kubernetes_resource.namespace&#x60;  Group tags: - &#x60;business_unit&#x60; - &#x60;business_impact&#x60; - &#x60;environment&#x60;
    # @option opts [String] :sort A valid sort string. (default to 'name|asc')
    # @option opts [String] :offset The starting position of the list operation. (default to '0')
    # @option opts [String] :limit The maximum number of cloud groups to retrieve. (default to '100')
    # @return [AssetgroupmanagerV1ListCloudGroupsResponse]
    def list_cloud_groups_external(opts = {})
      data, _status_code, _headers = list_cloud_groups_external_with_http_info(opts)
      data
    end

    # Query Cloud Groups and returns entities
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter A valid FQL filter. Supports filtering groups by: Group properties: - &#x60;name&#x60; - &#x60;description&#x60; - &#x60;created_at&#x60; - &#x60;updated_at&#x60;  Selector properties: - &#x60;cloud_provider&#x60; - &#x60;account_id&#x60; - &#x60;region&#x60; - &#x60;cloud_provider_tag&#x60; - &#x60;image_registry&#x60; - &#x60;image_repository&#x60; - &#x60;image_tag&#x60; - &#x60;selector.kubernetes_resource.cluster&#x60; - &#x60;selector.kubernetes_resource.namespace&#x60;  Group tags: - &#x60;business_unit&#x60; - &#x60;business_impact&#x60; - &#x60;environment&#x60;
    # @option opts [String] :sort A valid sort string. (default to 'name|asc')
    # @option opts [String] :offset The starting position of the list operation. (default to '0')
    # @option opts [String] :limit The maximum number of cloud groups to retrieve. (default to '100')
    # @return [Array<(AssetgroupmanagerV1ListCloudGroupsResponse, Integer, Hash)>] AssetgroupmanagerV1ListCloudGroupsResponse data, response status code and response headers
    def list_cloud_groups_external_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurity.list_cloud_groups_external ...'
      end
      # resource path
      local_var_path = '/cloud-security/combined/cloud-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetgroupmanagerV1ListCloudGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurity.list_cloud_groups_external",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurity#list_cloud_groups_external\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Cloud Group
    # @param group [AssetgroupmanagerV1UpdateCloudGroupMessage]
    # @param [Hash] opts the optional parameters
    # @return [AssetgroupmanagerV1UpdateCloudGroupResponse]
    def update_cloud_group_external(group, opts = {})
      data, _status_code, _headers = update_cloud_group_external_with_http_info(group, opts)
      data
    end

    # Update Cloud Group
    # @param group [AssetgroupmanagerV1UpdateCloudGroupMessage]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetgroupmanagerV1UpdateCloudGroupResponse, Integer, Hash)>] AssetgroupmanagerV1UpdateCloudGroupResponse data, response status code and response headers
    def update_cloud_group_external_with_http_info(group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurity.update_cloud_group_external ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling CloudSecurity.update_cloud_group_external"
      end
      # resource path
      local_var_path = '/cloud-security/entities/cloud-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetgroupmanagerV1UpdateCloudGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurity.update_cloud_group_external",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurity#update_cloud_group_external\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
