=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class CloudSecurityDetections
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # returns ioms grouped by rule
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL string to filter results in Falcon Query Language (FQL). Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;applicable_profile&#x60; - &#x60;attack_type&#x60; - &#x60;benchmark_name&#x60; - &#x60;benchmark_version&#x60; - &#x60;business_impact&#x60; - &#x60;cid&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;cloud_scope&#x60; - &#x60;created_at&#x60; - &#x60;environment&#x60; - &#x60;extension_status&#x60; - &#x60;first_detected&#x60; - &#x60;framework&#x60; - &#x60;last_detected&#x60; - &#x60;policy_id&#x60; - &#x60;policy_name&#x60; - &#x60;region&#x60; - &#x60;requirement&#x60; - &#x60;resource_gcrn&#x60; - &#x60;resource_id&#x60; - &#x60;resource_parent&#x60; - &#x60;resource_status&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;rule_group&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;rule_origin&#x60; - &#x60;section&#x60; - &#x60;service&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;tactic_id&#x60; - &#x60;tactic_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags&#x60; - &#x60;tags_string&#x60; - &#x60;technique_id&#x60; - &#x60;technique_name&#x60; - &#x60;tenant_id&#x60; - &#x60;zone&#x60;
    # @option opts [String] :sort The field to sort on.  Sortable fields include: - &#x60;assessed_assets&#x60; - &#x60;cloud_provider&#x60; - &#x60;misconfigurations&#x60; - &#x60;rule_id&#x60; - &#x60;severity&#x60;  Use &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @option opts [Integer] :limit The maximum number of items to return. When not specified or 0, 500 is used. When larger than 1000, 1000 is used. (default to 500)
    # @option opts [Integer] :offset Offset returned assets
    # @return [EvaluationsIOMsByRuleResponse]
    def cspm_evaluations_combined_iom_by_rule(opts = {})
      data, _status_code, _headers = cspm_evaluations_combined_iom_by_rule_with_http_info(opts)
      data
    end

    # returns ioms grouped by rule
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL string to filter results in Falcon Query Language (FQL). Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;applicable_profile&#x60; - &#x60;attack_type&#x60; - &#x60;benchmark_name&#x60; - &#x60;benchmark_version&#x60; - &#x60;business_impact&#x60; - &#x60;cid&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;cloud_scope&#x60; - &#x60;created_at&#x60; - &#x60;environment&#x60; - &#x60;extension_status&#x60; - &#x60;first_detected&#x60; - &#x60;framework&#x60; - &#x60;last_detected&#x60; - &#x60;policy_id&#x60; - &#x60;policy_name&#x60; - &#x60;region&#x60; - &#x60;requirement&#x60; - &#x60;resource_gcrn&#x60; - &#x60;resource_id&#x60; - &#x60;resource_parent&#x60; - &#x60;resource_status&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;rule_group&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;rule_origin&#x60; - &#x60;section&#x60; - &#x60;service&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;tactic_id&#x60; - &#x60;tactic_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags&#x60; - &#x60;tags_string&#x60; - &#x60;technique_id&#x60; - &#x60;technique_name&#x60; - &#x60;tenant_id&#x60; - &#x60;zone&#x60;
    # @option opts [String] :sort The field to sort on.  Sortable fields include: - &#x60;assessed_assets&#x60; - &#x60;cloud_provider&#x60; - &#x60;misconfigurations&#x60; - &#x60;rule_id&#x60; - &#x60;severity&#x60;  Use &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.
    # @option opts [Integer] :limit The maximum number of items to return. When not specified or 0, 500 is used. When larger than 1000, 1000 is used. (default to 500)
    # @option opts [Integer] :offset Offset returned assets
    # @return [Array<(EvaluationsIOMsByRuleResponse, Integer, Hash)>] EvaluationsIOMsByRuleResponse data, response status code and response headers
    def cspm_evaluations_combined_iom_by_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurityDetections.cspm_evaluations_combined_iom_by_rule ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudSecurityDetections.cspm_evaluations_combined_iom_by_rule, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudSecurityDetections.cspm_evaluations_combined_iom_by_rule, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CloudSecurityDetections.cspm_evaluations_combined_iom_by_rule, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/cloud-security-evaluations/combined/ioms-by-rule/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EvaluationsIOMsByRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurityDetections.cspm_evaluations_combined_iom_by_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurityDetections#cspm_evaluations_combined_iom_by_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets IOMs based on the provided IDs
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of IOMs to return (maximum 100 IDs allowed).  Use POST method with same path if more entities are required.
    # @return [EvaluationsGetIOMsResponse]
    def cspm_evaluations_iom_entities(opts = {})
      data, _status_code, _headers = cspm_evaluations_iom_entities_with_http_info(opts)
      data
    end

    # Gets IOMs based on the provided IDs
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of IOMs to return (maximum 100 IDs allowed).  Use POST method with same path if more entities are required.
    # @return [Array<(EvaluationsGetIOMsResponse, Integer, Hash)>] EvaluationsGetIOMsResponse data, response status code and response headers
    def cspm_evaluations_iom_entities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurityDetections.cspm_evaluations_iom_entities ...'
      end
      # resource path
      local_var_path = '/cloud-security-evaluations/entities/ioms/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EvaluationsGetIOMsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurityDetections.cspm_evaluations_iom_entities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurityDetections#cspm_evaluations_iom_entities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of IOM IDs for the given parameters, filters and sort criteria.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL string to filter results in Falcon Query Language (FQL). Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;applicable_profile&#x60; - &#x60;attack_type&#x60; - &#x60;benchmark_name&#x60; - &#x60;benchmark_version&#x60; - &#x60;business_impact&#x60; - &#x60;cid&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;cloud_scope&#x60; - &#x60;created_at&#x60; - &#x60;environment&#x60; - &#x60;extension_status&#x60; - &#x60;first_detected&#x60; - &#x60;framework&#x60; - &#x60;last_detected&#x60; - &#x60;policy_id&#x60; - &#x60;policy_name&#x60; - &#x60;policy_uuid&#x60; - &#x60;region&#x60; - &#x60;requirement&#x60; - &#x60;requirement_name&#x60; - &#x60;resource_gcrn&#x60; - &#x60;resource_id&#x60; - &#x60;resource_parent&#x60; - &#x60;resource_status&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;rule_group&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;rule_origin&#x60; - &#x60;rule_remediation&#x60; - &#x60;section&#x60; - &#x60;service&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;suppression_reason&#x60; - &#x60;tactic_id&#x60; - &#x60;tactic_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags&#x60; - &#x60;tags_string&#x60; - &#x60;technique_id&#x60; - &#x60;technique_name&#x60; - &#x60;tenant_id&#x60;
    # @option opts [String] :sort The field to sort on. Use &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;applicable_profile&#x60; - &#x60;attack_type&#x60; - &#x60;benchmark_name&#x60; - &#x60;benchmark_version&#x60; - &#x60;business_impact&#x60; - &#x60;cid&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;cloud_scope&#x60; - &#x60;created_at&#x60; - &#x60;environment&#x60; - &#x60;extension_status&#x60; - &#x60;first_detected&#x60; - &#x60;framework&#x60; - &#x60;last_detected&#x60; - &#x60;policy_id&#x60; - &#x60;policy_name&#x60; - &#x60;policy_uuid&#x60; - &#x60;region&#x60; - &#x60;requirement&#x60; - &#x60;requirement_name&#x60; - &#x60;resource_gcrn&#x60; - &#x60;resource_id&#x60; - &#x60;resource_parent&#x60; - &#x60;resource_status&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;rule_group&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;rule_origin&#x60; - &#x60;rule_remediation&#x60; - &#x60;section&#x60; - &#x60;service&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;suppression_reason&#x60; - &#x60;tactic_id&#x60; - &#x60;tactic_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags&#x60; - &#x60;tags_string&#x60; - &#x60;technique_id&#x60; - &#x60;technique_name&#x60; - &#x60;tenant_id&#x60;
    # @option opts [Integer] :limit The maximum number of items to return. When not specified or 0, 500 is used. When larger than 1000, 1000 is used. (default to 500)
    # @option opts [Integer] :offset Offset returned assets
    # @option opts [String] :after token-based pagination. Use for paginating through an entire result set. Use only one of &#39;offset&#39; and &#39;after&#39; parameters for paginating
    # @return [EvaluationsQueryIOMsResponse]
    def cspm_evaluations_iom_queries(opts = {})
      data, _status_code, _headers = cspm_evaluations_iom_queries_with_http_info(opts)
      data
    end

    # Gets a list of IOM IDs for the given parameters, filters and sort criteria.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL string to filter results in Falcon Query Language (FQL). Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;applicable_profile&#x60; - &#x60;attack_type&#x60; - &#x60;benchmark_name&#x60; - &#x60;benchmark_version&#x60; - &#x60;business_impact&#x60; - &#x60;cid&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;cloud_scope&#x60; - &#x60;created_at&#x60; - &#x60;environment&#x60; - &#x60;extension_status&#x60; - &#x60;first_detected&#x60; - &#x60;framework&#x60; - &#x60;last_detected&#x60; - &#x60;policy_id&#x60; - &#x60;policy_name&#x60; - &#x60;policy_uuid&#x60; - &#x60;region&#x60; - &#x60;requirement&#x60; - &#x60;requirement_name&#x60; - &#x60;resource_gcrn&#x60; - &#x60;resource_id&#x60; - &#x60;resource_parent&#x60; - &#x60;resource_status&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;rule_group&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;rule_origin&#x60; - &#x60;rule_remediation&#x60; - &#x60;section&#x60; - &#x60;service&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;suppression_reason&#x60; - &#x60;tactic_id&#x60; - &#x60;tactic_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags&#x60; - &#x60;tags_string&#x60; - &#x60;technique_id&#x60; - &#x60;technique_name&#x60; - &#x60;tenant_id&#x60;
    # @option opts [String] :sort The field to sort on. Use &#x60;|asc&#x60; or &#x60;|desc&#x60; suffix to specify sort direction.Supported fields:  - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;applicable_profile&#x60; - &#x60;attack_type&#x60; - &#x60;benchmark_name&#x60; - &#x60;benchmark_version&#x60; - &#x60;business_impact&#x60; - &#x60;cid&#x60; - &#x60;cloud_group&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;cloud_scope&#x60; - &#x60;created_at&#x60; - &#x60;environment&#x60; - &#x60;extension_status&#x60; - &#x60;first_detected&#x60; - &#x60;framework&#x60; - &#x60;last_detected&#x60; - &#x60;policy_id&#x60; - &#x60;policy_name&#x60; - &#x60;policy_uuid&#x60; - &#x60;region&#x60; - &#x60;requirement&#x60; - &#x60;requirement_name&#x60; - &#x60;resource_gcrn&#x60; - &#x60;resource_id&#x60; - &#x60;resource_parent&#x60; - &#x60;resource_status&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;rule_group&#x60; - &#x60;rule_id&#x60; - &#x60;rule_name&#x60; - &#x60;rule_origin&#x60; - &#x60;rule_remediation&#x60; - &#x60;section&#x60; - &#x60;service&#x60; - &#x60;service_category&#x60; - &#x60;severity&#x60; - &#x60;status&#x60; - &#x60;suppressed_by&#x60; - &#x60;suppression_reason&#x60; - &#x60;tactic_id&#x60; - &#x60;tactic_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags&#x60; - &#x60;tags_string&#x60; - &#x60;technique_id&#x60; - &#x60;technique_name&#x60; - &#x60;tenant_id&#x60;
    # @option opts [Integer] :limit The maximum number of items to return. When not specified or 0, 500 is used. When larger than 1000, 1000 is used. (default to 500)
    # @option opts [Integer] :offset Offset returned assets
    # @option opts [String] :after token-based pagination. Use for paginating through an entire result set. Use only one of &#39;offset&#39; and &#39;after&#39; parameters for paginating
    # @return [Array<(EvaluationsQueryIOMsResponse, Integer, Hash)>] EvaluationsQueryIOMsResponse data, response status code and response headers
    def cspm_evaluations_iom_queries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurityDetections.cspm_evaluations_iom_queries ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudSecurityDetections.cspm_evaluations_iom_queries, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CloudSecurityDetections.cspm_evaluations_iom_queries, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CloudSecurityDetections.cspm_evaluations_iom_queries, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/cloud-security-evaluations/queries/ioms/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EvaluationsQueryIOMsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurityDetections.cspm_evaluations_iom_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurityDetections#cspm_evaluations_iom_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
