=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class CloudSecurityCompliance
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get sections and requirements with scores for benchmarks.
    # @param ids [Array<String>] The uuids of compliance frameworks to retrieve (maximum 20 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, supported properties:   - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;business_impact&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;environment&#x60; - &#x60;groups&#x60; - &#x60;region&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags_string&#x60;
    # @return [ComplianceFrameworkPostureSummaryResponse]
    def cloud_compliance_framework_posture_summaries(ids, opts = {})
      data, _status_code, _headers = cloud_compliance_framework_posture_summaries_with_http_info(ids, opts)
      data
    end

    # Get sections and requirements with scores for benchmarks.
    # @param ids [Array<String>] The uuids of compliance frameworks to retrieve (maximum 20 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, supported properties:   - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;business_impact&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;environment&#x60; - &#x60;groups&#x60; - &#x60;region&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags_string&#x60;
    # @return [Array<(ComplianceFrameworkPostureSummaryResponse, Integer, Hash)>] ComplianceFrameworkPostureSummaryResponse data, response status code and response headers
    def cloud_compliance_framework_posture_summaries_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurityCompliance.cloud_compliance_framework_posture_summaries ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudSecurityCompliance.cloud_compliance_framework_posture_summaries"
      end
      if @api_client.config.client_side_validation && ids.length > 20
        fail ArgumentError, 'invalid value for "ids" when calling CloudSecurityCompliance.cloud_compliance_framework_posture_summaries, number of items must be less than or equal to 20.'
      end

      # resource path
      local_var_path = '/cloud-security-compliance/entities/framework-posture-summaries/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :csv)
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ComplianceFrameworkPostureSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurityCompliance.cloud_compliance_framework_posture_summaries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurityCompliance#cloud_compliance_framework_posture_summaries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compliance score and counts for rules.
    # @param ids [Array<String>] The uuids of compliance rules to retrieve (maximum 350 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, supported properties:   - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;business_impact&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;environment&#x60; - &#x60;groups&#x60; - &#x60;region&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags_string&#x60;
    # @return [ComplianceRulePostureSummaryResponse]
    def cloud_compliance_rule_posture_summaries(ids, opts = {})
      data, _status_code, _headers = cloud_compliance_rule_posture_summaries_with_http_info(ids, opts)
      data
    end

    # Get compliance score and counts for rules.
    # @param ids [Array<String>] The uuids of compliance rules to retrieve (maximum 350 IDs allowed).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter, supported properties:   - &#x60;account_id&#x60; - &#x60;account_name&#x60; - &#x60;business_impact&#x60; - &#x60;cloud_label&#x60; - &#x60;cloud_label_id&#x60; - &#x60;cloud_provider&#x60; - &#x60;environment&#x60; - &#x60;groups&#x60; - &#x60;region&#x60; - &#x60;resource_type&#x60; - &#x60;resource_type_name&#x60; - &#x60;tag_key&#x60; - &#x60;tag_value&#x60; - &#x60;tags_string&#x60;
    # @return [Array<(ComplianceRulePostureSummaryResponse, Integer, Hash)>] ComplianceRulePostureSummaryResponse data, response status code and response headers
    def cloud_compliance_rule_posture_summaries_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudSecurityCompliance.cloud_compliance_rule_posture_summaries ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CloudSecurityCompliance.cloud_compliance_rule_posture_summaries"
      end
      if @api_client.config.client_side_validation && ids.length > 350
        fail ArgumentError, 'invalid value for "ids" when calling CloudSecurityCompliance.cloud_compliance_rule_posture_summaries, number of items must be less than or equal to 350.'
      end

      # resource path
      local_var_path = '/cloud-security-compliance/entities/rule-posture-summaries/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :csv)
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ComplianceRulePostureSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"CloudSecurityCompliance.cloud_compliance_rule_posture_summaries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudSecurityCompliance#cloud_compliance_rule_posture_summaries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
