=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class ContainerAlertsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search Container Alerts by the provided search criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search Container Alerts using a query in Falcon Query Language (FQL). Supported filters:  cid,container_id,last_seen
    # @return [AlertsContainerAlertsCountValue]
    def read_container_alerts_count(opts = {})
      data, _status_code, _headers = read_container_alerts_count_with_http_info(opts)
      data
    end

    # Search Container Alerts by the provided search criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search Container Alerts using a query in Falcon Query Language (FQL). Supported filters:  cid,container_id,last_seen
    # @return [Array<(AlertsContainerAlertsCountValue, Integer, Hash)>] AlertsContainerAlertsCountValue data, response status code and response headers
    def read_container_alerts_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerAlertsApi.read_container_alerts_count ...'
      end
      # resource path
      local_var_path = '/container-security/aggregates/container-alerts/count/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsContainerAlertsCountValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerAlertsApi.read_container_alerts_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerAlertsApi#read_container_alerts_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Container Alerts counts by severity
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search Container Alerts using a query in Falcon Query Language (FQL). Supported filters: cid,container_id,last_seen
    # @return [AlertsContainerAlertsCountValue]
    def read_container_alerts_count_by_severity(opts = {})
      data, _status_code, _headers = read_container_alerts_count_by_severity_with_http_info(opts)
      data
    end

    # Get Container Alerts counts by severity
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search Container Alerts using a query in Falcon Query Language (FQL). Supported filters: cid,container_id,last_seen
    # @return [Array<(AlertsContainerAlertsCountValue, Integer, Hash)>] AlertsContainerAlertsCountValue data, response status code and response headers
    def read_container_alerts_count_by_severity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerAlertsApi.read_container_alerts_count_by_severity ...'
      end
      # resource path
      local_var_path = '/container-security/aggregates/container-alerts/count-by-severity/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsContainerAlertsCountValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerAlertsApi.read_container_alerts_count_by_severity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerAlertsApi#read_container_alerts_count_by_severity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Container Alerts by the provided search criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search Container Alerts using a query in Falcon Query Language (FQL). Supported filters:  cid,container_id,last_seen,name,severity
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on.
    # @return [AlertsContainerAlertsEntityResponse]
    def search_and_read_container_alerts(opts = {})
      data, _status_code, _headers = search_and_read_container_alerts_with_http_info(opts)
      data
    end

    # Search Container Alerts by the provided search criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search Container Alerts using a query in Falcon Query Language (FQL). Supported filters:  cid,container_id,last_seen,name,severity
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on.
    # @return [Array<(AlertsContainerAlertsEntityResponse, Integer, Hash)>] AlertsContainerAlertsEntityResponse data, response status code and response headers
    def search_and_read_container_alerts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerAlertsApi.search_and_read_container_alerts ...'
      end
      # resource path
      local_var_path = '/container-security/combined/container-alerts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsContainerAlertsEntityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerAlertsApi.search_and_read_container_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerAlertsApi#search_and_read_container_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
