=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class ContainerImagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Image assessment history
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter using a query in Falcon Query Language (FQL). Supported filters:  cid,registry,repository
    # @return [ImagesApiImageAssessmentHistory]
    def aggregate_image_assessment_history(opts = {})
      data, _status_code, _headers = aggregate_image_assessment_history_with_http_info(opts)
      data
    end

    # Image assessment history
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter using a query in Falcon Query Language (FQL). Supported filters:  cid,registry,repository
    # @return [Array<(ImagesApiImageAssessmentHistory, Integer, Hash)>] ImagesApiImageAssessmentHistory data, response status code and response headers
    def aggregate_image_assessment_history_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.aggregate_image_assessment_history ...'
      end
      # resource path
      local_var_path = '/container-security/aggregates/images/assessment-history/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiImageAssessmentHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.aggregate_image_assessment_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#aggregate_image_assessment_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate count of images
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,container_id,container_running_status,cps_rating,crowdstrike_user,cve_id,detection_count,detection_name,detection_severity,first_seen,image_digest,image_id,layer_digest,package_name_version,registry,repository,tag,vulnerability_count,vulnerability_severity
    # @return [ImagesApiImageCount]
    def aggregate_image_count(opts = {})
      data, _status_code, _headers = aggregate_image_count_with_http_info(opts)
      data
    end

    # Aggregate count of images
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,container_id,container_running_status,cps_rating,crowdstrike_user,cve_id,detection_count,detection_name,detection_severity,first_seen,image_digest,image_id,layer_digest,package_name_version,registry,repository,tag,vulnerability_count,vulnerability_severity
    # @return [Array<(ImagesApiImageCount, Integer, Hash)>] ImagesApiImageCount data, response status code and response headers
    def aggregate_image_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.aggregate_image_count ...'
      end
      # resource path
      local_var_path = '/container-security/aggregates/images/count/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiImageCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.aggregate_image_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#aggregate_image_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate count of images grouped by Base OS distribution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,registry,repository,tag
    # @return [ImagesApiImageCountByBaseOS]
    def aggregate_image_count_by_base_os(opts = {})
      data, _status_code, _headers = aggregate_image_count_by_base_os_with_http_info(opts)
      data
    end

    # Aggregate count of images grouped by Base OS distribution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,registry,repository,tag
    # @return [Array<(ImagesApiImageCountByBaseOS, Integer, Hash)>] ImagesApiImageCountByBaseOS data, response status code and response headers
    def aggregate_image_count_by_base_os_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.aggregate_image_count_by_base_os ...'
      end
      # resource path
      local_var_path = '/container-security/aggregates/images/count-by-os-distribution/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiImageCountByBaseOS'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.aggregate_image_count_by_base_os",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#aggregate_image_count_by_base_os\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate count of images grouped by state
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  cid,last_seen,registry,repository
    # @return [ImagesApiImageCountByState]
    def aggregate_image_count_by_state(opts = {})
      data, _status_code, _headers = aggregate_image_count_by_state_with_http_info(opts)
      data
    end

    # Aggregate count of images grouped by state
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  cid,last_seen,registry,repository
    # @return [Array<(ImagesApiImageCountByState, Integer, Hash)>] ImagesApiImageCountByState data, response status code and response headers
    def aggregate_image_count_by_state_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.aggregate_image_count_by_state ...'
      end
      # resource path
      local_var_path = '/container-security/aggregates/images/count-by-state/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiImageCountByState'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.aggregate_image_count_by_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#aggregate_image_count_by_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve top x images with the most vulnerabilities
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,registry,repository,tag
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset This is not used in the backend but is added here for compatibility purposes as some clients expects this i.e UI widgets.
    # @return [ImagesApiImageByVulnerabilityCount]
    def combined_image_by_vulnerability_count(opts = {})
      data, _status_code, _headers = combined_image_by_vulnerability_count_with_http_info(opts)
      data
    end

    # Retrieve top x images with the most vulnerabilities
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,registry,repository,tag
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset This is not used in the backend but is added here for compatibility purposes as some clients expects this i.e UI widgets.
    # @return [Array<(ImagesApiImageByVulnerabilityCount, Integer, Hash)>] ImagesApiImageByVulnerabilityCount data, response status code and response headers
    def combined_image_by_vulnerability_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.combined_image_by_vulnerability_count ...'
      end
      # resource path
      local_var_path = '/container-security/combined/images/by-vulnerability-count/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiImageByVulnerabilityCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.combined_image_by_vulnerability_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#combined_image_by_vulnerability_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve image entities identified by the provided filter criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  registry,repository,tag
    # @option opts [Boolean] :with_config (true/false) include image config, default is false
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on.
    # @return [ImagesApiCustomerAndImage]
    def combined_image_detail(opts = {})
      data, _status_code, _headers = combined_image_detail_with_http_info(opts)
      data
    end

    # Retrieve image entities identified by the provided filter criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  registry,repository,tag
    # @option opts [Boolean] :with_config (true/false) include image config, default is false
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on.
    # @return [Array<(ImagesApiCustomerAndImage, Integer, Hash)>] ImagesApiCustomerAndImage data, response status code and response headers
    def combined_image_detail_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.combined_image_detail ...'
      end
      # resource path
      local_var_path = '/container-security/combined/images/detail/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'with_config'] = opts[:'with_config'] if !opts[:'with_config'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiCustomerAndImage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.combined_image_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#combined_image_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve image issues summary such as Image detections, Runtime detections, Policies, vulnerabilities
    # @param cid [String] CID
    # @param registry [String] registry name
    # @param repository [String] repository name
    # @param tag [String] tag name
    # @param [Hash] opts the optional parameters
    # @return [ImagesApiImageIssuesSummary]
    def combined_image_issues_summary(cid, registry, repository, tag, opts = {})
      data, _status_code, _headers = combined_image_issues_summary_with_http_info(cid, registry, repository, tag, opts)
      data
    end

    # Retrieve image issues summary such as Image detections, Runtime detections, Policies, vulnerabilities
    # @param cid [String] CID
    # @param registry [String] registry name
    # @param repository [String] repository name
    # @param tag [String] tag name
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImagesApiImageIssuesSummary, Integer, Hash)>] ImagesApiImageIssuesSummary data, response status code and response headers
    def combined_image_issues_summary_with_http_info(cid, registry, repository, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.combined_image_issues_summary ...'
      end
      # verify the required parameter 'cid' is set
      if @api_client.config.client_side_validation && cid.nil?
        fail ArgumentError, "Missing the required parameter 'cid' when calling ContainerImagesApi.combined_image_issues_summary"
      end
      # verify the required parameter 'registry' is set
      if @api_client.config.client_side_validation && registry.nil?
        fail ArgumentError, "Missing the required parameter 'registry' when calling ContainerImagesApi.combined_image_issues_summary"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling ContainerImagesApi.combined_image_issues_summary"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling ContainerImagesApi.combined_image_issues_summary"
      end
      # resource path
      local_var_path = '/container-security/combined/images/issues-summary/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cid'] = cid
      query_params[:'registry'] = registry
      query_params[:'repository'] = repository
      query_params[:'tag'] = tag

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiImageIssuesSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.combined_image_issues_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#combined_image_issues_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # aggregates information about vulnerabilities for an image
    # @param cid [String] CID
    # @param registry [String] registry name
    # @param repository [String] repository name
    # @param tag [String] tag name
    # @param [Hash] opts the optional parameters
    # @return [ImagesApiImageVulnerabilitiesSummary]
    def combined_image_vulnerability_summary(cid, registry, repository, tag, opts = {})
      data, _status_code, _headers = combined_image_vulnerability_summary_with_http_info(cid, registry, repository, tag, opts)
      data
    end

    # aggregates information about vulnerabilities for an image
    # @param cid [String] CID
    # @param registry [String] registry name
    # @param repository [String] repository name
    # @param tag [String] tag name
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImagesApiImageVulnerabilitiesSummary, Integer, Hash)>] ImagesApiImageVulnerabilitiesSummary data, response status code and response headers
    def combined_image_vulnerability_summary_with_http_info(cid, registry, repository, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.combined_image_vulnerability_summary ...'
      end
      # verify the required parameter 'cid' is set
      if @api_client.config.client_side_validation && cid.nil?
        fail ArgumentError, "Missing the required parameter 'cid' when calling ContainerImagesApi.combined_image_vulnerability_summary"
      end
      # verify the required parameter 'registry' is set
      if @api_client.config.client_side_validation && registry.nil?
        fail ArgumentError, "Missing the required parameter 'registry' when calling ContainerImagesApi.combined_image_vulnerability_summary"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling ContainerImagesApi.combined_image_vulnerability_summary"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling ContainerImagesApi.combined_image_vulnerability_summary"
      end
      # resource path
      local_var_path = '/container-security/combined/images/vulnerabilities-summary/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cid'] = cid
      query_params[:'registry'] = registry
      query_params[:'repository'] = repository
      query_params[:'tag'] = tag

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiImageVulnerabilitiesSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.combined_image_vulnerability_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#combined_image_vulnerability_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get image assessment results by providing an FQL filter and paging details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  container_id, container_running_status, cve_id, detection_name, detection_severity, first_seen, image_digest, image_id, registry, repository, tag, vulnerability_severity
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve [1-100]
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on. Supported columns:  [first_seen highest_detection_severity highest_vulnerability_severity image_digest image_id registry repository tag]
    # @return [ImagesExtCombinedImagesResponse]
    def get_combined_images(opts = {})
      data, _status_code, _headers = get_combined_images_with_http_info(opts)
      data
    end

    # Get image assessment results by providing an FQL filter and paging details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  container_id, container_running_status, cve_id, detection_name, detection_severity, first_seen, image_digest, image_id, registry, repository, tag, vulnerability_severity
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve [1-100]
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on. Supported columns:  [first_seen highest_detection_severity highest_vulnerability_severity image_digest image_id registry repository tag]
    # @return [Array<(ImagesExtCombinedImagesResponse, Integer, Hash)>] ImagesExtCombinedImagesResponse data, response status code and response headers
    def get_combined_images_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.get_combined_images ...'
      end
      # resource path
      local_var_path = '/container-security/combined/image-assessment/images/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesExtCombinedImagesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.get_combined_images",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#get_combined_images\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve images with an option to expand aggregated vulnerabilities/detections
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,container_id,container_running_status,cps_rating,crowdstrike_user,cve_id,detection_count,detection_name,detection_severity,first_seen,image_digest,image_id,layer_digest,package_name_version,registry,repository,tag,vulnerability_count,vulnerability_severity
    # @option opts [Boolean] :expand_vulnerabilities expand vulnerabilities
    # @option opts [Boolean] :expand_detections expand detections
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on. Supported columns:  [base_os cid containers detections firstScanned first_seen highest_detection_severity highest_vulnerability_severity image_digest image_id last_seen layers_with_vulnerabilities packages registry repository tag vulnerabilities]
    # @return [ImagesApiCombinedImageExport]
    def read_combined_images_export(opts = {})
      data, _status_code, _headers = read_combined_images_export_with_http_info(opts)
      data
    end

    # Retrieve images with an option to expand aggregated vulnerabilities/detections
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filter images using a query in Falcon Query Language (FQL). Supported filters:  arch,base_os,cid,container_id,container_running_status,cps_rating,crowdstrike_user,cve_id,detection_count,detection_name,detection_severity,first_seen,image_digest,image_id,layer_digest,package_name_version,registry,repository,tag,vulnerability_count,vulnerability_severity
    # @option opts [Boolean] :expand_vulnerabilities expand vulnerabilities
    # @option opts [Boolean] :expand_detections expand detections
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve.
    # @option opts [Integer] :offset The offset from where to begin.
    # @option opts [String] :sort The fields to sort the records on. Supported columns:  [base_os cid containers detections firstScanned first_seen highest_detection_severity highest_vulnerability_severity image_digest image_id last_seen layers_with_vulnerabilities packages registry repository tag vulnerabilities]
    # @return [Array<(ImagesApiCombinedImageExport, Integer, Hash)>] ImagesApiCombinedImageExport data, response status code and response headers
    def read_combined_images_export_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContainerImagesApi.read_combined_images_export ...'
      end
      # resource path
      local_var_path = '/container-security/combined/images/export/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'expand_vulnerabilities'] = opts[:'expand_vulnerabilities'] if !opts[:'expand_vulnerabilities'].nil?
      query_params[:'expand_detections'] = opts[:'expand_detections'] if !opts[:'expand_detections'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesApiCombinedImageExport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ContainerImagesApi.read_combined_images_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContainerImagesApi#read_combined_images_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
