=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class Datascanner
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # - GetDataScannerTasks is a route for the data scanner to fetch pending tasks
    # @param x_scanner_id [String] ID of the data scanner
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, String>]
    def get_data_scanner_tasks(x_scanner_id, opts = {})
      data, _status_code, _headers = get_data_scanner_tasks_with_http_info(x_scanner_id, opts)
      data
    end

    # - GetDataScannerTasks is a route for the data scanner to fetch pending tasks
    # @param x_scanner_id [String] ID of the data scanner
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, String>, Integer, Hash)>] Hash<String, String> data, response status code and response headers
    def get_data_scanner_tasks_with_http_info(x_scanner_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Datascanner.get_data_scanner_tasks ...'
      end
      # verify the required parameter 'x_scanner_id' is set
      if @api_client.config.client_side_validation && x_scanner_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_scanner_id' when calling Datascanner.get_data_scanner_tasks"
      end
      # resource path
      local_var_path = '/data-security-dspm/entities/scanner-tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Scanner-Id'] = x_scanner_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Datascanner.get_data_scanner_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Datascanner#get_data_scanner_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # - GetImageRegistryCredentials is a route that gets credentials in order to fetch the data scanner image.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, String>]
    def get_image_registry_credentials(opts = {})
      data, _status_code, _headers = get_image_registry_credentials_with_http_info(opts)
      data
    end

    # - GetImageRegistryCredentials is a route that gets credentials in order to fetch the data scanner image.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, String>, Integer, Hash)>] Hash<String, String> data, response status code and response headers
    def get_image_registry_credentials_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Datascanner.get_image_registry_credentials ...'
      end
      # resource path
      local_var_path = '/data-security-dspm/entities/image-registry-credentials/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Datascanner.get_image_registry_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Datascanner#get_image_registry_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # - PatchDataScannerTasks is a route for the data scanner to report back on tasks statuses
    # @param x_scanner_id [String] ID of the data scanner
    # @param x_machine_id [String] Provider ID of machine
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, String>]
    def update_data_scanner_tasks(x_scanner_id, x_machine_id, opts = {})
      data, _status_code, _headers = update_data_scanner_tasks_with_http_info(x_scanner_id, x_machine_id, opts)
      data
    end

    # - PatchDataScannerTasks is a route for the data scanner to report back on tasks statuses
    # @param x_scanner_id [String] ID of the data scanner
    # @param x_machine_id [String] Provider ID of machine
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, String>, Integer, Hash)>] Hash<String, String> data, response status code and response headers
    def update_data_scanner_tasks_with_http_info(x_scanner_id, x_machine_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Datascanner.update_data_scanner_tasks ...'
      end
      # verify the required parameter 'x_scanner_id' is set
      if @api_client.config.client_side_validation && x_scanner_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_scanner_id' when calling Datascanner.update_data_scanner_tasks"
      end
      # verify the required parameter 'x_machine_id' is set
      if @api_client.config.client_side_validation && x_machine_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_machine_id' when calling Datascanner.update_data_scanner_tasks"
      end
      # resource path
      local_var_path = '/data-security-dspm/entities/scanner-tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json'])
      header_params[:'X-Scanner-Id'] = x_scanner_id
      header_params[:'X-Machine-Id'] = x_machine_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Datascanner.update_data_scanner_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Datascanner#update_data_scanner_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
