=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class DataProtectionConfiguration
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes classifications that match the provided ids
    # @param ids [Array<String>] IDs of the classifications to delete
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerClassificationsResponse]
    def entities_classification_delete_v2(ids, opts = {})
      data, _status_code, _headers = entities_classification_delete_v2_with_http_info(ids, opts)
      data
    end

    # Deletes classifications that match the provided ids
    # @param ids [Array<String>] IDs of the classifications to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerClassificationsResponse, Integer, Hash)>] PolicymanagerClassificationsResponse data, response status code and response headers
    def entities_classification_delete_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_classification_delete_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_classification_delete_v2"
      end
      if @api_client.config.client_side_validation && ids.length > 100
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_classification_delete_v2, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && ids.length < 1
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_classification_delete_v2, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/data-protection/entities/classifications/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerClassificationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_classification_delete_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_classification_delete_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the classifications that match the provided ids
    # @param ids [Array<String>] IDs of the classifications to get
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerClassificationsResponse]
    def entities_classification_get_v2(ids, opts = {})
      data, _status_code, _headers = entities_classification_get_v2_with_http_info(ids, opts)
      data
    end

    # Gets the classifications that match the provided ids
    # @param ids [Array<String>] IDs of the classifications to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerClassificationsResponse, Integer, Hash)>] PolicymanagerClassificationsResponse data, response status code and response headers
    def entities_classification_get_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_classification_get_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_classification_get_v2"
      end
      if @api_client.config.client_side_validation && ids.length > 100
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_classification_get_v2, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && ids.length < 1
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_classification_get_v2, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/data-protection/entities/classifications/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerClassificationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_classification_get_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_classification_get_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update classifications
    # @param body [PolicymanagerUpdateClassificationsRequest]
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerClassificationsResponse]
    def entities_classification_patch_v2(body, opts = {})
      data, _status_code, _headers = entities_classification_patch_v2_with_http_info(body, opts)
      data
    end

    # Update classifications
    # @param body [PolicymanagerUpdateClassificationsRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerClassificationsResponse, Integer, Hash)>] PolicymanagerClassificationsResponse data, response status code and response headers
    def entities_classification_patch_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_classification_patch_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_classification_patch_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/classifications/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerClassificationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_classification_patch_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_classification_patch_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create classifications
    # @param body [PolicymanagerCreateClassificationsRequest]
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerClassificationsResponse]
    def entities_classification_post_v2(body, opts = {})
      data, _status_code, _headers = entities_classification_post_v2_with_http_info(body, opts)
      data
    end

    # Create classifications
    # @param body [PolicymanagerCreateClassificationsRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerClassificationsResponse, Integer, Hash)>] PolicymanagerClassificationsResponse data, response status code and response headers
    def entities_classification_post_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_classification_post_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_classification_post_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/classifications/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerClassificationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_classification_post_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_classification_post_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Persist the given cloud application for the provided entity instance
    # @param body [ApiCloudApplicationCreateRequestV1] The cloud-application definition to create
    # @param [Hash] opts the optional parameters
    # @return [ApiCloudApplicationMSAResponseV1]
    def entities_cloud_application_create(body, opts = {})
      data, _status_code, _headers = entities_cloud_application_create_with_http_info(body, opts)
      data
    end

    # Persist the given cloud application for the provided entity instance
    # @param body [ApiCloudApplicationCreateRequestV1] The cloud-application definition to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCloudApplicationMSAResponseV1, Integer, Hash)>] ApiCloudApplicationMSAResponseV1 data, response status code and response headers
    def entities_cloud_application_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_cloud_application_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_cloud_application_create"
      end
      # resource path
      local_var_path = '/data-protection/entities/cloud-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCloudApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_cloud_application_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_cloud_application_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete cloud application
    # @param ids [Array<String>] The id of the cloud application to delete.
    # @param [Hash] opts the optional parameters
    # @return [ApiCloudApplicationMSAResponseV1]
    def entities_cloud_application_delete(ids, opts = {})
      data, _status_code, _headers = entities_cloud_application_delete_with_http_info(ids, opts)
      data
    end

    # Delete cloud application
    # @param ids [Array<String>] The id of the cloud application to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCloudApplicationMSAResponseV1, Integer, Hash)>] ApiCloudApplicationMSAResponseV1 data, response status code and response headers
    def entities_cloud_application_delete_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_cloud_application_delete ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_cloud_application_delete"
      end
      # resource path
      local_var_path = '/data-protection/entities/cloud-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCloudApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_cloud_application_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_cloud_application_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a particular cloud-application
    # @param ids [Array<String>] The cloud application id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [ApiCloudApplicationMSAResponseV1]
    def entities_cloud_application_get(ids, opts = {})
      data, _status_code, _headers = entities_cloud_application_get_with_http_info(ids, opts)
      data
    end

    # Get a particular cloud-application
    # @param ids [Array<String>] The cloud application id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCloudApplicationMSAResponseV1, Integer, Hash)>] ApiCloudApplicationMSAResponseV1 data, response status code and response headers
    def entities_cloud_application_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_cloud_application_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_cloud_application_get"
      end
      # resource path
      local_var_path = '/data-protection/entities/cloud-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCloudApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_cloud_application_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_cloud_application_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a cloud application
    # @param id [String] The cloud app id to update.
    # @param body [ApiCloudApplicationUpdateRequestV1] The new cloud-application definition
    # @param [Hash] opts the optional parameters
    # @return [ApiCloudApplicationMSAResponseV1]
    def entities_cloud_application_patch(id, body, opts = {})
      data, _status_code, _headers = entities_cloud_application_patch_with_http_info(id, body, opts)
      data
    end

    # Update a cloud application
    # @param id [String] The cloud app id to update.
    # @param body [ApiCloudApplicationUpdateRequestV1] The new cloud-application definition
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCloudApplicationMSAResponseV1, Integer, Hash)>] ApiCloudApplicationMSAResponseV1 data, response status code and response headers
    def entities_cloud_application_patch_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_cloud_application_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataProtectionConfiguration.entities_cloud_application_patch"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_cloud_application_patch"
      end
      # resource path
      local_var_path = '/data-protection/entities/cloud-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCloudApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_cloud_application_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_cloud_application_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Persist the given content pattern for the provided entity instance
    # @param body [ApiContentPatternCreateRequestV1] Definition of content-pattern to create
    # @param [Hash] opts the optional parameters
    # @return [ApiContentPatternMSAResponseV1]
    def entities_content_pattern_create(body, opts = {})
      data, _status_code, _headers = entities_content_pattern_create_with_http_info(body, opts)
      data
    end

    # Persist the given content pattern for the provided entity instance
    # @param body [ApiContentPatternCreateRequestV1] Definition of content-pattern to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiContentPatternMSAResponseV1, Integer, Hash)>] ApiContentPatternMSAResponseV1 data, response status code and response headers
    def entities_content_pattern_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_content_pattern_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_content_pattern_create"
      end
      # resource path
      local_var_path = '/data-protection/entities/content-patterns/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiContentPatternMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_content_pattern_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_content_pattern_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete content pattern
    # @param ids [Array<String>] The id(s) of the content pattern to delete.
    # @param [Hash] opts the optional parameters
    # @return [ApiContentPatternMSAResponseV1]
    def entities_content_pattern_delete(ids, opts = {})
      data, _status_code, _headers = entities_content_pattern_delete_with_http_info(ids, opts)
      data
    end

    # Delete content pattern
    # @param ids [Array<String>] The id(s) of the content pattern to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiContentPatternMSAResponseV1, Integer, Hash)>] ApiContentPatternMSAResponseV1 data, response status code and response headers
    def entities_content_pattern_delete_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_content_pattern_delete ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_content_pattern_delete"
      end
      # resource path
      local_var_path = '/data-protection/entities/content-patterns/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiContentPatternMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_content_pattern_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_content_pattern_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a particular content-pattern(s)
    # @param ids [Array<String>] The content-pattern id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [ApiContentPatternMSAResponseV1]
    def entities_content_pattern_get(ids, opts = {})
      data, _status_code, _headers = entities_content_pattern_get_with_http_info(ids, opts)
      data
    end

    # Get a particular content-pattern(s)
    # @param ids [Array<String>] The content-pattern id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiContentPatternMSAResponseV1, Integer, Hash)>] ApiContentPatternMSAResponseV1 data, response status code and response headers
    def entities_content_pattern_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_content_pattern_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_content_pattern_get"
      end
      # resource path
      local_var_path = '/data-protection/entities/content-patterns/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiContentPatternMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_content_pattern_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_content_pattern_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a content pattern
    # @param id [String] The id of the content pattern to patch.
    # @param body [ApiContentPatternUpdateRequestV1] Definition of content-pattern to create
    # @param [Hash] opts the optional parameters
    # @return [ApiContentPatternMSAResponseV1]
    def entities_content_pattern_patch(id, body, opts = {})
      data, _status_code, _headers = entities_content_pattern_patch_with_http_info(id, body, opts)
      data
    end

    # Update a content pattern
    # @param id [String] The id of the content pattern to patch.
    # @param body [ApiContentPatternUpdateRequestV1] Definition of content-pattern to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiContentPatternMSAResponseV1, Integer, Hash)>] ApiContentPatternMSAResponseV1 data, response status code and response headers
    def entities_content_pattern_patch_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_content_pattern_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataProtectionConfiguration.entities_content_pattern_patch"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_content_pattern_patch"
      end
      # resource path
      local_var_path = '/data-protection/entities/content-patterns/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiContentPatternMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_content_pattern_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_content_pattern_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Persist the given enterprise account for the provided entity instance
    # @param body [ApiEnterpriseAccountCreateRequestV1] Definition of enterprise-account to create
    # @param [Hash] opts the optional parameters
    # @return [ApiEnterpriseAccountMSAResponseV1]
    def entities_enterprise_account_create(body, opts = {})
      data, _status_code, _headers = entities_enterprise_account_create_with_http_info(body, opts)
      data
    end

    # Persist the given enterprise account for the provided entity instance
    # @param body [ApiEnterpriseAccountCreateRequestV1] Definition of enterprise-account to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiEnterpriseAccountMSAResponseV1, Integer, Hash)>] ApiEnterpriseAccountMSAResponseV1 data, response status code and response headers
    def entities_enterprise_account_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_enterprise_account_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_enterprise_account_create"
      end
      # resource path
      local_var_path = '/data-protection/entities/enterprise-accounts/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiEnterpriseAccountMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_enterprise_account_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_enterprise_account_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete enterprise account
    # @param ids [Array<String>] The id of the enterprise account to delete.
    # @param [Hash] opts the optional parameters
    # @return [ApiEnterpriseAccountMSAResponseV1]
    def entities_enterprise_account_delete(ids, opts = {})
      data, _status_code, _headers = entities_enterprise_account_delete_with_http_info(ids, opts)
      data
    end

    # Delete enterprise account
    # @param ids [Array<String>] The id of the enterprise account to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiEnterpriseAccountMSAResponseV1, Integer, Hash)>] ApiEnterpriseAccountMSAResponseV1 data, response status code and response headers
    def entities_enterprise_account_delete_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_enterprise_account_delete ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_enterprise_account_delete"
      end
      # resource path
      local_var_path = '/data-protection/entities/enterprise-accounts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiEnterpriseAccountMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_enterprise_account_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_enterprise_account_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a particular enterprise-account(s)
    # @param ids [Array<String>] The enterprise-account id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [ApiEnterpriseAccountMSAResponseV1]
    def entities_enterprise_account_get(ids, opts = {})
      data, _status_code, _headers = entities_enterprise_account_get_with_http_info(ids, opts)
      data
    end

    # Get a particular enterprise-account(s)
    # @param ids [Array<String>] The enterprise-account id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiEnterpriseAccountMSAResponseV1, Integer, Hash)>] ApiEnterpriseAccountMSAResponseV1 data, response status code and response headers
    def entities_enterprise_account_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_enterprise_account_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_enterprise_account_get"
      end
      # resource path
      local_var_path = '/data-protection/entities/enterprise-accounts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiEnterpriseAccountMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_enterprise_account_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_enterprise_account_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a enterprise account
    # @param id [String] The id of the enterprise account to update.
    # @param body [ApiEnterpriseAccountUpdateRequestV1] Definition of enterprise-account to create
    # @param [Hash] opts the optional parameters
    # @return [ApiEnterpriseAccountMSAResponseV1]
    def entities_enterprise_account_patch(id, body, opts = {})
      data, _status_code, _headers = entities_enterprise_account_patch_with_http_info(id, body, opts)
      data
    end

    # Update a enterprise account
    # @param id [String] The id of the enterprise account to update.
    # @param body [ApiEnterpriseAccountUpdateRequestV1] Definition of enterprise-account to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiEnterpriseAccountMSAResponseV1, Integer, Hash)>] ApiEnterpriseAccountMSAResponseV1 data, response status code and response headers
    def entities_enterprise_account_patch_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_enterprise_account_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataProtectionConfiguration.entities_enterprise_account_patch"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_enterprise_account_patch"
      end
      # resource path
      local_var_path = '/data-protection/entities/enterprise-accounts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiEnterpriseAccountMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_enterprise_account_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_enterprise_account_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a particular file-type
    # @param ids [Array<String>] The file-type id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [ApiFileTypeMSAResponseV1]
    def entities_file_type_get(ids, opts = {})
      data, _status_code, _headers = entities_file_type_get_with_http_info(ids, opts)
      data
    end

    # Get a particular file-type
    # @param ids [Array<String>] The file-type id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiFileTypeMSAResponseV1, Integer, Hash)>] ApiFileTypeMSAResponseV1 data, response status code and response headers
    def entities_file_type_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_file_type_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_file_type_get"
      end
      # resource path
      local_var_path = '/data-protection/entities/file-types/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiFileTypeMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_file_type_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_file_type_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Persist the given local application for the provided entity instance
    # @param body [ApiLocalApplicationCreateRequestV1] The local-application definition to create
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationMSAResponseV1]
    def entities_local_application_create(body, opts = {})
      data, _status_code, _headers = entities_local_application_create_with_http_info(body, opts)
      data
    end

    # Persist the given local application for the provided entity instance
    # @param body [ApiLocalApplicationCreateRequestV1] The local-application definition to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationMSAResponseV1, Integer, Hash)>] ApiLocalApplicationMSAResponseV1 data, response status code and response headers
    def entities_local_application_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_local_application_create"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Soft Delete local application. The application wont be visible anymore, but will still be in the database
    # @param ids [Array<String>] The id of the local application to delete.
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationMSAResponseV1]
    def entities_local_application_delete(ids, opts = {})
      data, _status_code, _headers = entities_local_application_delete_with_http_info(ids, opts)
      data
    end

    # Soft Delete local application. The application wont be visible anymore, but will still be in the database
    # @param ids [Array<String>] The id of the local application to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationMSAResponseV1, Integer, Hash)>] ApiLocalApplicationMSAResponseV1 data, response status code and response headers
    def entities_local_application_delete_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_delete ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_local_application_delete"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a particular local application
    # @param ids [Array<String>] The local application id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationMSAResponseV1]
    def entities_local_application_get(ids, opts = {})
      data, _status_code, _headers = entities_local_application_get_with_http_info(ids, opts)
      data
    end

    # Get a particular local application
    # @param ids [Array<String>] The local application id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationMSAResponseV1, Integer, Hash)>] ApiLocalApplicationMSAResponseV1 data, response status code and response headers
    def entities_local_application_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_local_application_get"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Persist the given local application group for the provided entity instance
    # @param body [ApiLocalApplicationGroupCreateRequestV1] The local-application group definition to create
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationGroupMSAResponseV1]
    def entities_local_application_group_create(body, opts = {})
      data, _status_code, _headers = entities_local_application_group_create_with_http_info(body, opts)
      data
    end

    # Persist the given local application group for the provided entity instance
    # @param body [ApiLocalApplicationGroupCreateRequestV1] The local-application group definition to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationGroupMSAResponseV1, Integer, Hash)>] ApiLocalApplicationGroupMSAResponseV1 data, response status code and response headers
    def entities_local_application_group_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_group_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_local_application_group_create"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-application-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationGroupMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_group_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_group_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Soft Delete local application. The application won't be visible anymore, but will still be in the database
    # @param ids [Array<String>] The id of the local application group to delete.
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationGroupMSAResponseV1]
    def entities_local_application_group_delete(ids, opts = {})
      data, _status_code, _headers = entities_local_application_group_delete_with_http_info(ids, opts)
      data
    end

    # Soft Delete local application. The application won&#39;t be visible anymore, but will still be in the database
    # @param ids [Array<String>] The id of the local application group to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationGroupMSAResponseV1, Integer, Hash)>] ApiLocalApplicationGroupMSAResponseV1 data, response status code and response headers
    def entities_local_application_group_delete_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_group_delete ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_local_application_group_delete"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-application-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationGroupMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_group_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_group_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get particular local application groups
    # @param ids [Array<String>] The local application group id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationGroupMSAResponseV1]
    def entities_local_application_group_get(ids, opts = {})
      data, _status_code, _headers = entities_local_application_group_get_with_http_info(ids, opts)
      data
    end

    # Get particular local application groups
    # @param ids [Array<String>] The local application group id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationGroupMSAResponseV1, Integer, Hash)>] ApiLocalApplicationGroupMSAResponseV1 data, response status code and response headers
    def entities_local_application_group_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_group_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_local_application_group_get"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-application-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationGroupMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_group_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_group_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a local application group
    # @param id [String] The local app id to update.
    # @param body [ApiLocalApplicationGroupUpdateRequestV1] The new local-application group definition
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationGroupMSAResponseV1]
    def entities_local_application_group_patch(id, body, opts = {})
      data, _status_code, _headers = entities_local_application_group_patch_with_http_info(id, body, opts)
      data
    end

    # Update a local application group
    # @param id [String] The local app id to update.
    # @param body [ApiLocalApplicationGroupUpdateRequestV1] The new local-application group definition
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationGroupMSAResponseV1, Integer, Hash)>] ApiLocalApplicationGroupMSAResponseV1 data, response status code and response headers
    def entities_local_application_group_patch_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_group_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataProtectionConfiguration.entities_local_application_group_patch"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_local_application_group_patch"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-application-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationGroupMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_group_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_group_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a local application
    # @param id [String] The local app id to update.
    # @param body [ApiLocalApplicationUpdateRequestV1] The new local-application definition
    # @param [Hash] opts the optional parameters
    # @return [ApiLocalApplicationMSAResponseV1]
    def entities_local_application_patch(id, body, opts = {})
      data, _status_code, _headers = entities_local_application_patch_with_http_info(id, body, opts)
      data
    end

    # Update a local application
    # @param id [String] The local app id to update.
    # @param body [ApiLocalApplicationUpdateRequestV1] The new local-application definition
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiLocalApplicationMSAResponseV1, Integer, Hash)>] ApiLocalApplicationMSAResponseV1 data, response status code and response headers
    def entities_local_application_patch_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_local_application_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataProtectionConfiguration.entities_local_application_patch"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_local_application_patch"
      end
      # resource path
      local_var_path = '/data-protection/entities/local-applications/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiLocalApplicationMSAResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_local_application_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_local_application_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes policies that match the provided ids
    # @param ids [Array<String>] IDs of the policies to delete
    # @param platform_name [String] platform name of the policies to update, either &#39;win&#39; or &#39;mac&#39;
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerPoliciesResponse]
    def entities_policy_delete_v2(ids, platform_name, opts = {})
      data, _status_code, _headers = entities_policy_delete_v2_with_http_info(ids, platform_name, opts)
      data
    end

    # Deletes policies that match the provided ids
    # @param ids [Array<String>] IDs of the policies to delete
    # @param platform_name [String] platform name of the policies to update, either &#39;win&#39; or &#39;mac&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerPoliciesResponse, Integer, Hash)>] PolicymanagerPoliciesResponse data, response status code and response headers
    def entities_policy_delete_v2_with_http_info(ids, platform_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_policy_delete_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_policy_delete_v2"
      end
      if @api_client.config.client_side_validation && ids.length > 100
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_policy_delete_v2, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && ids.length < 1
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_policy_delete_v2, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'platform_name' is set
      if @api_client.config.client_side_validation && platform_name.nil?
        fail ArgumentError, "Missing the required parameter 'platform_name' when calling DataProtectionConfiguration.entities_policy_delete_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/policies/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'platform_name'] = platform_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerPoliciesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_policy_delete_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_policy_delete_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets policies that match the provided ids
    # @param ids [Array<String>] IDs of the policies to get
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerPoliciesResponse]
    def entities_policy_get_v2(ids, opts = {})
      data, _status_code, _headers = entities_policy_get_v2_with_http_info(ids, opts)
      data
    end

    # Gets policies that match the provided ids
    # @param ids [Array<String>] IDs of the policies to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerPoliciesResponse, Integer, Hash)>] PolicymanagerPoliciesResponse data, response status code and response headers
    def entities_policy_get_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_policy_get_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_policy_get_v2"
      end
      if @api_client.config.client_side_validation && ids.length > 100
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_policy_get_v2, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && ids.length < 1
        fail ArgumentError, 'invalid value for "ids" when calling DataProtectionConfiguration.entities_policy_get_v2, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/data-protection/entities/policies/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerPoliciesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_policy_get_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_policy_get_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update policies
    # @param platform_name [String] platform name of the policies to update, either &#39;win&#39; or &#39;mac&#39;
    # @param body [PolicymanagerUpdatePoliciesRequest]
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerPoliciesResponse]
    def entities_policy_patch_v2(platform_name, body, opts = {})
      data, _status_code, _headers = entities_policy_patch_v2_with_http_info(platform_name, body, opts)
      data
    end

    # Update policies
    # @param platform_name [String] platform name of the policies to update, either &#39;win&#39; or &#39;mac&#39;
    # @param body [PolicymanagerUpdatePoliciesRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerPoliciesResponse, Integer, Hash)>] PolicymanagerPoliciesResponse data, response status code and response headers
    def entities_policy_patch_v2_with_http_info(platform_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_policy_patch_v2 ...'
      end
      # verify the required parameter 'platform_name' is set
      if @api_client.config.client_side_validation && platform_name.nil?
        fail ArgumentError, "Missing the required parameter 'platform_name' when calling DataProtectionConfiguration.entities_policy_patch_v2"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_policy_patch_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/policies/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform_name'] = platform_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerPoliciesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_policy_patch_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_policy_patch_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create policies
    # @param platform_name [String] platform name of the policies to update, either &#39;win&#39; or &#39;mac&#39;
    # @param body [PolicymanagerCreatePoliciesRequest]
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerPoliciesResponse]
    def entities_policy_post_v2(platform_name, body, opts = {})
      data, _status_code, _headers = entities_policy_post_v2_with_http_info(platform_name, body, opts)
      data
    end

    # Create policies
    # @param platform_name [String] platform name of the policies to update, either &#39;win&#39; or &#39;mac&#39;
    # @param body [PolicymanagerCreatePoliciesRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerPoliciesResponse, Integer, Hash)>] PolicymanagerPoliciesResponse data, response status code and response headers
    def entities_policy_post_v2_with_http_info(platform_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_policy_post_v2 ...'
      end
      # verify the required parameter 'platform_name' is set
      if @api_client.config.client_side_validation && platform_name.nil?
        fail ArgumentError, "Missing the required parameter 'platform_name' when calling DataProtectionConfiguration.entities_policy_post_v2"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_policy_post_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/policies/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform_name'] = platform_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerPoliciesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_policy_post_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_policy_post_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Policy Precedence
    # @param body [PolicymanagerPoliciesPrecedence]
    # @param [Hash] opts the optional parameters
    # @return [PolicymanagerPoliciesResponse]
    def entities_policy_precedence_post_v1(body, opts = {})
      data, _status_code, _headers = entities_policy_precedence_post_v1_with_http_info(body, opts)
      data
    end

    # Update Policy Precedence
    # @param body [PolicymanagerPoliciesPrecedence]
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicymanagerPoliciesResponse, Integer, Hash)>] PolicymanagerPoliciesResponse data, response status code and response headers
    def entities_policy_precedence_post_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_policy_precedence_post_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_policy_precedence_post_v1"
      end
      # resource path
      local_var_path = '/data-protection/entities/data-protection-precedence/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicymanagerPoliciesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_policy_precedence_post_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_policy_precedence_post_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create new sensitivity label (V2)
    # @param body [ApiSensitivityLabelCreateRequestV2] Definition of sensitivity label to create
    # @param [Hash] opts the optional parameters
    # @return [ApiSensitivityLabelMSAResponseV2]
    def entities_sensitivity_label_create_v2(body, opts = {})
      data, _status_code, _headers = entities_sensitivity_label_create_v2_with_http_info(body, opts)
      data
    end

    # Create new sensitivity label (V2)
    # @param body [ApiSensitivityLabelCreateRequestV2] Definition of sensitivity label to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiSensitivityLabelMSAResponseV2, Integer, Hash)>] ApiSensitivityLabelMSAResponseV2 data, response status code and response headers
    def entities_sensitivity_label_create_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_sensitivity_label_create_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DataProtectionConfiguration.entities_sensitivity_label_create_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/labels/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiSensitivityLabelMSAResponseV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_sensitivity_label_create_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_sensitivity_label_create_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete sensitivity labels matching the IDs (V2)
    # @param ids [Array<String>] The sensitivity label entity id(s) to delete.
    # @param [Hash] opts the optional parameters
    # @return [ApiSensitivityLabelMSAResponseV2]
    def entities_sensitivity_label_delete_v2(ids, opts = {})
      data, _status_code, _headers = entities_sensitivity_label_delete_v2_with_http_info(ids, opts)
      data
    end

    # Delete sensitivity labels matching the IDs (V2)
    # @param ids [Array<String>] The sensitivity label entity id(s) to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiSensitivityLabelMSAResponseV2, Integer, Hash)>] ApiSensitivityLabelMSAResponseV2 data, response status code and response headers
    def entities_sensitivity_label_delete_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_sensitivity_label_delete_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_sensitivity_label_delete_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/labels/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiSensitivityLabelMSAResponseV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_sensitivity_label_delete_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_sensitivity_label_delete_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sensitivity label matching the IDs (V2)
    # @param ids [Array<String>] The sensitivity label entity id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [ApiSensitivityLabelMSAResponseV2]
    def entities_sensitivity_label_get_v2(ids, opts = {})
      data, _status_code, _headers = entities_sensitivity_label_get_v2_with_http_info(ids, opts)
      data
    end

    # Get sensitivity label matching the IDs (V2)
    # @param ids [Array<String>] The sensitivity label entity id(s) to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiSensitivityLabelMSAResponseV2, Integer, Hash)>] ApiSensitivityLabelMSAResponseV2 data, response status code and response headers
    def entities_sensitivity_label_get_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataProtectionConfiguration.entities_sensitivity_label_get_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DataProtectionConfiguration.entities_sensitivity_label_get_v2"
      end
      # resource path
      local_var_path = '/data-protection/entities/labels/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiSensitivityLabelMSAResponseV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DataProtectionConfiguration.entities_sensitivity_label_get_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataProtectionConfiguration#entities_sensitivity_label_get_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Persist the given web-locations
    # @param body [ApiCreateWebLocationsRequestV2] Definition of web-locations to create
    # @param [Hash] opts the optional parameters
    # @return [ApiWebLocationMSAResponseV2]
[...]
