=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class Deployments
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get deployment resources by ids
    # @param authorization [String] authorization header
    # @param ids [Array<String>] release version ids to retrieve deployment details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @return [DeploymentsAPIDeploymentViewWrapper]
    def get_deployments_external_v1(authorization, ids, opts = {})
      data, _status_code, _headers = get_deployments_external_v1_with_http_info(authorization, ids, opts)
      data
    end

    # Get deployment resources by ids
    # @param authorization [String] authorization header
    # @param ids [Array<String>] release version ids to retrieve deployment details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @return [Array<(DeploymentsAPIDeploymentViewWrapper, Integer, Hash)>] DeploymentsAPIDeploymentViewWrapper data, response status code and response headers
    def get_deployments_external_v1_with_http_info(authorization, ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Deployments.get_deployments_external_v1 ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling Deployments.get_deployments_external_v1"
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling Deployments.get_deployments_external_v1"
      end
      if @api_client.config.client_side_validation && ids.length < 1
        fail ArgumentError, 'invalid value for "ids" when calling Deployments.get_deployments_external_v1, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/deployment-coordinator/entities/deployments/external/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :csv)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'X-CS-USERNAME'] = opts[:'x_cs_username'] if !opts[:'x_cs_username'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeploymentsAPIDeploymentViewWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Deployments.get_deployments_external_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Deployments#get_deployments_external_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
