=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class DeviceControlWithBluetooth
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get default device control settings (USB and Bluetooth)
    # @param [Hash] opts the optional parameters
    # @return [DeviceControlRespDefaultSettingV1]
    def get_default_device_control_settings(opts = {})
      data, _status_code, _headers = get_default_device_control_settings_with_http_info(opts)
      data
    end

    # Get default device control settings (USB and Bluetooth)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceControlRespDefaultSettingV1, Integer, Hash)>] DeviceControlRespDefaultSettingV1 data, response status code and response headers
    def get_default_device_control_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceControlWithBluetooth.get_default_device_control_settings ...'
      end
      # resource path
      local_var_path = '/policy/entities/device-control-default-settings/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceControlRespDefaultSettingV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DeviceControlWithBluetooth.get_default_device_control_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceControlWithBluetooth#get_default_device_control_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get device control policies for the given filter criteria. (USB and Bluetooth)
    # @param ids [Array<String>] The IDs of the policies to get
    # @param [Hash] opts the optional parameters
    # @return [DevicecontrolapiRespPoliciesV2]
    def get_device_control_policies_v2(ids, opts = {})
      data, _status_code, _headers = get_device_control_policies_v2_with_http_info(ids, opts)
      data
    end

    # Get device control policies for the given filter criteria. (USB and Bluetooth)
    # @param ids [Array<String>] The IDs of the policies to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicecontrolapiRespPoliciesV2, Integer, Hash)>] DevicecontrolapiRespPoliciesV2 data, response status code and response headers
    def get_device_control_policies_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceControlWithBluetooth.get_device_control_policies_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling DeviceControlWithBluetooth.get_device_control_policies_v2"
      end
      # resource path
      local_var_path = '/policy/entities/device-control/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DevicecontrolapiRespPoliciesV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DeviceControlWithBluetooth.get_device_control_policies_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceControlWithBluetooth#get_device_control_policies_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update device control policy's classes (USB and Bluetooth)
    # @param body [DevicecontrolapiReqUpdatePoliciesClassesV1]
    # @param [Hash] opts the optional parameters
    # @return [DevicecontrolapiRespPoliciesV2]
    def patch_device_control_policies_classes_v1(body, opts = {})
      data, _status_code, _headers = patch_device_control_policies_classes_v1_with_http_info(body, opts)
      data
    end

    # Update device control policy&#39;s classes (USB and Bluetooth)
    # @param body [DevicecontrolapiReqUpdatePoliciesClassesV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicecontrolapiRespPoliciesV2, Integer, Hash)>] DevicecontrolapiRespPoliciesV2 data, response status code and response headers
    def patch_device_control_policies_classes_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceControlWithBluetooth.patch_device_control_policies_classes_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DeviceControlWithBluetooth.patch_device_control_policies_classes_v1"
      end
      # resource path
      local_var_path = '/policy/entities/device-control-classes/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DevicecontrolapiRespPoliciesV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DeviceControlWithBluetooth.patch_device_control_policies_classes_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceControlWithBluetooth#patch_device_control_policies_classes_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update device control policy base (USB and Bluetooth)
    # @param body [DevicecontrolapiReqUpdateBasesV1External]
    # @param [Hash] opts the optional parameters
    # @return [DevicecontrolapiRespPoliciesV2]
    def patch_device_control_policies_v2(body, opts = {})
      data, _status_code, _headers = patch_device_control_policies_v2_with_http_info(body, opts)
      data
    end

    # Update device control policy base (USB and Bluetooth)
    # @param body [DevicecontrolapiReqUpdateBasesV1External]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicecontrolapiRespPoliciesV2, Integer, Hash)>] DevicecontrolapiRespPoliciesV2 data, response status code and response headers
    def patch_device_control_policies_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceControlWithBluetooth.patch_device_control_policies_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DeviceControlWithBluetooth.patch_device_control_policies_v2"
      end
      # resource path
      local_var_path = '/policy/entities/device-control/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DevicecontrolapiRespPoliciesV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DeviceControlWithBluetooth.patch_device_control_policies_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceControlWithBluetooth#patch_device_control_policies_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create/clone a device control policy (USB and Bluetooth)
    # @param body [DevicecontrolapiReqCreatePoliciesV1]
    # @param [Hash] opts the optional parameters
    # @return [DevicecontrolapiRespPoliciesV2]
    def post_device_control_policies_v2(body, opts = {})
      data, _status_code, _headers = post_device_control_policies_v2_with_http_info(body, opts)
      data
    end

    # Create/clone a device control policy (USB and Bluetooth)
    # @param body [DevicecontrolapiReqCreatePoliciesV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicecontrolapiRespPoliciesV2, Integer, Hash)>] DevicecontrolapiRespPoliciesV2 data, response status code and response headers
    def post_device_control_policies_v2_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceControlWithBluetooth.post_device_control_policies_v2 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DeviceControlWithBluetooth.post_device_control_policies_v2"
      end
      # resource path
      local_var_path = '/policy/entities/device-control/v2'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DevicecontrolapiRespPoliciesV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DeviceControlWithBluetooth.post_device_control_policies_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceControlWithBluetooth#post_device_control_policies_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update the configuration for Default Device Control Settings
    # @param body [DeviceControlReqUpdateDefaultSettingsV1]
    # @param [Hash] opts the optional parameters
    # @return [DeviceControlRespDefaultSettingV1]
    def update_default_device_control_settings(body, opts = {})
      data, _status_code, _headers = update_default_device_control_settings_with_http_info(body, opts)
      data
    end

    # Update the configuration for Default Device Control Settings
    # @param body [DeviceControlReqUpdateDefaultSettingsV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceControlRespDefaultSettingV1, Integer, Hash)>] DeviceControlRespDefaultSettingV1 data, response status code and response headers
    def update_default_device_control_settings_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceControlWithBluetooth.update_default_device_control_settings ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DeviceControlWithBluetooth.update_default_device_control_settings"
      end
      # resource path
      local_var_path = '/policy/entities/device-control-default-settings/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceControlRespDefaultSettingV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DeviceControlWithBluetooth.update_default_device_control_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceControlWithBluetooth#update_default_device_control_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
