=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class DownloadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Enumerates a list of files available for CID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file_name Apply filtering on file name
    # @option opts [String] :file_version Apply filtering on file version
    # @option opts [String] :platform Apply filtering on file platform
    # @option opts [String] :os Apply filtering on operating system
    # @option opts [String] :arch Apply filtering on architecture
    # @option opts [String] :category Apply filtering on file category
    # @return [ModelsEntitiesResponse]
    def enumerate_file(opts = {})
      data, _status_code, _headers = enumerate_file_with_http_info(opts)
      data
    end

    # Enumerates a list of files available for CID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file_name Apply filtering on file name
    # @option opts [String] :file_version Apply filtering on file version
    # @option opts [String] :platform Apply filtering on file platform
    # @option opts [String] :os Apply filtering on operating system
    # @option opts [String] :arch Apply filtering on architecture
    # @option opts [String] :category Apply filtering on file category
    # @return [Array<(ModelsEntitiesResponse, Integer, Hash)>] ModelsEntitiesResponse data, response status code and response headers
    def enumerate_file_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DownloadsApi.enumerate_file ...'
      end
      # resource path
      local_var_path = '/csdownloads/entities/files/enumerate/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'file_name'] = opts[:'file_name'] if !opts[:'file_name'].nil?
      query_params[:'file_version'] = opts[:'file_version'] if !opts[:'file_version'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'os'] = opts[:'os'] if !opts[:'os'].nil?
      query_params[:'arch'] = opts[:'arch'] if !opts[:'arch'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DownloadsApi.enumerate_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DownloadsApi#enumerate_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get files info and pre-signed download URLs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search files using various filters using query in Falcon Query Language (FQL). Supported filters: arch,category,file_name,file_version,os
    # @option opts [String] :sort The fields to sort records on. Supported columns:  - &#x60;arch&#x60; - &#x60;category&#x60; - &#x60;file_name&#x60; - &#x60;file_version&#x60; - &#x60;os&#x60;
    # @return [ModelsEntitiesResponse]
    def fetch_files_download_info(opts = {})
      data, _status_code, _headers = fetch_files_download_info_with_http_info(opts)
      data
    end

    # Get files info and pre-signed download URLs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search files using various filters using query in Falcon Query Language (FQL). Supported filters: arch,category,file_name,file_version,os
    # @option opts [String] :sort The fields to sort records on. Supported columns:  - &#x60;arch&#x60; - &#x60;category&#x60; - &#x60;file_name&#x60; - &#x60;file_version&#x60; - &#x60;os&#x60;
    # @return [Array<(ModelsEntitiesResponse, Integer, Hash)>] ModelsEntitiesResponse data, response status code and response headers
    def fetch_files_download_info_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DownloadsApi.fetch_files_download_info ...'
      end
      # resource path
      local_var_path = '/csdownloads/combined/files-download/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DownloadsApi.fetch_files_download_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DownloadsApi#fetch_files_download_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get cloud security tools info and pre-signed download URLs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search files using various filters. Supported filters: arch,category,file_name,file_version,os
    # @option opts [String] :sort The fields to sort records on. Supported columns:  - &#x60;arch&#x60; - &#x60;category&#x60; - &#x60;file_name&#x60; - &#x60;file_version&#x60; - &#x60;os&#x60;
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve. Maximum limit: 100. (default to 100)
    # @option opts [Integer] :offset The offset from where to begin. Maximum offset &#x3D; 1000 - limit.
    # @return [ModelsCombinedFilesDownloadResponse]
    def fetch_files_download_info_v2(opts = {})
      data, _status_code, _headers = fetch_files_download_info_v2_with_http_info(opts)
      data
    end

    # Get cloud security tools info and pre-signed download URLs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Search files using various filters. Supported filters: arch,category,file_name,file_version,os
    # @option opts [String] :sort The fields to sort records on. Supported columns:  - &#x60;arch&#x60; - &#x60;category&#x60; - &#x60;file_name&#x60; - &#x60;file_version&#x60; - &#x60;os&#x60;
    # @option opts [Integer] :limit The upper-bound on the number of records to retrieve. Maximum limit: 100. (default to 100)
    # @option opts [Integer] :offset The offset from where to begin. Maximum offset &#x3D; 1000 - limit.
    # @return [Array<(ModelsCombinedFilesDownloadResponse, Integer, Hash)>] ModelsCombinedFilesDownloadResponse data, response status code and response headers
    def fetch_files_download_info_v2_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DownloadsApi.fetch_files_download_info_v2 ...'
      end
      # resource path
      local_var_path = '/csdownloads/combined/files-download/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsCombinedFilesDownloadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DownloadsApi.fetch_files_download_info_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DownloadsApi#fetch_files_download_info_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
