=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class Execution
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # retrieve a large request body, such as a file, that has spilled into object storage
    # @param id [String] Execution ID
    # @param fn [String] function ref; form of $fn_id:$fn_version
    # @param filename [String] filename to be retrieved
    # @param sha256 [String] sha256 checksum for file to be retrieved
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def read_request_body(id, fn, filename, sha256, opts = {})
      data, _status_code, _headers = read_request_body_with_http_info(id, fn, filename, sha256, opts)
      data
    end

    # retrieve a large request body, such as a file, that has spilled into object storage
    # @param id [String] Execution ID
    # @param fn [String] function ref; form of $fn_id:$fn_version
    # @param filename [String] filename to be retrieved
    # @param sha256 [String] sha256 checksum for file to be retrieved
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def read_request_body_with_http_info(id, fn, filename, sha256, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Execution.read_request_body ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling Execution.read_request_body"
      end
      # verify the required parameter 'fn' is set
      if @api_client.config.client_side_validation && fn.nil?
        fail ArgumentError, "Missing the required parameter 'fn' when calling Execution.read_request_body"
      end
      # verify the required parameter 'filename' is set
      if @api_client.config.client_side_validation && filename.nil?
        fail ArgumentError, "Missing the required parameter 'filename' when calling Execution.read_request_body"
      end
      # verify the required parameter 'sha256' is set
      if @api_client.config.client_side_validation && sha256.nil?
        fail ArgumentError, "Missing the required parameter 'sha256' when calling Execution.read_request_body"
      end
      # resource path
      local_var_path = '/faas-gateway/entities/execution-request-body/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'fn'] = fn
      query_params[:'filename'] = filename
      query_params[:'sha256'] = sha256

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv', 'text/plain', 'application/octet-stream', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Execution.read_request_body",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Execution#read_request_body\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
