=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class FalconId
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes third party passkey registries
    # @param ids [Array<String>] Third party passkey registry IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [FalconidapiThirdPartyPasskeyRegistryDeleteResponseV1]
    def delete_third_party_passkey_registry(ids, opts = {})
      data, _status_code, _headers = delete_third_party_passkey_registry_with_http_info(ids, opts)
      data
    end

    # Deletes third party passkey registries
    # @param ids [Array<String>] Third party passkey registry IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(FalconidapiThirdPartyPasskeyRegistryDeleteResponseV1, Integer, Hash)>] FalconidapiThirdPartyPasskeyRegistryDeleteResponseV1 data, response status code and response headers
    def delete_third_party_passkey_registry_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FalconId.delete_third_party_passkey_registry ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling FalconId.delete_third_party_passkey_registry"
      end
      # resource path
      local_var_path = '/falcon-id/entities/third-party-passkeys/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FalconidapiThirdPartyPasskeyRegistryDeleteResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FalconId.delete_third_party_passkey_registry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FalconId#delete_third_party_passkey_registry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetches third party passkey registries
    # @param ids [Array<String>] Third party passkey registry IDs to retrieve
    # @param [Hash] opts the optional parameters
    # @return [FalconidapiThirdPartyPasskeyRegistryGetResponseV1]
    def get_third_party_passkey_registry(ids, opts = {})
      data, _status_code, _headers = get_third_party_passkey_registry_with_http_info(ids, opts)
      data
    end

    # Fetches third party passkey registries
    # @param ids [Array<String>] Third party passkey registry IDs to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(FalconidapiThirdPartyPasskeyRegistryGetResponseV1, Integer, Hash)>] FalconidapiThirdPartyPasskeyRegistryGetResponseV1 data, response status code and response headers
    def get_third_party_passkey_registry_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FalconId.get_third_party_passkey_registry ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling FalconId.get_third_party_passkey_registry"
      end
      # resource path
      local_var_path = '/falcon-id/entities/third-party-passkeys/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FalconidapiThirdPartyPasskeyRegistryGetResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FalconId.get_third_party_passkey_registry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FalconId#get_third_party_passkey_registry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query third party passkey registries
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter
    # @option opts [Integer] :offset Paging offset
    # @option opts [Integer] :limit Paging limit
    # @option opts [String] :sort Sorting field and direction
    # @return [FalconidapiThirdPartyPasskeyRegistryQueryResponseV1]
    def query_third_party_passkey_registry(opts = {})
      data, _status_code, _headers = query_third_party_passkey_registry_with_http_info(opts)
      data
    end

    # Query third party passkey registries
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter
    # @option opts [Integer] :offset Paging offset
    # @option opts [Integer] :limit Paging limit
    # @option opts [String] :sort Sorting field and direction
    # @return [Array<(FalconidapiThirdPartyPasskeyRegistryQueryResponseV1, Integer, Hash)>] FalconidapiThirdPartyPasskeyRegistryQueryResponseV1 data, response status code and response headers
    def query_third_party_passkey_registry_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FalconId.query_third_party_passkey_registry ...'
      end
      # resource path
      local_var_path = '/falcon-id/queries/third-party-passkeys/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FalconidapiThirdPartyPasskeyRegistryQueryResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FalconId.query_third_party_passkey_registry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FalconId#query_third_party_passkey_registry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates third party passkey registries
    # @param body [Array<FalconidapiThirdPartyPasskeyRegistryPatchRequestV1>]
    # @param [Hash] opts the optional parameters
    # @return [FalconidapiThirdPartyPasskeyRegistryPatchResponseV1]
    def update_third_party_passkey_registry(body, opts = {})
      data, _status_code, _headers = update_third_party_passkey_registry_with_http_info(body, opts)
      data
    end

    # Updates third party passkey registries
    # @param body [Array<FalconidapiThirdPartyPasskeyRegistryPatchRequestV1>]
    # @param [Hash] opts the optional parameters
    # @return [Array<(FalconidapiThirdPartyPasskeyRegistryPatchResponseV1, Integer, Hash)>] FalconidapiThirdPartyPasskeyRegistryPatchResponseV1 data, response status code and response headers
    def update_third_party_passkey_registry_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FalconId.update_third_party_passkey_registry ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FalconId.update_third_party_passkey_registry"
      end
      # resource path
      local_var_path = '/falcon-id/entities/third-party-passkeys/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'FalconidapiThirdPartyPasskeyRegistryPatchResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FalconId.update_third_party_passkey_registry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FalconId#update_third_party_passkey_registry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
