=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class FederatedConnections
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete configuration for a federated connection
    # @param connection_id [String] Connection ID to delete configuration for
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_federated_connections_config(connection_id, opts = {})
      delete_federated_connections_config_with_http_info(connection_id, opts)
      nil
    end

    # Delete configuration for a federated connection
    # @param connection_id [String] Connection ID to delete configuration for
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_federated_connections_config_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FederatedConnections.delete_federated_connections_config ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling FederatedConnections.delete_federated_connections_config"
      end
      # resource path
      local_var_path = '/ngsiem/entities/federated-connections-config/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'connection_id'] = connection_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FederatedConnections.delete_federated_connections_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FederatedConnections#delete_federated_connections_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update configuration for a federated connection
    # @param connection_id [String] Connection ID to update configuration for
    # @param body [ClientFederatedConnectionConfigPatchRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [ClientFederatedConnectionConfigResponseV1]
    def patch_federated_connections_config(connection_id, body, opts = {})
      data, _status_code, _headers = patch_federated_connections_config_with_http_info(connection_id, body, opts)
      data
    end

    # Update configuration for a federated connection
    # @param connection_id [String] Connection ID to update configuration for
    # @param body [ClientFederatedConnectionConfigPatchRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClientFederatedConnectionConfigResponseV1, Integer, Hash)>] ClientFederatedConnectionConfigResponseV1 data, response status code and response headers
    def patch_federated_connections_config_with_http_info(connection_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FederatedConnections.patch_federated_connections_config ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling FederatedConnections.patch_federated_connections_config"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FederatedConnections.patch_federated_connections_config"
      end
      # resource path
      local_var_path = '/ngsiem/entities/federated-connections-config/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'connection_id'] = connection_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ClientFederatedConnectionConfigResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FederatedConnections.patch_federated_connections_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FederatedConnections#patch_federated_connections_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create configuration for a federated connection
    # @param body [ClientFederatedConnectionConfigRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [ClientFederatedConnectionConfigResponseV1]
    def post_federated_connections_config(body, opts = {})
      data, _status_code, _headers = post_federated_connections_config_with_http_info(body, opts)
      data
    end

    # Create configuration for a federated connection
    # @param body [ClientFederatedConnectionConfigRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClientFederatedConnectionConfigResponseV1, Integer, Hash)>] ClientFederatedConnectionConfigResponseV1 data, response status code and response headers
    def post_federated_connections_config_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FederatedConnections.post_federated_connections_config ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FederatedConnections.post_federated_connections_config"
      end
      # resource path
      local_var_path = '/ngsiem/entities/federated-connections-config/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ClientFederatedConnectionConfigResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FederatedConnections.post_federated_connections_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FederatedConnections#post_federated_connections_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
