=begin
#CrowdStrike API Specification

#Use this API specification as a reference for the API endpoints you can use to interact with your Falcon environment. These endpoints support authentication via OAuth2 and interact with detections and network containment. For detailed usage guides and examples, see our [documentation inside the Falcon console](https://falcon.crowdstrike.com/support/documentation).     To use the APIs described below, combine the base URL with the path shown for each API endpoint. For commercial cloud customers, your base URL is `https://api.crowdstrike.com`.    Each API endpoint requires authorization via an OAuth2 token. Your first API request should retrieve an OAuth2 token using the `oauth2/token` endpoint, such as `https://api.crowdstrike.com/oauth2/token`. For subsequent requests, include the OAuth2 token in an HTTP authorization header. Tokens expire after 30 minutes, after which you should make a new token request to continue making API requests.

The version of the OpenAPI document: 2023-05-30T23:10:32Z

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Falcon
  class FieldSchemaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch field schema by ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Specify feed IDs to fetch
    # @return [SchemaSensorFieldResponseV1]
    def fdrschema_entities_field_get(opts = {})
      data, _status_code, _headers = fdrschema_entities_field_get_with_http_info(opts)
      data
    end

    # Fetch field schema by ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Specify feed IDs to fetch
    # @return [Array<(SchemaSensorFieldResponseV1, Integer, Hash)>] SchemaSensorFieldResponseV1 data, response status code and response headers
    def fdrschema_entities_field_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FieldSchemaApi.fdrschema_entities_field_get ...'
      end
      # resource path
      local_var_path = '/fdr/entities/schema-fields/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchemaSensorFieldResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FieldSchemaApi.fdrschema_entities_field_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FieldSchemaApi#fdrschema_entities_field_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list of field IDs given a particular query.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Limit of the data
    # @option opts [Integer] :offset Offset into the data
    # @option opts [String] :filter FQL filter of the data
    # @option opts [String] :sort Sort the data
    # @return [MsaspecQueryResponse]
    def fdrschema_queries_field_get(opts = {})
      data, _status_code, _headers = fdrschema_queries_field_get_with_http_info(opts)
      data
    end

    # Get list of field IDs given a particular query.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Limit of the data
    # @option opts [Integer] :offset Offset into the data
    # @option opts [String] :filter FQL filter of the data
    # @option opts [String] :sort Sort the data
    # @return [Array<(MsaspecQueryResponse, Integer, Hash)>] MsaspecQueryResponse data, response status code and response headers
    def fdrschema_queries_field_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FieldSchemaApi.fdrschema_queries_field_get ...'
      end
      # resource path
      local_var_path = '/fdr/queries/schema-fields/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FieldSchemaApi.fdrschema_queries_field_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FieldSchemaApi#fdrschema_queries_field_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
