=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class Inventories
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # GET Device Inventory
    # Get a list of all devices
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @option opts [Boolean] :unassociated_devices Unassociated Devices
    # @return [GetDeviceInventory]
    def get_device_inventory_v3(opts = {})
      data, _status_code, _headers = get_device_inventory_v3_with_http_info(opts)
      data
    end

    # GET Device Inventory
    # Get a list of all devices
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @option opts [Boolean] :unassociated_devices Unassociated Devices
    # @return [Array<(GetDeviceInventory, Integer, Hash)>] GetDeviceInventory data, response status code and response headers
    def get_device_inventory_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Inventories.get_device_inventory_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/devices/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'privileged_only'] = opts[:'privileged_only'] if !opts[:'privileged_only'].nil?
      query_params[:'unassociated_devices'] = opts[:'unassociated_devices'] if !opts[:'unassociated_devices'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDeviceInventory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Inventories.get_device_inventory_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Inventories#get_device_inventory_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET User Inventory
    # Get a list of all users
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @return [GetUserInventory]
    def get_user_inventory_v3(opts = {})
      data, _status_code, _headers = get_user_inventory_v3_with_http_info(opts)
      data
    end

    # GET User Inventory
    # Get a list of all users
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @return [Array<(GetUserInventory, Integer, Hash)>] GetUserInventory data, response status code and response headers
    def get_user_inventory_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Inventories.get_user_inventory_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/users/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'privileged_only'] = opts[:'privileged_only'] if !opts[:'privileged_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserInventory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"Inventories.get_user_inventory_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Inventories#get_user_inventory_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
