=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class ItAutomation
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a task execution specified in the request
    # @param body [ItautomationCancelTaskExecutionRequest]
    # @param [Hash] opts the optional parameters
    # @return [ItautomationCancelTaskExecutionResponse]
    def i_t_automation_cancel_task_execution(body, opts = {})
      data, _status_code, _headers = i_t_automation_cancel_task_execution_with_http_info(body, opts)
      data
    end

    # Cancel a task execution specified in the request
    # @param body [ItautomationCancelTaskExecutionRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationCancelTaskExecutionResponse, Integer, Hash)>] ItautomationCancelTaskExecutionResponse data, response status code and response headers
    def i_t_automation_cancel_task_execution_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_cancel_task_execution ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_cancel_task_execution"
      end
      # resource path
      local_var_path = '/it-automation/entities/task-execution-cancel/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationCancelTaskExecutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_cancel_task_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_cancel_task_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns full details of scheduled tasks matching the filter query parameter.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [created_by, created_time, end_time, group_ids, group_names, is_active, last_run, modified_by, modified_time, start_time, task_id, task_name, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [created_by, created_time, end_time, group_ids, group_names, last_run, modified_by, modified_time, start_time, task_id, task_name, task_type]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [ItautomationGetScheduledTaskResponse]
    def i_t_automation_combined_scheduled_tasks(opts = {})
      data, _status_code, _headers = i_t_automation_combined_scheduled_tasks_with_http_info(opts)
      data
    end

    # Returns full details of scheduled tasks matching the filter query parameter.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [created_by, created_time, end_time, group_ids, group_names, is_active, last_run, modified_by, modified_time, start_time, task_id, task_name, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [created_by, created_time, end_time, group_ids, group_names, last_run, modified_by, modified_time, start_time, task_id, task_name, task_type]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [Array<(ItautomationGetScheduledTaskResponse, Integer, Hash)>] ItautomationGetScheduledTaskResponse data, response status code and response headers
    def i_t_automation_combined_scheduled_tasks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_combined_scheduled_tasks ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_combined_scheduled_tasks, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_combined_scheduled_tasks, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_combined_scheduled_tasks, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/it-automation/combined/scheduled-tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetScheduledTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_combined_scheduled_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_combined_scheduled_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new policy of the specified type. New policies are always added at the end of the precedence list for the provided policy type.
    # After they are created, host groups can be assigned and policy precedence can be set.
    # @param body [ItautomationCreatePolicyRequest] Create an existing policy.   * &#x60;name&#x60; must be between 1 and 100 characters.   * &#x60;description&#x60; can be between 0 and 500 characters.   * &#x60;platform&#x60; must be one of &#x60;Windows&#x60;, &#x60;Linux&#x60;, or &#x60;Mac&#x60;   * &#x60;config.execution.enable_script_execution&#x60; enables or disables script execution.   * &#x60;config.execution.enable_python_execution&#x60; enables or disables Python execution.   * &#x60;config.execution.enable_os_query&#x60; enables or disables OS Query.   * &#x60;config.execution.execution_timeout&#x60; specifies the timeout value for executions.   * &#x60;config.execution.execution_timeout_unit&#x60; must be one of &#x60;Hours&#x60; or &#x60;Minutes&#x60;.   * &#x60;config.resources.cpu_throttle&#x60; specifies the CPU throttle value.   * &#x60;config.resources.cpu_scheduling&#x60; sets priority to determine the order in which a query process will run on a host&#39;s CPU.   * &#x60;config.resources.memory_pressure_level&#x60; sets memory pressure level to control system resource allocation during task execution.   * &#x60;config.resources.memory_allocation&#x60; specifies the memory allocation value.   * &#x60;config.resources.memory_allocation_unit&#x60; must be one of &#x60;MB&#x60; or &#x60;GB&#x60;.   * &#x60;config.concurrency.concurrent_host_limit&#x60; specifies the maximum number of concurrent hosts.   * &#x60;config.concurrency.concurrent_task_limit&#x60; specifies the maximum number of concurrent tasks.   * &#x60;config.concurrency.concurrent_host_file_transfer_limit&#x60; specifies the maximum number of concurrent file transfers.
    # @param [Hash] opts the optional parameters
    # @return [ItautomationCreatePolicyResponse]
    def i_t_automation_create_policy(body, opts = {})
      data, _status_code, _headers = i_t_automation_create_policy_with_http_info(body, opts)
      data
    end

    # Creates a new policy of the specified type. New policies are always added at the end of the precedence list for the provided policy type.
    # After they are created, host groups can be assigned and policy precedence can be set.
    # @param body [ItautomationCreatePolicyRequest] Create an existing policy.   * &#x60;name&#x60; must be between 1 and 100 characters.   * &#x60;description&#x60; can be between 0 and 500 characters.   * &#x60;platform&#x60; must be one of &#x60;Windows&#x60;, &#x60;Linux&#x60;, or &#x60;Mac&#x60;   * &#x60;config.execution.enable_script_execution&#x60; enables or disables script execution.   * &#x60;config.execution.enable_python_execution&#x60; enables or disables Python execution.   * &#x60;config.execution.enable_os_query&#x60; enables or disables OS Query.   * &#x60;config.execution.execution_timeout&#x60; specifies the timeout value for executions.   * &#x60;config.execution.execution_timeout_unit&#x60; must be one of &#x60;Hours&#x60; or &#x60;Minutes&#x60;.   * &#x60;config.resources.cpu_throttle&#x60; specifies the CPU throttle value.   * &#x60;config.resources.cpu_scheduling&#x60; sets priority to determine the order in which a query process will run on a host&#39;s CPU.   * &#x60;config.resources.memory_pressure_level&#x60; sets memory pressure level to control system resource allocation during task execution.   * &#x60;config.resources.memory_allocation&#x60; specifies the memory allocation value.   * &#x60;config.resources.memory_allocation_unit&#x60; must be one of &#x60;MB&#x60; or &#x60;GB&#x60;.   * &#x60;config.concurrency.concurrent_host_limit&#x60; specifies the maximum number of concurrent hosts.   * &#x60;config.concurrency.concurrent_task_limit&#x60; specifies the maximum number of concurrent tasks.   * &#x60;config.concurrency.concurrent_host_file_transfer_limit&#x60; specifies the maximum number of concurrent file transfers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationCreatePolicyResponse, Integer, Hash)>] ItautomationCreatePolicyResponse data, response status code and response headers
    def i_t_automation_create_policy_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_create_policy ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_create_policy"
      end
      # resource path
      local_var_path = '/it-automation/entities/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationCreatePolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_create_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_create_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a scheduled task from the given request
    # @param body [ItautomationCreateScheduledTaskRequest]
    # @param [Hash] opts the optional parameters
    # @return [ItautomationCreateScheduledTaskResponse]
    def i_t_automation_create_scheduled_task(body, opts = {})
      data, _status_code, _headers = i_t_automation_create_scheduled_task_with_http_info(body, opts)
      data
    end

    # Creates a scheduled task from the given request
    # @param body [ItautomationCreateScheduledTaskRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationCreateScheduledTaskResponse, Integer, Hash)>] ItautomationCreateScheduledTaskResponse data, response status code and response headers
    def i_t_automation_create_scheduled_task_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_create_scheduled_task ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_create_scheduled_task"
      end
      # resource path
      local_var_path = '/it-automation/entities/scheduled-tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationCreateScheduledTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_create_scheduled_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_create_scheduled_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a task with details from the given request.
    # @param body [ItautomationCreateTaskRequest]
    # @param [Hash] opts the optional parameters
    # @return [ItautomationCreateTaskResponse]
    def i_t_automation_create_task(body, opts = {})
      data, _status_code, _headers = i_t_automation_create_task_with_http_info(body, opts)
      data
    end

    # Creates a task with details from the given request.
    # @param body [ItautomationCreateTaskRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationCreateTaskResponse, Integer, Hash)>] ItautomationCreateTaskResponse data, response status code and response headers
    def i_t_automation_create_task_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_create_task ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_create_task"
      end
      # resource path
      local_var_path = '/it-automation/entities/tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationCreateTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_create_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_create_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a task group from the given request
    # @param body [ItautomationCreateTaskGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [ItautomationCreateTaskGroupResponse]
    def i_t_automation_create_task_group(body, opts = {})
      data, _status_code, _headers = i_t_automation_create_task_group_with_http_info(body, opts)
      data
    end

    # Creates a task group from the given request
    # @param body [ItautomationCreateTaskGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationCreateTaskGroupResponse, Integer, Hash)>] ItautomationCreateTaskGroupResponse data, response status code and response headers
    def i_t_automation_create_task_group_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_create_task_group ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_create_task_group"
      end
      # resource path
      local_var_path = '/it-automation/entities/task-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationCreateTaskGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_create_task_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_create_task_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a user group from the given request
    # @param body [ItautomationCreateUserGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [ItautomationCreateUserGroupResponse]
    def i_t_automation_create_user_group(body, opts = {})
      data, _status_code, _headers = i_t_automation_create_user_group_with_http_info(body, opts)
      data
    end

    # Creates a user group from the given request
    # @param body [ItautomationCreateUserGroupRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationCreateUserGroupResponse, Integer, Hash)>] ItautomationCreateUserGroupResponse data, response status code and response headers
    def i_t_automation_create_user_group_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_create_user_group ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_create_user_group"
      end
      # resource path
      local_var_path = '/it-automation/entities/it-user-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationCreateUserGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_create_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_create_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes 1 or more policies.
    # Only disabled policies are allowed to be deleted.
    # @param ids [Array<String>] list of task ids to delete
    # @param [Hash] opts the optional parameters
    # @return [ItautomationDeletePolicyResponse]
    def i_t_automation_delete_policy(ids, opts = {})
      data, _status_code, _headers = i_t_automation_delete_policy_with_http_info(ids, opts)
      data
    end

    # Deletes 1 or more policies.
    # Only disabled policies are allowed to be deleted.
    # @param ids [Array<String>] list of task ids to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationDeletePolicyResponse, Integer, Hash)>] ItautomationDeletePolicyResponse data, response status code and response headers
    def i_t_automation_delete_policy_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_delete_policy ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_delete_policy"
      end
      # resource path
      local_var_path = '/it-automation/entities/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationDeletePolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_delete_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_delete_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete one or more scheduled tasks by providing the scheduled tasks IDs
    # @param ids [Array<String>] Comma separated values of scheduled task IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [ItautomationDeleteScheduledTasksResponse]
    def i_t_automation_delete_scheduled_tasks(ids, opts = {})
      data, _status_code, _headers = i_t_automation_delete_scheduled_tasks_with_http_info(ids, opts)
      data
    end

    # Delete one or more scheduled tasks by providing the scheduled tasks IDs
    # @param ids [Array<String>] Comma separated values of scheduled task IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationDeleteScheduledTasksResponse, Integer, Hash)>] ItautomationDeleteScheduledTasksResponse data, response status code and response headers
    def i_t_automation_delete_scheduled_tasks_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_delete_scheduled_tasks ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_delete_scheduled_tasks"
      end
      # resource path
      local_var_path = '/it-automation/entities/scheduled-tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationDeleteScheduledTasksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_delete_scheduled_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_delete_scheduled_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes tasks for each provided ID
    # @param ids [Array<String>] IDs of tasks to delete. Use ITAutomationSearchTasks to fetch IDs
    # @param [Hash] opts the optional parameters
    # @return [ItautomationDeleteTaskResponse]
    def i_t_automation_delete_task(ids, opts = {})
      data, _status_code, _headers = i_t_automation_delete_task_with_http_info(ids, opts)
      data
    end

    # Deletes tasks for each provided ID
    # @param ids [Array<String>] IDs of tasks to delete. Use ITAutomationSearchTasks to fetch IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationDeleteTaskResponse, Integer, Hash)>] ItautomationDeleteTaskResponse data, response status code and response headers
    def i_t_automation_delete_task_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_delete_task ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_delete_task"
      end
      # resource path
      local_var_path = '/it-automation/entities/tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationDeleteTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_delete_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_delete_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete one or more task groups by providing the task group IDs
    # @param ids [Array<String>] Comma separated values of task group IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [ItautomationDeleteTaskGroupsResponse]
    def i_t_automation_delete_task_groups(ids, opts = {})
      data, _status_code, _headers = i_t_automation_delete_task_groups_with_http_info(ids, opts)
      data
    end

    # Delete one or more task groups by providing the task group IDs
    # @param ids [Array<String>] Comma separated values of task group IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationDeleteTaskGroupsResponse, Integer, Hash)>] ItautomationDeleteTaskGroupsResponse data, response status code and response headers
    def i_t_automation_delete_task_groups_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_delete_task_groups ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_delete_task_groups"
      end
      # resource path
      local_var_path = '/it-automation/entities/task-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationDeleteTaskGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_delete_task_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_delete_task_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes user groups for each provided ids
    # @param ids [Array<String>] Comma separated values of user group ids to delete
    # @param [Hash] opts the optional parameters
    # @return [ItautomationDeleteUserGroupsResponse]
    def i_t_automation_delete_user_group(ids, opts = {})
      data, _status_code, _headers = i_t_automation_delete_user_group_with_http_info(ids, opts)
      data
    end

    # Deletes user groups for each provided ids
    # @param ids [Array<String>] Comma separated values of user group ids to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationDeleteUserGroupsResponse, Integer, Hash)>] ItautomationDeleteUserGroupsResponse data, response status code and response headers
    def i_t_automation_delete_user_group_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_delete_user_group ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_delete_user_group"
      end
      # resource path
      local_var_path = '/it-automation/entities/it-user-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationDeleteUserGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_delete_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_delete_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve tasks associated with the provided file id
    # @param id [String] The ID of the file to fetch associated tasks for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [access_type, created_by, created_time, last_run_time, modified_by, modified_time, name, runs, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [name]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [ItautomationFileTaskAssociationResponse]
    def i_t_automation_get_associated_tasks(id, opts = {})
      data, _status_code, _headers = i_t_automation_get_associated_tasks_with_http_info(id, opts)
      data
    end

    # Retrieve tasks associated with the provided file id
    # @param id [String] The ID of the file to fetch associated tasks for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [access_type, created_by, created_time, last_run_time, modified_by, modified_time, name, runs, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [name]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [Array<(ItautomationFileTaskAssociationResponse, Integer, Hash)>] ItautomationFileTaskAssociationResponse data, response status code and response headers
    def i_t_automation_get_associated_tasks_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_associated_tasks ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItAutomation.i_t_automation_get_associated_tasks"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_get_associated_tasks, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_associated_tasks, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_associated_tasks, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/it-automation/combined/associated-tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationFileTaskAssociationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_associated_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_associated_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the task execution results from an async search.    Use the ITAutomationStartExecutionResultsSearch command to start the async search. You can retrieve the results again for up to 24 hours, after which they will be deleted.
    # @param id [String] The Job ID to fetch. Use the value returned from &#x60;ITAutomationStartExecutionResultsSearch&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The offset to start retrieving records from (default to 0)
    # @option opts [Integer] :limit The maximum number of event results to return (default to 500)
    # @option opts [String] :sort Sort results by one of the fields in the event results, either asc (ascending) or desc (descending)  For example, to sort by hostname ascending: &#x60;hostname.asc&#x60;
    # @return [ItautomationTaskExecutionResultsResponse]
    def i_t_automation_get_execution_results(id, opts = {})
      data, _status_code, _headers = i_t_automation_get_execution_results_with_http_info(id, opts)
      data
    end

    # Get the task execution results from an async search.    Use the ITAutomationStartExecutionResultsSearch command to start the async search. You can retrieve the results again for up to 24 hours, after which they will be deleted.
    # @param id [String] The Job ID to fetch. Use the value returned from &#x60;ITAutomationStartExecutionResultsSearch&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The offset to start retrieving records from (default to 0)
    # @option opts [Integer] :limit The maximum number of event results to return (default to 500)
    # @option opts [String] :sort Sort results by one of the fields in the event results, either asc (ascending) or desc (descending)  For example, to sort by hostname ascending: &#x60;hostname.asc&#x60;
    # @return [Array<(ItautomationTaskExecutionResultsResponse, Integer, Hash)>] ItautomationTaskExecutionResultsResponse data, response status code and response headers
    def i_t_automation_get_execution_results_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_execution_results ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItAutomation.i_t_automation_get_execution_results"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_get_execution_results, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/it-automation/entities/task-execution-results/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationTaskExecutionResultsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_execution_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_execution_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the status of an async task execution results.   Look for `is_pending: false` to know search is complete.
    # @param id [String] Search Job ID to fetch. UseITAutomationStartExecutionResultsSearch to get the job id
    # @param [Hash] opts the optional parameters
    # @return [ItautomationSearchStatusResponse]
    def i_t_automation_get_execution_results_search_status(id, opts = {})
      data, _status_code, _headers = i_t_automation_get_execution_results_search_status_with_http_info(id, opts)
      data
    end

    # Get the status of an async task execution results.   Look for &#x60;is_pending: false&#x60; to know search is complete.
    # @param id [String] Search Job ID to fetch. UseITAutomationStartExecutionResultsSearch to get the job id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationSearchStatusResponse, Integer, Hash)>] ItautomationSearchStatusResponse data, response status code and response headers
    def i_t_automation_get_execution_results_search_status_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_execution_results_search_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItAutomation.i_t_automation_get_execution_results_search_status"
      end
      # resource path
      local_var_path = '/it-automation/entities/task-execution-results-search/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationSearchStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_execution_results_search_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_execution_results_search_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the configuration for 1 or more policies.
    # The configuration of each policy that match the provided id will be returned.
    # @param ids [Array<String>] One or more (up to 500) policy ids in the form of &#x60;ids&#x3D;ID1&amp;ids&#x3D;ID2&#x60;
    # @param [Hash] opts the optional parameters
    # @return [ItautomationPoliciesAPIResponse]
    def i_t_automation_get_policies(ids, opts = {})
      data, _status_code, _headers = i_t_automation_get_policies_with_http_info(ids, opts)
      data
    end

    # Retrieves the configuration for 1 or more policies.
    # The configuration of each policy that match the provided id will be returned.
    # @param ids [Array<String>] One or more (up to 500) policy ids in the form of &#x60;ids&#x3D;ID1&amp;ids&#x3D;ID2&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationPoliciesAPIResponse, Integer, Hash)>] ItautomationPoliciesAPIResponse data, response status code and response headers
    def i_t_automation_get_policies_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_policies ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_get_policies"
      end
      # resource path
      local_var_path = '/it-automation/entities/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationPoliciesAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns scheduled tasks for each provided id
    # @param ids [Array<String>] Scheduled task IDs to fetch. Use ITAutomationSearchScheduledTasks to fetch scheduled task IDs
    # @param [Hash] opts the optional parameters
    # @return [ItautomationGetScheduledTaskResponse]
    def i_t_automation_get_scheduled_tasks(ids, opts = {})
      data, _status_code, _headers = i_t_automation_get_scheduled_tasks_with_http_info(ids, opts)
      data
    end

    # Returns scheduled tasks for each provided id
    # @param ids [Array<String>] Scheduled task IDs to fetch. Use ITAutomationSearchScheduledTasks to fetch scheduled task IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationGetScheduledTaskResponse, Integer, Hash)>] ItautomationGetScheduledTaskResponse data, response status code and response headers
    def i_t_automation_get_scheduled_tasks_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_scheduled_tasks ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_get_scheduled_tasks"
      end
      # resource path
      local_var_path = '/it-automation/entities/scheduled-tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetScheduledTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_scheduled_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_scheduled_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the task execution for the provided task execution IDs
    # @param ids [Array<String>] Task execution IDs to fetch. Use ITAutomationSearchTaskExecutions to get the execution id
    # @param [Hash] opts the optional parameters
    # @return [ItautomationGetTaskExecutionResponse]
    def i_t_automation_get_task_execution(ids, opts = {})
      data, _status_code, _headers = i_t_automation_get_task_execution_with_http_info(ids, opts)
      data
    end

    # Get the task execution for the provided task execution IDs
    # @param ids [Array<String>] Task execution IDs to fetch. Use ITAutomationSearchTaskExecutions to get the execution id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationGetTaskExecutionResponse, Integer, Hash)>] ItautomationGetTaskExecutionResponse data, response status code and response headers
    def i_t_automation_get_task_execution_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_task_execution ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_get_task_execution"
      end
      # resource path
      local_var_path = '/it-automation/entities/task-executions/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetTaskExecutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_task_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_task_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the status of host executions by providing the execution IDs
    # @param ids [Array<String>] Task execution IDs to get statuses for. Use ITAutomationSearchTaskExecutions to fetch execution IDs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [end_time, start_time, status, total_results] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [end_time, start_time, status, total_results]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [ItautomationGetTaskExecutionHostStatusResponse]
    def i_t_automation_get_task_execution_host_status(ids, opts = {})
      data, _status_code, _headers = i_t_automation_get_task_execution_host_status_with_http_info(ids, opts)
      data
    end

    # Get the status of host executions by providing the execution IDs
    # @param ids [Array<String>] Task execution IDs to get statuses for. Use ITAutomationSearchTaskExecutions to fetch execution IDs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [end_time, start_time, status, total_results] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [end_time, start_time, status, total_results]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [Array<(ItautomationGetTaskExecutionHostStatusResponse, Integer, Hash)>] ItautomationGetTaskExecutionHostStatusResponse data, response status code and response headers
    def i_t_automation_get_task_execution_host_status_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_task_execution_host_status ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_get_task_execution_host_status"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_get_task_execution_host_status, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_task_execution_host_status, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_task_execution_host_status, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/it-automation/entities/task-execution-host-status/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetTaskExecutionHostStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_task_execution_host_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_task_execution_host_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the list of task executions (and their details) matching the filter query parameter. This endpoint will return the same output as if you ran ITAutomationSearchTaskExecutions and ITAutomationGetTaskExecution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [end_time, run_by, run_type, start_time, status, task_id, task_name, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [end_time, run_by, run_type, start_time, status, task_id, task_name, task_type]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [ItautomationGetTaskExecutionResponse]
    def i_t_automation_get_task_executions_by_query(opts = {})
      data, _status_code, _headers = i_t_automation_get_task_executions_by_query_with_http_info(opts)
      data
    end

    # Returns the list of task executions (and their details) matching the filter query parameter. This endpoint will return the same output as if you ran ITAutomationSearchTaskExecutions and ITAutomationGetTaskExecution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [end_time, run_by, run_type, start_time, status, task_id, task_name, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [end_time, run_by, run_type, start_time, status, task_id, task_name, task_type]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [Array<(ItautomationGetTaskExecutionResponse, Integer, Hash)>] ItautomationGetTaskExecutionResponse data, response status code and response headers
    def i_t_automation_get_task_executions_by_query_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_task_executions_by_query ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_get_task_executions_by_query, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_task_executions_by_query, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_task_executions_by_query, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/it-automation/combined/task-executions/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetTaskExecutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_task_executions_by_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_task_executions_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns task groups for each provided id
    # @param ids [Array<String>] Comma separated values of task group ids to fetch
    # @param [Hash] opts the optional parameters
    # @return [ItautomationGetTaskGroupsResponse]
    def i_t_automation_get_task_groups(ids, opts = {})
      data, _status_code, _headers = i_t_automation_get_task_groups_with_http_info(ids, opts)
      data
    end

    # Returns task groups for each provided id
    # @param ids [Array<String>] Comma separated values of task group ids to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationGetTaskGroupsResponse, Integer, Hash)>] ItautomationGetTaskGroupsResponse data, response status code and response headers
    def i_t_automation_get_task_groups_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_task_groups ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_get_task_groups"
      end
      # resource path
      local_var_path = '/it-automation/entities/task-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetTaskGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_task_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_task_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns full details of task groups matching the filter query parameter.
    # Can be used in place of calling ITAutomationSearchTaskGroups then ITAutomationGetTaskGroups.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [access_type, created_by, created_time, modified_by, modified_time, name] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [access_type, created_by, created_time, modified_by, modified_time, name]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [ItautomationGetTaskGroupsResponse]
    def i_t_automation_get_task_groups_by_query(opts = {})
      data, _status_code, _headers = i_t_automation_get_task_groups_by_query_with_http_info(opts)
      data
    end

    # Returns full details of task groups matching the filter query parameter.
    # Can be used in place of calling ITAutomationSearchTaskGroups then ITAutomationGetTaskGroups.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [access_type, created_by, created_time, modified_by, modified_time, name] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [access_type, created_by, created_time, modified_by, modified_time, name]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [Array<(ItautomationGetTaskGroupsResponse, Integer, Hash)>] ItautomationGetTaskGroupsResponse data, response status code and response headers
    def i_t_automation_get_task_groups_by_query_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_task_groups_by_query ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_get_task_groups_by_query, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_task_groups_by_query, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_task_groups_by_query, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/it-automation/combined/task-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetTaskGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_task_groups_by_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_task_groups_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns tasks for each provided ID
    # @param ids [Array<String>] IDs of tasks to fetch. Use ITAutomationSearchTasks to fetch IDs
    # @param [Hash] opts the optional parameters
    # @return [ItautomationGetTaskResponse]
    def i_t_automation_get_tasks(ids, opts = {})
      data, _status_code, _headers = i_t_automation_get_tasks_with_http_info(ids, opts)
      data
    end

    # Returns tasks for each provided ID
    # @param ids [Array<String>] IDs of tasks to fetch. Use ITAutomationSearchTasks to fetch IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationGetTaskResponse, Integer, Hash)>] ItautomationGetTaskResponse data, response status code and response headers
    def i_t_automation_get_tasks_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_tasks ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_get_tasks"
      end
      # resource path
      local_var_path = '/it-automation/entities/tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns full details of tasks matching the filter query parameter.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [access_type, created_by, created_time, last_run_time, modified_by, modified_time, name, runs, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [access_type, created_by, created_time, last_run_time, modified_by, modified_time, name, runs, task_type]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [ItautomationGetTaskResponse]
    def i_t_automation_get_tasks_by_query(opts = {})
      data, _status_code, _headers = i_t_automation_get_tasks_by_query_with_http_info(opts)
      data
    end

    # Returns full details of tasks matching the filter query parameter.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter expression that should be used to limit the results. Allowed filter fields: [access_type, created_by, created_time, last_run_time, modified_by, modified_time, name, runs, task_type] Example: example_string_field:&#39;example@example.com&#39;+example_date_field:&gt;&#x3D;&#39;2024-08-27T03:21:32Z&#39;
    # @option opts [String] :sort The sort expression that should be used to sort the results. Allowed sort fields: [access_type, created_by, created_time, last_run_time, modified_by, modified_time, name, runs, task_type]. Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending). Example: example_field|asc
    # @option opts [Integer] :offset Starting index for record retrieval. Example: 100 (default to 0)
    # @option opts [Integer] :limit The maximum records to return. Example: 50 (default to 100)
    # @return [Array<(ItautomationGetTaskResponse, Integer, Hash)>] ItautomationGetTaskResponse data, response status code and response headers
    def i_t_automation_get_tasks_by_query_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_tasks_by_query ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_get_tasks_by_query, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_tasks_by_query, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ItAutomation.i_t_automation_get_tasks_by_query, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/it-automation/combined/tasks/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_tasks_by_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_tasks_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns user groups for each provided id
    # @param ids [Array<String>] Comma separated values of user group ids to fetch
    # @param [Hash] opts the optional parameters
    # @return [ItautomationGetUserGroupsResponse]
    def i_t_automation_get_user_group(ids, opts = {})
      data, _status_code, _headers = i_t_automation_get_user_group_with_http_info(ids, opts)
      data
    end

    # Returns user groups for each provided id
    # @param ids [Array<String>] Comma separated values of user group ids to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationGetUserGroupsResponse, Integer, Hash)>] ItautomationGetUserGroupsResponse data, response status code and response headers
    def i_t_automation_get_user_group_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_get_user_group ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ItAutomation.i_t_automation_get_user_group"
      end
      # resource path
      local_var_path = '/it-automation/entities/it-user-groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationGetUserGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_get_user_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_get_user_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the list of policy ids matching the filter query parameter.
    # @param platform [String] The platform of policies to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The offset to start retrieving records from. Defaults to 0 if not specified.
    # @option opts [Integer] :limit The maximum number of ids to return. Defaults to 100 if not specified. The maximum number of results that can be returned in a single call is 500.
    # @option opts [String] :sort Sort the returned ids based on one of the following properties:  &#x60;precedence&#x60;, &#x60;created_timestamp&#x60; or &#x60;modified_timestamp&#x60;   Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending);  for example: &#x60;precedence|asc&#x60;.
    # @return [ItautomationQueryPolicyResponse]
    def i_t_automation_query_policies(platform, opts = {})
      data, _status_code, _headers = i_t_automation_query_policies_with_http_info(platform, opts)
      data
    end

    # Returns the list of policy ids matching the filter query parameter.
    # @param platform [String] The platform of policies to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The offset to start retrieving records from. Defaults to 0 if not specified.
    # @option opts [Integer] :limit The maximum number of ids to return. Defaults to 100 if not specified. The maximum number of results that can be returned in a single call is 500.
    # @option opts [String] :sort Sort the returned ids based on one of the following properties:  &#x60;precedence&#x60;, &#x60;created_timestamp&#x60; or &#x60;modified_timestamp&#x60;   Sort either &#x60;asc&#x60; (ascending) or &#x60;desc&#x60; (descending);  for example: &#x60;precedence|asc&#x60;.
    # @return [Array<(ItautomationQueryPolicyResponse, Integer, Hash)>] ItautomationQueryPolicyResponse data, response status code and response headers
    def i_t_automation_query_policies_with_http_info(platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_query_policies ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling ItAutomation.i_t_automation_query_policies"
      end
      # verify enum value
      allowable_values = ["Windows", "Mac", "Linux"]
      if @api_client.config.client_side_validation && !allowable_values.include?(platform)
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ItAutomation.i_t_automation_query_policies, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/it-automation/queries/policies/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = platform
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationQueryPolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_query_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_query_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rerun the task execution specified in the request
    # @param body [ItautomationRerunTaskExecutionRequest]
    # @param [Hash] opts the optional parameters
    # @return [ItautomationRerunTaskExecutionResponse]
    def i_t_automation_rerun_task_execution(body, opts = {})
      data, _status_code, _headers = i_t_automation_rerun_task_execution_with_http_info(body, opts)
      data
    end

    # Rerun the task execution specified in the request
    # @param body [ItautomationRerunTaskExecutionRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationRerunTaskExecutionResponse, Integer, Hash)>] ItautomationRerunTaskExecutionResponse data, response status code and response headers
    def i_t_automation_rerun_task_execution_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_rerun_task_execution ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_rerun_task_execution"
      end
      # resource path
      local_var_path = '/it-automation/entities/task-execution-rerun/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ItautomationRerunTaskExecutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ItAutomation.i_t_automation_rerun_task_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItAutomation#i_t_automation_rerun_task_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Starts a new task execution from the provided query data in the request and returns the initiated task executions
    # @param body [ItautomationRunLiveQueryRequest]
    # @param [Hash] opts the optional parameters
    # @return [ItautomationStartTaskExecutionResponse]
    def i_t_automation_run_live_query(body, opts = {})
      data, _status_code, _headers = i_t_automation_run_live_query_with_http_info(body, opts)
      data
    end

    # Starts a new task execution from the provided query data in the request and returns the initiated task executions
    # @param body [ItautomationRunLiveQueryRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItautomationStartTaskExecutionResponse, Integer, Hash)>] ItautomationStartTaskExecutionResponse data, response status code and response headers
    def i_t_automation_run_live_query_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItAutomation.i_t_automation_run_live_query ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ItAutomation.i_t_automation_run_live_query"
      end
      # resource path
      local_var_path = '/it-automation/entities/live-query-execution/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
[...]
