=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class KnowledgeBaseFiles
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload a file to a knowledge base.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param file [File] File to be uploaded
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file_description Description for the uploaded file
    # @return [DomainReplyEntitiesKnowledgeBaseFilesResponse]
    def entities_knowledge_base_files_create_v1(knowledge_base_id, file, opts = {})
      data, _status_code, _headers = entities_knowledge_base_files_create_v1_with_http_info(knowledge_base_id, file, opts)
      data
    end

    # Upload a file to a knowledge base.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param file [File] File to be uploaded
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file_description Description for the uploaded file
    # @return [Array<(DomainReplyEntitiesKnowledgeBaseFilesResponse, Integer, Hash)>] DomainReplyEntitiesKnowledgeBaseFilesResponse data, response status code and response headers
    def entities_knowledge_base_files_create_v1_with_http_info(knowledge_base_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBaseFiles.entities_knowledge_base_files_create_v1 ...'
      end
      # verify the required parameter 'knowledge_base_id' is set
      if @api_client.config.client_side_validation && knowledge_base_id.nil?
        fail ArgumentError, "Missing the required parameter 'knowledge_base_id' when calling KnowledgeBaseFiles.entities_knowledge_base_files_create_v1"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling KnowledgeBaseFiles.entities_knowledge_base_files_create_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_base_files/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['knowledge_base_id'] = knowledge_base_id
      form_params['file'] = file
      form_params['file_description'] = opts[:'file_description'] if !opts[:'file_description'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyEntitiesKnowledgeBaseFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBaseFiles.entities_knowledge_base_files_create_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBaseFiles#entities_knowledge_base_files_create_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete document from knowledge base.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param id [String] ID of the document to delete
    # @param [Hash] opts the optional parameters
    # @return [MsaspecResponseFields]
    def entities_knowledge_base_files_delete_v1(knowledge_base_id, id, opts = {})
      data, _status_code, _headers = entities_knowledge_base_files_delete_v1_with_http_info(knowledge_base_id, id, opts)
      data
    end

    # Delete document from knowledge base.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param id [String] ID of the document to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaspecResponseFields, Integer, Hash)>] MsaspecResponseFields data, response status code and response headers
    def entities_knowledge_base_files_delete_v1_with_http_info(knowledge_base_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBaseFiles.entities_knowledge_base_files_delete_v1 ...'
      end
      # verify the required parameter 'knowledge_base_id' is set
      if @api_client.config.client_side_validation && knowledge_base_id.nil?
        fail ArgumentError, "Missing the required parameter 'knowledge_base_id' when calling KnowledgeBaseFiles.entities_knowledge_base_files_delete_v1"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KnowledgeBaseFiles.entities_knowledge_base_files_delete_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_base_files/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'knowledge_base_id'] = knowledge_base_id
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecResponseFields'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBaseFiles.entities_knowledge_base_files_delete_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBaseFiles#entities_knowledge_base_files_delete_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download knowledge base file entities for the provided id.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param id [String] ID of entities to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entities_knowledge_base_files_download_v1(knowledge_base_id, id, opts = {})
      entities_knowledge_base_files_download_v1_with_http_info(knowledge_base_id, id, opts)
      nil
    end

    # Download knowledge base file entities for the provided id.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param id [String] ID of entities to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entities_knowledge_base_files_download_v1_with_http_info(knowledge_base_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBaseFiles.entities_knowledge_base_files_download_v1 ...'
      end
      # verify the required parameter 'knowledge_base_id' is set
      if @api_client.config.client_side_validation && knowledge_base_id.nil?
        fail ArgumentError, "Missing the required parameter 'knowledge_base_id' when calling KnowledgeBaseFiles.entities_knowledge_base_files_download_v1"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KnowledgeBaseFiles.entities_knowledge_base_files_download_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_base_files/download/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'knowledge_base_id'] = knowledge_base_id
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBaseFiles.entities_knowledge_base_files_download_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBaseFiles#entities_knowledge_base_files_download_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing file in a knowledge base. Supports updating file content and optionally its description.
    # @param id [String] ID of the document to update
    # @param file [File] New file content to replace the existing document
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file_description New description for the document
    # @return [DomainReplyEntitiesKnowledgeBaseFilesResponse]
    def entities_knowledge_base_files_update_v1(id, file, opts = {})
      data, _status_code, _headers = entities_knowledge_base_files_update_v1_with_http_info(id, file, opts)
      data
    end

    # Update an existing file in a knowledge base. Supports updating file content and optionally its description.
    # @param id [String] ID of the document to update
    # @param file [File] New file content to replace the existing document
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file_description New description for the document
    # @return [Array<(DomainReplyEntitiesKnowledgeBaseFilesResponse, Integer, Hash)>] DomainReplyEntitiesKnowledgeBaseFilesResponse data, response status code and response headers
    def entities_knowledge_base_files_update_v1_with_http_info(id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBaseFiles.entities_knowledge_base_files_update_v1 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KnowledgeBaseFiles.entities_knowledge_base_files_update_v1"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling KnowledgeBaseFiles.entities_knowledge_base_files_update_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_base_files/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['id'] = id
      form_params['file'] = file
      form_params['file_description'] = opts[:'file_description'] if !opts[:'file_description'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyEntitiesKnowledgeBaseFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBaseFiles.entities_knowledge_base_files_update_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBaseFiles#entities_knowledge_base_files_update_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve knowledge base file entities for the provided id.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param ids [Array<String>] IDs of entities to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_deleted Include deleted knowledge base files in the result. Defaults to false. (default to false)
    # @return [DomainReplyEntitiesKnowledgeBaseFilesResponse]
    def entities_knowledge_base_files_v1(knowledge_base_id, ids, opts = {})
      data, _status_code, _headers = entities_knowledge_base_files_v1_with_http_info(knowledge_base_id, ids, opts)
      data
    end

    # Retrieve knowledge base file entities for the provided id.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param ids [Array<String>] IDs of entities to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_deleted Include deleted knowledge base files in the result. Defaults to false. (default to false)
    # @return [Array<(DomainReplyEntitiesKnowledgeBaseFilesResponse, Integer, Hash)>] DomainReplyEntitiesKnowledgeBaseFilesResponse data, response status code and response headers
    def entities_knowledge_base_files_v1_with_http_info(knowledge_base_id, ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBaseFiles.entities_knowledge_base_files_v1 ...'
      end
      # verify the required parameter 'knowledge_base_id' is set
      if @api_client.config.client_side_validation && knowledge_base_id.nil?
        fail ArgumentError, "Missing the required parameter 'knowledge_base_id' when calling KnowledgeBaseFiles.entities_knowledge_base_files_v1"
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling KnowledgeBaseFiles.entities_knowledge_base_files_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_base_files/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'knowledge_base_id'] = knowledge_base_id
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyEntitiesKnowledgeBaseFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBaseFiles.entities_knowledge_base_files_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBaseFiles#entities_knowledge_base_files_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query knowledge base files based on the provided filters.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of IDs to return. Offset + limit should NOT be above 10K. (default to 10)
    # @option opts [String] :filter FQL query specifying the filter parameters.
    # @option opts [Boolean] :include_deleted Include deleted knowledge base files in the result. Defaults to false. (default to false)
    # @return [DomainReplyQueryKnowledgeBaseFilesResponse]
    def queries_knowledge_base_files_v1(knowledge_base_id, opts = {})
      data, _status_code, _headers = queries_knowledge_base_files_v1_with_http_info(knowledge_base_id, opts)
      data
    end

    # Query knowledge base files based on the provided filters.
    # @param knowledge_base_id [String] ID of the knowledge base
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of IDs to return. Offset + limit should NOT be above 10K. (default to 10)
    # @option opts [String] :filter FQL query specifying the filter parameters.
    # @option opts [Boolean] :include_deleted Include deleted knowledge base files in the result. Defaults to false. (default to false)
    # @return [Array<(DomainReplyQueryKnowledgeBaseFilesResponse, Integer, Hash)>] DomainReplyQueryKnowledgeBaseFilesResponse data, response status code and response headers
    def queries_knowledge_base_files_v1_with_http_info(knowledge_base_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBaseFiles.queries_knowledge_base_files_v1 ...'
      end
      # verify the required parameter 'knowledge_base_id' is set
      if @api_client.config.client_side_validation && knowledge_base_id.nil?
        fail ArgumentError, "Missing the required parameter 'knowledge_base_id' when calling KnowledgeBaseFiles.queries_knowledge_base_files_v1"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KnowledgeBaseFiles.queries_knowledge_base_files_v1, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KnowledgeBaseFiles.queries_knowledge_base_files_v1, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/agentic-studio/queries/knowledge_base_files/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'knowledge_base_id'] = knowledge_base_id
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyQueryKnowledgeBaseFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBaseFiles.queries_knowledge_base_files_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBaseFiles#queries_knowledge_base_files_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
