=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class KnowledgeBases
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aggregate knowledge bases based on the provided msa criteria.
    # @param body [Array<MsaAggregateQueryRequest>] Aggregate requests for knowledge base data.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_deleted Include deleted knowledge bases in the result. Defaults to false. (default to false)
    # @return [MsaAggregatesResponse]
    def aggregates_knowledge_bases_v1(body, opts = {})
      data, _status_code, _headers = aggregates_knowledge_bases_v1_with_http_info(body, opts)
      data
    end

    # Aggregate knowledge bases based on the provided msa criteria.
    # @param body [Array<MsaAggregateQueryRequest>] Aggregate requests for knowledge base data.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_deleted Include deleted knowledge bases in the result. Defaults to false. (default to false)
    # @return [Array<(MsaAggregatesResponse, Integer, Hash)>] MsaAggregatesResponse data, response status code and response headers
    def aggregates_knowledge_bases_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBases.aggregates_knowledge_bases_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling KnowledgeBases.aggregates_knowledge_bases_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/aggregates/knowledge_bases/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MsaAggregatesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBases.aggregates_knowledge_bases_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBases#aggregates_knowledge_bases_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a knowledge base. For deletion, provide knowledge base with IsDeleted=true.
    # @param body [DomainKnowledgeBase] Knowledge base definition to create or update
    # @param [Hash] opts the optional parameters
    # @return [DomainReplyEntitiesKnowledgeBasesResponse]
    def entities_knowledge_bases_create_v1(body, opts = {})
      data, _status_code, _headers = entities_knowledge_bases_create_v1_with_http_info(body, opts)
      data
    end

    # Create or update a knowledge base. For deletion, provide knowledge base with IsDeleted&#x3D;true.
    # @param body [DomainKnowledgeBase] Knowledge base definition to create or update
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainReplyEntitiesKnowledgeBasesResponse, Integer, Hash)>] DomainReplyEntitiesKnowledgeBasesResponse data, response status code and response headers
    def entities_knowledge_bases_create_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBases.entities_knowledge_bases_create_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling KnowledgeBases.entities_knowledge_bases_create_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_bases/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyEntitiesKnowledgeBasesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBases.entities_knowledge_bases_create_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBases#entities_knowledge_bases_create_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing knowledge base.
    # @param body [DomainKnowledgeBase] Knowledge base definition with updated fields
    # @param [Hash] opts the optional parameters
    # @return [DomainReplyEntitiesKnowledgeBasesResponse]
    def entities_knowledge_bases_update_v1(body, opts = {})
      data, _status_code, _headers = entities_knowledge_bases_update_v1_with_http_info(body, opts)
      data
    end

    # Update an existing knowledge base.
    # @param body [DomainKnowledgeBase] Knowledge base definition with updated fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainReplyEntitiesKnowledgeBasesResponse, Integer, Hash)>] DomainReplyEntitiesKnowledgeBasesResponse data, response status code and response headers
    def entities_knowledge_bases_update_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBases.entities_knowledge_bases_update_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling KnowledgeBases.entities_knowledge_bases_update_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_bases/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyEntitiesKnowledgeBasesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBases.entities_knowledge_bases_update_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBases#entities_knowledge_bases_update_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve knowledge base entities for the provided id.
    # @param ids [Array<String>] IDs of entities to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_deleted Include deleted knowledge bases in the result. Defaults to false. (default to false)
    # @return [DomainReplyEntitiesKnowledgeBasesResponse]
    def entities_knowledge_bases_v1(ids, opts = {})
      data, _status_code, _headers = entities_knowledge_bases_v1_with_http_info(ids, opts)
      data
    end

    # Retrieve knowledge base entities for the provided id.
    # @param ids [Array<String>] IDs of entities to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_deleted Include deleted knowledge bases in the result. Defaults to false. (default to false)
    # @return [Array<(DomainReplyEntitiesKnowledgeBasesResponse, Integer, Hash)>] DomainReplyEntitiesKnowledgeBasesResponse data, response status code and response headers
    def entities_knowledge_bases_v1_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBases.entities_knowledge_bases_v1 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling KnowledgeBases.entities_knowledge_bases_v1"
      end
      # resource path
      local_var_path = '/agentic-studio/entities/knowledge_bases/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyEntitiesKnowledgeBasesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBases.entities_knowledge_bases_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBases#entities_knowledge_bases_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query knowledge bases based on the provided filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of IDs to return. Offset + limit should NOT be above 10K. (default to 10)
    # @option opts [String] :sort Possible order by fields: name, created_at. Ex: &#39;created_at|desc&#39; or &#39;name|asc&#39;.
    # @option opts [String] :filter FQL query specifying the filter parameters.
    # @option opts [Boolean] :include_deleted Include deleted knowledge bases in the result. Defaults to false. (default to false)
    # @return [DomainReplyQueryKnowledgeBasesResponse]
    def queries_knowledge_bases_v1(opts = {})
      data, _status_code, _headers = queries_knowledge_bases_v1_with_http_info(opts)
      data
    end

    # Query knowledge bases based on the provided filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of IDs to return. Offset + limit should NOT be above 10K. (default to 10)
    # @option opts [String] :sort Possible order by fields: name, created_at. Ex: &#39;created_at|desc&#39; or &#39;name|asc&#39;.
    # @option opts [String] :filter FQL query specifying the filter parameters.
    # @option opts [Boolean] :include_deleted Include deleted knowledge bases in the result. Defaults to false. (default to false)
    # @return [Array<(DomainReplyQueryKnowledgeBasesResponse, Integer, Hash)>] DomainReplyQueryKnowledgeBasesResponse data, response status code and response headers
    def queries_knowledge_bases_v1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeBases.queries_knowledge_bases_v1 ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KnowledgeBases.queries_knowledge_bases_v1, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KnowledgeBases.queries_knowledge_bases_v1, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/agentic-studio/queries/knowledge_bases/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainReplyQueryKnowledgeBasesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"KnowledgeBases.queries_knowledge_bases_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeBases#queries_knowledge_bases_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
