=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class LookupFiles
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a lookup file
    # @param file [File] File to be uploaded
    # @param name [String] Name used to identify the file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description File description
    # @option opts [String] :id Unique identifier of the file being updated.
    # @option opts [String] :repo Name of repository or view to save the file
    # @return [DomainLookupFileWrapper]
    def create_file_v1(file, name, opts = {})
      data, _status_code, _headers = create_file_v1_with_http_info(file, name, opts)
      data
    end

    # Creates a lookup file
    # @param file [File] File to be uploaded
    # @param name [String] Name used to identify the file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description File description
    # @option opts [String] :id Unique identifier of the file being updated.
    # @option opts [String] :repo Name of repository or view to save the file
    # @return [Array<(DomainLookupFileWrapper, Integer, Hash)>] DomainLookupFileWrapper data, response status code and response headers
    def create_file_v1_with_http_info(file, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupFiles.create_file_v1 ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling LookupFiles.create_file_v1"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling LookupFiles.create_file_v1"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 50
        fail ArgumentError, 'invalid value for "name" when calling LookupFiles.create_file_v1, the character length must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && name.to_s.length < 5
        fail ArgumentError, 'invalid value for "name" when calling LookupFiles.create_file_v1, the character length must be great than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'description'].nil? && opts[:'description'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"description"]" when calling LookupFiles.create_file_v1, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'description'].nil? && opts[:'description'].to_s.length < 5
        fail ArgumentError, 'invalid value for "opts[:"description"]" when calling LookupFiles.create_file_v1, the character length must be great than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 32
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling LookupFiles.create_file_v1, the character length must be smaller than or equal to 32.'
      end

      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length < 32
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling LookupFiles.create_file_v1, the character length must be great than or equal to 32.'
      end

      if @api_client.config.client_side_validation && !opts[:'repo'].nil? && opts[:'repo'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"repo"]" when calling LookupFiles.create_file_v1, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'repo'].nil? && opts[:'repo'].to_s.length < 5
        fail ArgumentError, 'invalid value for "opts[:"repo"]" when calling LookupFiles.create_file_v1, the character length must be great than or equal to 5.'
      end

      # resource path
      local_var_path = '/loggingapi/entities/lookup-files/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['name'] = name
      form_params['description'] = opts[:'description'] if !opts[:'description'].nil?
      form_params['id'] = opts[:'id'] if !opts[:'id'].nil?
      form_params['repo'] = opts[:'repo'] if !opts[:'repo'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainLookupFileWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LookupFiles.create_file_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupFiles#create_file_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a lookup file
    # @param id [String] Unique identifier of the file being updated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description File description
    # @option opts [File] :file File to be uploaded
    # @return [DomainLookupFileWrapper]
    def update_file_v1(id, opts = {})
      data, _status_code, _headers = update_file_v1_with_http_info(id, opts)
      data
    end

    # Updates a lookup file
    # @param id [String] Unique identifier of the file being updated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description File description
    # @option opts [File] :file File to be uploaded
    # @return [Array<(DomainLookupFileWrapper, Integer, Hash)>] DomainLookupFileWrapper data, response status code and response headers
    def update_file_v1_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupFiles.update_file_v1 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LookupFiles.update_file_v1"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 32
        fail ArgumentError, 'invalid value for "id" when calling LookupFiles.update_file_v1, the character length must be great than or equal to 32.'
      end

      if @api_client.config.client_side_validation && !opts[:'description'].nil? && opts[:'description'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"description"]" when calling LookupFiles.update_file_v1, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'description'].nil? && opts[:'description'].to_s.length < 5
        fail ArgumentError, 'invalid value for "opts[:"description"]" when calling LookupFiles.update_file_v1, the character length must be great than or equal to 5.'
      end

      # resource path
      local_var_path = '/loggingapi/entities/lookup-files/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['id'] = id
      form_params['description'] = opts[:'description'] if !opts[:'description'].nil?
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainLookupFileWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LookupFiles.update_file_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupFiles#update_file_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
