=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class NetworkScanScans
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns \"scans\" aggregations
    # @param body [Array<MsaAggregateQueryRequest>] Aggregation specification
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [MsaAggregatesResponse]
    def aggregate_scans_mixin0(body, opts = {})
      data, _status_code, _headers = aggregate_scans_mixin0_with_http_info(body, opts)
      data
    end

    # Returns \&quot;scans\&quot; aggregations
    # @param body [Array<MsaAggregateQueryRequest>] Aggregation specification
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [Array<(MsaAggregatesResponse, Integer, Hash)>] MsaAggregatesResponse data, response status code and response headers
    def aggregate_scans_mixin0_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanScans.aggregate_scans_mixin0 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NetworkScanScans.aggregate_scans_mixin0"
      end
      # resource path
      local_var_path = '/netscan/aggregates/scans/GET/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MsaAggregatesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanScans.aggregate_scans_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanScans#aggregate_scans_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create \"scans\" using provided specifications
    # @param body [Array<DomainScanCreateRequest>] \&quot;scans\&quot; specifications
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [DomainScanEntitiesResponse]
    def create_scans(body, opts = {})
      data, _status_code, _headers = create_scans_with_http_info(body, opts)
      data
    end

    # Create \&quot;scans\&quot; using provided specifications
    # @param body [Array<DomainScanCreateRequest>] \&quot;scans\&quot; specifications
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [Array<(DomainScanEntitiesResponse, Integer, Hash)>] DomainScanEntitiesResponse data, response status code and response headers
    def create_scans_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanScans.create_scans ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NetworkScanScans.create_scans"
      end
      # resource path
      local_var_path = '/netscan/entities/scans/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainScanEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanScans.create_scans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanScans#create_scans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete \"scans\" by their IDs
    # @param ids [Array<String>] IDs of \&quot;scans\&quot; to be deleted (Min: 1, Max: 100)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [MsaspecQueryResponse]
    def delete_scans(ids, opts = {})
      data, _status_code, _headers = delete_scans_with_http_info(ids, opts)
      data
    end

    # Delete \&quot;scans\&quot; by their IDs
    # @param ids [Array<String>] IDs of \&quot;scans\&quot; to be deleted (Min: 1, Max: 100)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [Array<(MsaspecQueryResponse, Integer, Hash)>] MsaspecQueryResponse data, response status code and response headers
    def delete_scans_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanScans.delete_scans ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling NetworkScanScans.delete_scans"
      end
      # resource path
      local_var_path = '/netscan/entities/scans/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanScans.delete_scans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanScans#delete_scans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get \"scans\" by their IDs
    # @param ids [Array<String>] IDs of \&quot;scans\&quot; to be retrieved (Min: 1, Max: 100)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [DomainScanEntitiesResponse]
    def get_scans(ids, opts = {})
      data, _status_code, _headers = get_scans_with_http_info(ids, opts)
      data
    end

    # Get \&quot;scans\&quot; by their IDs
    # @param ids [Array<String>] IDs of \&quot;scans\&quot; to be retrieved (Min: 1, Max: 100)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [Array<(DomainScanEntitiesResponse, Integer, Hash)>] DomainScanEntitiesResponse data, response status code and response headers
    def get_scans_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanScans.get_scans ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling NetworkScanScans.get_scans"
      end
      # resource path
      local_var_path = '/netscan/entities/scans/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainScanEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanScans.get_scans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanScans#get_scans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get \"scans IDs\" by filter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @option opts [Integer] :offset An offset used with the &#x60;limit&#x60; parameter to manage pagination of results. On your first request, don’t provide an &#x60;offset&#x60;. On subsequent requests, add previous &#x60;offset&#x60; with the previous &#x60;limit&#x60; to continue from that place in the results
    # @option opts [Integer] :limit The number of \&quot;scans IDs\&quot; to return in this response (Min: 1, Max: 100, Default: 100)
    # @option opts [String] :sort Sort \&quot;scans\&quot; by their properties. A single sort field is allowed
    # @option opts [String] :filter Search for \&quot;scans\&quot; by providing an FQL filter
    # @return [MsaspecQueryResponse]
    def query_scans_mixin0(opts = {})
      data, _status_code, _headers = query_scans_mixin0_with_http_info(opts)
      data
    end

    # Get \&quot;scans IDs\&quot; by filter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @option opts [Integer] :offset An offset used with the &#x60;limit&#x60; parameter to manage pagination of results. On your first request, don’t provide an &#x60;offset&#x60;. On subsequent requests, add previous &#x60;offset&#x60; with the previous &#x60;limit&#x60; to continue from that place in the results
    # @option opts [Integer] :limit The number of \&quot;scans IDs\&quot; to return in this response (Min: 1, Max: 100, Default: 100)
    # @option opts [String] :sort Sort \&quot;scans\&quot; by their properties. A single sort field is allowed
    # @option opts [String] :filter Search for \&quot;scans\&quot; by providing an FQL filter
    # @return [Array<(MsaspecQueryResponse, Integer, Hash)>] MsaspecQueryResponse data, response status code and response headers
    def query_scans_mixin0_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanScans.query_scans_mixin0 ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling NetworkScanScans.query_scans_mixin0, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NetworkScanScans.query_scans_mixin0, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling NetworkScanScans.query_scans_mixin0, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/netscan/queries/scans/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanScans.query_scans_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanScans#query_scans_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update \"scans\" using provided specifications
    # @param body [Array<DomainScanUpdateRequest>] \&quot;scans\&quot; specifications for updating
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [DomainScanEntitiesResponse]
    def update_scans(body, opts = {})
      data, _status_code, _headers = update_scans_with_http_info(body, opts)
      data
    end

    # Update \&quot;scans\&quot; using provided specifications
    # @param body [Array<DomainScanUpdateRequest>] \&quot;scans\&quot; specifications for updating
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [Array<(DomainScanEntitiesResponse, Integer, Hash)>] DomainScanEntitiesResponse data, response status code and response headers
    def update_scans_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanScans.update_scans ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NetworkScanScans.update_scans"
      end
      # resource path
      local_var_path = '/netscan/entities/scans/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainScanEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanScans.update_scans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanScans#update_scans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
