=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class NetworkScanGlobalConfigs
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get \"global-configs\" for the CID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [DomainGlobalConfigEntitiesResponse]
    def get_global_configs(opts = {})
      data, _status_code, _headers = get_global_configs_with_http_info(opts)
      data
    end

    # Get \&quot;global-configs\&quot; for the CID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [Array<(DomainGlobalConfigEntitiesResponse, Integer, Hash)>] DomainGlobalConfigEntitiesResponse data, response status code and response headers
    def get_global_configs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanGlobalConfigs.get_global_configs ...'
      end
      # resource path
      local_var_path = '/netscan/entities/global-configs/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainGlobalConfigEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanGlobalConfigs.get_global_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanGlobalConfigs#get_global_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update \"global-configs\" using provided specifications
    # @param body [DomainGlobalConfigUpdateRequest] \&quot;global-configs\&quot; specifications for updating
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [DomainGlobalConfigEntitiesResponse]
    def update_global_configs(body, opts = {})
      data, _status_code, _headers = update_global_configs_with_http_info(body, opts)
      data
    end

    # Update \&quot;global-configs\&quot; using provided specifications
    # @param body [DomainGlobalConfigUpdateRequest] \&quot;global-configs\&quot; specifications for updating
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_useruuid User UUID
    # @return [Array<(DomainGlobalConfigEntitiesResponse, Integer, Hash)>] DomainGlobalConfigEntitiesResponse data, response status code and response headers
    def update_global_configs_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkScanGlobalConfigs.update_global_configs ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NetworkScanGlobalConfigs.update_global_configs"
      end
      # resource path
      local_var_path = '/netscan/entities/global-configs/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-CS-USERUUID'] = opts[:'x_cs_useruuid'] if !opts[:'x_cs_useruuid'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainGlobalConfigEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"NetworkScanGlobalConfigs.update_global_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkScanGlobalConfigs#update_global_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
