=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class ProfileGroups
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new profile group
    # Creates a new profile group.  The group name is required and must be unique within the customer. Description is optional.  In a Flight Control environment, CID can be used to specify which CID to create the group in.
    # @param body [FlightcontrolapiCreateGroupRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [FlightcontrolapiProfileGroupResponseV1]
    def create_group_v1_mixin0(body, opts = {})
      data, _status_code, _headers = create_group_v1_mixin0_with_http_info(body, opts)
      data
    end

    # Create a new profile group
    # Creates a new profile group.  The group name is required and must be unique within the customer. Description is optional.  In a Flight Control environment, CID can be used to specify which CID to create the group in.
    # @param body [FlightcontrolapiCreateGroupRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlightcontrolapiProfileGroupResponseV1, Integer, Hash)>] FlightcontrolapiProfileGroupResponseV1 data, response status code and response headers
    def create_group_v1_mixin0_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.create_group_v1_mixin0 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProfileGroups.create_group_v1_mixin0"
      end
      # resource path
      local_var_path = '/user-management/entities/groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'FlightcontrolapiProfileGroupResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.create_group_v1_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#create_group_v1_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete profile groups by IDs
    # Deletes profile groups by IDs.  Multiple group IDs can be specified. Deletion is idempotent - deleting a non-existent group does not produce an error.  Users assigned only to deleted groups will lose their profile group-derived access when enforcement is enabled.
    # @param ids [Array<String>] Group IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [MsaspecResponseFields]
    def delete_groups_v1(ids, opts = {})
      data, _status_code, _headers = delete_groups_v1_with_http_info(ids, opts)
      data
    end

    # Delete profile groups by IDs
    # Deletes profile groups by IDs.  Multiple group IDs can be specified. Deletion is idempotent - deleting a non-existent group does not produce an error.  Users assigned only to deleted groups will lose their profile group-derived access when enforcement is enabled.
    # @param ids [Array<String>] Group IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaspecResponseFields, Integer, Hash)>] MsaspecResponseFields data, response status code and response headers
    def delete_groups_v1_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.delete_groups_v1 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ProfileGroups.delete_groups_v1"
      end
      # resource path
      local_var_path = '/user-management/entities/groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :csv)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecResponseFields'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.delete_groups_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#delete_groups_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of groups with users that belong to them
    # Returns information about a group's users in a profile group.  `ids` should be the list of requested group IDs to get group user info on.  If the actor's CID is a parent, users on child CIDs may be requested and group user info may be returned as long as profile groups are available on the child CIDs.
    # @param body [FlightcontrolapiGroupUsersRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [FlightcontrolapiGroupUsersResponseV1]
    def get_group_users_v1(body, opts = {})
      data, _status_code, _headers = get_group_users_v1_with_http_info(body, opts)
      data
    end

    # Get a list of groups with users that belong to them
    # Returns information about a group&#39;s users in a profile group.  &#x60;ids&#x60; should be the list of requested group IDs to get group user info on.  If the actor&#39;s CID is a parent, users on child CIDs may be requested and group user info may be returned as long as profile groups are available on the child CIDs.
    # @param body [FlightcontrolapiGroupUsersRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlightcontrolapiGroupUsersResponseV1, Integer, Hash)>] FlightcontrolapiGroupUsersResponseV1 data, response status code and response headers
    def get_group_users_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.get_group_users_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProfileGroups.get_group_users_v1"
      end
      # resource path
      local_var_path = '/user-management/entities/group-users/GET/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'FlightcontrolapiGroupUsersResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.get_group_users_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#get_group_users_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get profile groups by IDs with full details
    # Returns profile groups with details, such as role, user group, and fine-grained access.  `ids` should be the list of requested group IDs.  If the actor's CID is a parent, then groups for child CIDs may be returned as long as profile groups are available on the child CIDs.
    # @param body [FlightcontrolapiProfileGroupRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [FlightcontrolapiProfileGroupResponseV1]
    def get_groups_v1_mixin0(body, opts = {})
      data, _status_code, _headers = get_groups_v1_mixin0_with_http_info(body, opts)
      data
    end

    # Get profile groups by IDs with full details
    # Returns profile groups with details, such as role, user group, and fine-grained access.  &#x60;ids&#x60; should be the list of requested group IDs.  If the actor&#39;s CID is a parent, then groups for child CIDs may be returned as long as profile groups are available on the child CIDs.
    # @param body [FlightcontrolapiProfileGroupRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlightcontrolapiProfileGroupResponseV1, Integer, Hash)>] FlightcontrolapiProfileGroupResponseV1 data, response status code and response headers
    def get_groups_v1_mixin0_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.get_groups_v1_mixin0 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProfileGroups.get_groups_v1_mixin0"
      end
      # resource path
      local_var_path = '/user-management/entities/groups/GET/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'FlightcontrolapiProfileGroupResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.get_groups_v1_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#get_groups_v1_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of users with the groups that they belong to
    # Returns information about a user's groups in a profile group.  `ids` should be the list of requested user UUIDs to get user groups info on.  If the actor's CID is a parent, users on child CIDs may be requested and user groups info may be returned as long as profile groups are available on the child CIDs.
    # @param body [FlightcontrolapiUserGroupsRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [FlightcontrolapiUserGroupsResponseV1]
    def get_user_groups_v1(body, opts = {})
      data, _status_code, _headers = get_user_groups_v1_with_http_info(body, opts)
      data
    end

    # Get a list of users with the groups that they belong to
    # Returns information about a user&#39;s groups in a profile group.  &#x60;ids&#x60; should be the list of requested user UUIDs to get user groups info on.  If the actor&#39;s CID is a parent, users on child CIDs may be requested and user groups info may be returned as long as profile groups are available on the child CIDs.
    # @param body [FlightcontrolapiUserGroupsRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlightcontrolapiUserGroupsResponseV1, Integer, Hash)>] FlightcontrolapiUserGroupsResponseV1 data, response status code and response headers
    def get_user_groups_v1_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.get_user_groups_v1 ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProfileGroups.get_user_groups_v1"
      end
      # resource path
      local_var_path = '/user-management/entities/user-groups/GET/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'FlightcontrolapiUserGroupsResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.get_user_groups_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#get_user_groups_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform actions on profile groups (add/remove roles, user groups, FGA objects)
    # The available actions are `add_roles`, `remove_roles`, `add_user_groups`, `remove_user_groups`, `add_fga_objects`, and `remove_fga_objects`.  These actions only work if SCIM enforcement is not enabled for the target customer. A maximum of 100 groups and 100 role assignments can be updated per request.  `add_roles` assigns roles to users within the specified groups. This action accepts the following action parameters: `{ \"name\": \"cid\", \"value\": \"$customer_id\" }` and `{ \"name\": \"role_id\", \"value\": \"$role_id\" }`. Action parameters can be repeated to add multiple roles in a single request.  `remove_roles` removes role assignments from users within the specified groups. This action accepts the following action parameters: `{ \"name\": \"cid\", \"value\": \"$customer_id\" }` and `{ \"name\": \"role_id\", \"value\": \"$role_id\" }`. Action parameters can be repeated to remove multiple roles in a single request.  `add_user_groups` assigns user groups to users within the specified groups. This action accepts the following action parameters: `{ \"name\": \"cid\", \"value\": \"$customer_id\" }` and `{ \"name\": \"user_group_id\", \"value\": \"$user_group_id\" }`. Action parameters can be repeated to add multiple user groups in a single request.  `remove_user_groups` removes user group assignments from users within the specified groups. This action accepts the following action parameters: `{ \"name\": \"cid\", \"value\": \"$customer_id\" }` and `{ \"name\": \"user_group_id\", \"value\": \"$user_group_id\" }`. Action parameters can be repeated to remove multiple user groups in a single request.  `add_fga_objects` assigns FGA (Fine-Grained Access) objects to users within the specified groups. This action accepts the following action parameters: `{ \"name\": \"cid\", \"value\": \"$customer_id\" }`, `{ \"name\": \"fga_object_type\", \"value\": \"$fga_object_type\" }`, and `{ \"name\": \"fga_object_id\", \"value\": \"$fga_object_id\" }`. Action parameters can be repeated to add multiple FGA objects in a single request.  `remove_fga_objects` removes FGA (Fine-Grained Access) object assignments from users within the specified groups. This action accepts the following action parameters: `{ \"name\": \"cid\", \"value\": \"$customer_id\" }`, `{ \"name\": \"fga_object_type\", \"value\": \"$fga_object_type\" }`, and `{ \"name\": \"fga_object_id\", \"value\": \"$fga_object_id\" }`. Action parameters can be repeated to remove multiple FGA objects in a single request.  To add or remove access to \"all\" of one type of FGA, use the following object IDs: - All Host Groups: `all_hosts` - All Cloud Groups: `all_asset_groups` - All Access Scopes: `all_access_scopes`
    # @param action_name [String] Action to perform
    # @param body [MsaEntityActionRequestV3]
    # @param [Hash] opts the optional parameters
    # @return [MsaspecResponseFields]
    def group_actions_v1_mixin0(action_name, body, opts = {})
      data, _status_code, _headers = group_actions_v1_mixin0_with_http_info(action_name, body, opts)
      data
    end

    # Perform actions on profile groups (add/remove roles, user groups, FGA objects)
    # The available actions are &#x60;add_roles&#x60;, &#x60;remove_roles&#x60;, &#x60;add_user_groups&#x60;, &#x60;remove_user_groups&#x60;, &#x60;add_fga_objects&#x60;, and &#x60;remove_fga_objects&#x60;.  These actions only work if SCIM enforcement is not enabled for the target customer. A maximum of 100 groups and 100 role assignments can be updated per request.  &#x60;add_roles&#x60; assigns roles to users within the specified groups. This action accepts the following action parameters: &#x60;{ \&quot;name\&quot;: \&quot;cid\&quot;, \&quot;value\&quot;: \&quot;$customer_id\&quot; }&#x60; and &#x60;{ \&quot;name\&quot;: \&quot;role_id\&quot;, \&quot;value\&quot;: \&quot;$role_id\&quot; }&#x60;. Action parameters can be repeated to add multiple roles in a single request.  &#x60;remove_roles&#x60; removes role assignments from users within the specified groups. This action accepts the following action parameters: &#x60;{ \&quot;name\&quot;: \&quot;cid\&quot;, \&quot;value\&quot;: \&quot;$customer_id\&quot; }&#x60; and &#x60;{ \&quot;name\&quot;: \&quot;role_id\&quot;, \&quot;value\&quot;: \&quot;$role_id\&quot; }&#x60;. Action parameters can be repeated to remove multiple roles in a single request.  &#x60;add_user_groups&#x60; assigns user groups to users within the specified groups. This action accepts the following action parameters: &#x60;{ \&quot;name\&quot;: \&quot;cid\&quot;, \&quot;value\&quot;: \&quot;$customer_id\&quot; }&#x60; and &#x60;{ \&quot;name\&quot;: \&quot;user_group_id\&quot;, \&quot;value\&quot;: \&quot;$user_group_id\&quot; }&#x60;. Action parameters can be repeated to add multiple user groups in a single request.  &#x60;remove_user_groups&#x60; removes user group assignments from users within the specified groups. This action accepts the following action parameters: &#x60;{ \&quot;name\&quot;: \&quot;cid\&quot;, \&quot;value\&quot;: \&quot;$customer_id\&quot; }&#x60; and &#x60;{ \&quot;name\&quot;: \&quot;user_group_id\&quot;, \&quot;value\&quot;: \&quot;$user_group_id\&quot; }&#x60;. Action parameters can be repeated to remove multiple user groups in a single request.  &#x60;add_fga_objects&#x60; assigns FGA (Fine-Grained Access) objects to users within the specified groups. This action accepts the following action parameters: &#x60;{ \&quot;name\&quot;: \&quot;cid\&quot;, \&quot;value\&quot;: \&quot;$customer_id\&quot; }&#x60;, &#x60;{ \&quot;name\&quot;: \&quot;fga_object_type\&quot;, \&quot;value\&quot;: \&quot;$fga_object_type\&quot; }&#x60;, and &#x60;{ \&quot;name\&quot;: \&quot;fga_object_id\&quot;, \&quot;value\&quot;: \&quot;$fga_object_id\&quot; }&#x60;. Action parameters can be repeated to add multiple FGA objects in a single request.  &#x60;remove_fga_objects&#x60; removes FGA (Fine-Grained Access) object assignments from users within the specified groups. This action accepts the following action parameters: &#x60;{ \&quot;name\&quot;: \&quot;cid\&quot;, \&quot;value\&quot;: \&quot;$customer_id\&quot; }&#x60;, &#x60;{ \&quot;name\&quot;: \&quot;fga_object_type\&quot;, \&quot;value\&quot;: \&quot;$fga_object_type\&quot; }&#x60;, and &#x60;{ \&quot;name\&quot;: \&quot;fga_object_id\&quot;, \&quot;value\&quot;: \&quot;$fga_object_id\&quot; }&#x60;. Action parameters can be repeated to remove multiple FGA objects in a single request.  To add or remove access to \&quot;all\&quot; of one type of FGA, use the following object IDs: - All Host Groups: &#x60;all_hosts&#x60; - All Cloud Groups: &#x60;all_asset_groups&#x60; - All Access Scopes: &#x60;all_access_scopes&#x60;
    # @param action_name [String] Action to perform
    # @param body [MsaEntityActionRequestV3]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaspecResponseFields, Integer, Hash)>] MsaspecResponseFields data, response status code and response headers
    def group_actions_v1_mixin0_with_http_info(action_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.group_actions_v1_mixin0 ...'
      end
      # verify the required parameter 'action_name' is set
      if @api_client.config.client_side_validation && action_name.nil?
        fail ArgumentError, "Missing the required parameter 'action_name' when calling ProfileGroups.group_actions_v1_mixin0"
      end
      # verify enum value
      allowable_values = ["add_roles", "remove_roles", "add_user_groups", "remove_user_groups", "add_fga_objects", "remove_fga_objects"]
      if @api_client.config.client_side_validation && !allowable_values.include?(action_name)
        fail ArgumentError, "invalid value for \"action_name\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProfileGroups.group_actions_v1_mixin0"
      end
      # resource path
      local_var_path = '/user-management/entities/group-actions/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action_name'] = action_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecResponseFields'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.group_actions_v1_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#group_actions_v1_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add or remove users from profile groups
    # The available actions are `add_users` and `remove_users`.  These actions only work if SCIM enforcement is not enabled for the target customer. Maximum 100 users can be updated per request.  `add_users` adds users to the specified groups. This action accepts the following action parameter: `{ \"name\": \"user_uuid\", \"value\": \"$user_uuid\" }`. Action parameters can be repeated to add multiple users in a single request.  `remove_users` removes users from the specified groups. This action accepts the following action parameter: `{ \"name\": \"user_uuid\", \"value\": \"$user_uuid\" }`. Action parameters can be repeated to remove multiple users in a single request.
    # @param action_name [String] Action to perform
    # @param body [MsaEntityActionRequestV3]
    # @param [Hash] opts the optional parameters
    # @return [MsaspecResponseFields]
    def group_users_actions_v1_mixin0(action_name, body, opts = {})
      data, _status_code, _headers = group_users_actions_v1_mixin0_with_http_info(action_name, body, opts)
      data
    end

    # Add or remove users from profile groups
    # The available actions are &#x60;add_users&#x60; and &#x60;remove_users&#x60;.  These actions only work if SCIM enforcement is not enabled for the target customer. Maximum 100 users can be updated per request.  &#x60;add_users&#x60; adds users to the specified groups. This action accepts the following action parameter: &#x60;{ \&quot;name\&quot;: \&quot;user_uuid\&quot;, \&quot;value\&quot;: \&quot;$user_uuid\&quot; }&#x60;. Action parameters can be repeated to add multiple users in a single request.  &#x60;remove_users&#x60; removes users from the specified groups. This action accepts the following action parameter: &#x60;{ \&quot;name\&quot;: \&quot;user_uuid\&quot;, \&quot;value\&quot;: \&quot;$user_uuid\&quot; }&#x60;. Action parameters can be repeated to remove multiple users in a single request.
    # @param action_name [String] Action to perform
    # @param body [MsaEntityActionRequestV3]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaspecResponseFields, Integer, Hash)>] MsaspecResponseFields data, response status code and response headers
    def group_users_actions_v1_mixin0_with_http_info(action_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.group_users_actions_v1_mixin0 ...'
      end
      # verify the required parameter 'action_name' is set
      if @api_client.config.client_side_validation && action_name.nil?
        fail ArgumentError, "Missing the required parameter 'action_name' when calling ProfileGroups.group_users_actions_v1_mixin0"
      end
      # verify enum value
      allowable_values = ["add_users", "remove_users"]
      if @api_client.config.client_side_validation && !allowable_values.include?(action_name)
        fail ArgumentError, "invalid value for \"action_name\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProfileGroups.group_users_actions_v1_mixin0"
      end
      # resource path
      local_var_path = '/user-management/entities/group-users-actions/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action_name'] = action_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecResponseFields'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.group_users_actions_v1_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#group_users_actions_v1_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query profile group IDs with FQL filtering, pagination, and sorting
    # Returns a list of profile group IDs available to the actor, paginated, sorted, and filtered as requested.  If the actor's CID is a parent, group IDs may be returned for child CIDs even if profile groups are disabled for the parent CID. Profile groups are disabled on a CID if SCIM is in production mode on the same CID. SCIM provisioning enablement does not propagate down to child CIDs.  `filter` accepts a valid Falcon Query Language (FQL) query to filter groups by. Groups can be filtered by `name` or `cid`.  `sort` specifies a field to sort by, followed by the direction in the format of `field|dir`. Groups can be sorted by `name`, `updated_at`, and `member_count`. Direction may be `asc` or `desc`.  `offset` specifies the number of groups to skip. If provided, the offset should at minimum be 0. The default value is 0.  `limit` specifies the maximum number of groups to return. If provided, the value must be within 1-500 inclusive. The default value is 100.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression to filter groups by name or cid
    # @option opts [String] :sort Sort by field|direction (name, updated_at, member_count) (default to 'name|desc')
    # @option opts [Integer] :offset Number of groups to skip (default to 0)
    # @option opts [Integer] :limit Maximum groups to return [1-500] (default to 100)
    # @return [MsaspecQueryResponse]
    def query_groups_v1_mixin0(opts = {})
      data, _status_code, _headers = query_groups_v1_mixin0_with_http_info(opts)
      data
    end

    # Query profile group IDs with FQL filtering, pagination, and sorting
    # Returns a list of profile group IDs available to the actor, paginated, sorted, and filtered as requested.  If the actor&#39;s CID is a parent, group IDs may be returned for child CIDs even if profile groups are disabled for the parent CID. Profile groups are disabled on a CID if SCIM is in production mode on the same CID. SCIM provisioning enablement does not propagate down to child CIDs.  &#x60;filter&#x60; accepts a valid Falcon Query Language (FQL) query to filter groups by. Groups can be filtered by &#x60;name&#x60; or &#x60;cid&#x60;.  &#x60;sort&#x60; specifies a field to sort by, followed by the direction in the format of &#x60;field|dir&#x60;. Groups can be sorted by &#x60;name&#x60;, &#x60;updated_at&#x60;, and &#x60;member_count&#x60;. Direction may be &#x60;asc&#x60; or &#x60;desc&#x60;.  &#x60;offset&#x60; specifies the number of groups to skip. If provided, the offset should at minimum be 0. The default value is 0.  &#x60;limit&#x60; specifies the maximum number of groups to return. If provided, the value must be within 1-500 inclusive. The default value is 100.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter FQL filter expression to filter groups by name or cid
    # @option opts [String] :sort Sort by field|direction (name, updated_at, member_count) (default to 'name|desc')
    # @option opts [Integer] :offset Number of groups to skip (default to 0)
    # @option opts [Integer] :limit Maximum groups to return [1-500] (default to 100)
    # @return [Array<(MsaspecQueryResponse, Integer, Hash)>] MsaspecQueryResponse data, response status code and response headers
    def query_groups_v1_mixin0_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.query_groups_v1_mixin0 ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ProfileGroups.query_groups_v1_mixin0, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProfileGroups.query_groups_v1_mixin0, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProfileGroups.query_groups_v1_mixin0, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/user-management/queries/groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.query_groups_v1_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#query_groups_v1_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update profile group metadata (name, description)
    # Updates an existing profile group's metadata.  The group ID is specified as a query parameter. Only provided fields are updated.  Name and description can be modified. To modify assignments (roles, user groups, fine-grained access), use the group-actions endpoint instead.
    # @param id [String] ID of the group to update
    # @param body [FlightcontrolapiUpdateGroupRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [FlightcontrolapiProfileGroupResponseV1]
    def update_group_v1_mixin0(id, body, opts = {})
      data, _status_code, _headers = update_group_v1_mixin0_with_http_info(id, body, opts)
      data
    end

    # Update profile group metadata (name, description)
    # Updates an existing profile group&#39;s metadata.  The group ID is specified as a query parameter. Only provided fields are updated.  Name and description can be modified. To modify assignments (roles, user groups, fine-grained access), use the group-actions endpoint instead.
    # @param id [String] ID of the group to update
    # @param body [FlightcontrolapiUpdateGroupRequestV1]
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlightcontrolapiProfileGroupResponseV1, Integer, Hash)>] FlightcontrolapiProfileGroupResponseV1 data, response status code and response headers
    def update_group_v1_mixin0_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfileGroups.update_group_v1_mixin0 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProfileGroups.update_group_v1_mixin0"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProfileGroups.update_group_v1_mixin0"
      end
      # resource path
      local_var_path = '/user-management/entities/groups/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'FlightcontrolapiProfileGroupResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfileGroups.update_group_v1_mixin0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfileGroups#update_group_v1_mixin0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
