=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class RealTimeResponseAdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch executes a RTR administrator command across the hosts mapped to the given batch ID.
    # @param body [DomainBatchExecuteCommandRequest] Use this endpoint to run these [real time response commands](https://falcon.crowdstrike.com/support/documentation/11/getting-started-guide#rtr_commands): - &#x60;cat&#x60; - &#x60;cd&#x60; - &#x60;clear&#x60; - &#x60;cp&#x60; - &#x60;encrypt&#x60; - &#x60;env&#x60; - &#x60;eventlog&#x60; - &#x60;filehash&#x60; - &#x60;get&#x60; - &#x60;getsid&#x60; - &#x60;help&#x60; - &#x60;history&#x60; - &#x60;ipconfig&#x60; - &#x60;kill&#x60; - &#x60;ls&#x60; - &#x60;map&#x60; - &#x60;memdump&#x60; - &#x60;mkdir&#x60; - &#x60;mount&#x60; - &#x60;mv&#x60; - &#x60;netstat&#x60; - &#x60;ps&#x60; - &#x60;put&#x60; - &#x60;reg query&#x60; - &#x60;reg set&#x60; - &#x60;reg delete&#x60; - &#x60;reg load&#x60; - &#x60;reg unload&#x60; - &#x60;restart&#x60; - &#x60;rm&#x60; - &#x60;run&#x60; - &#x60;runscript&#x60; - &#x60;shutdown&#x60; - &#x60;unmap&#x60; - &#x60;update history&#x60; - &#x60;update install&#x60; - &#x60;update list&#x60; - &#x60;update query&#x60; - &#x60;xmemdump&#x60; - &#x60;zip&#x60;  **&#x60;base_command&#x60;** Active-Responder command type we are going to execute, for example: &#x60;get&#x60; or &#x60;cp&#x60;.  Refer to the RTR documentation for the full list of commands. **&#x60;batch_id&#x60;** Batch ID to execute the command on.  Received from &#x60;/real-time-response/combined/batch-init-session/v1&#x60;. **&#x60;command_string&#x60;** Full command string for the command. For example  &#x60;get some_file.txt&#x60; **&#x60;optional_hosts&#x60;** List of a subset of hosts we want to run the command on.  If this list is supplied, only these hosts will receive the command.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :timeout Timeout for how long to wait for the request in seconds, default timeout is 30 seconds. Maximum is 5 minutes. (default to 30)
    # @option opts [String] :timeout_duration Timeout duration for how long to wait for the request in duration syntax. Example, &#x60;10s&#x60;. Valid units: &#x60;ns, us, ms, s, m, h&#x60;. Maximum is 5 minutes. (default to '30s')
    # @option opts [String] :host_timeout_duration Timeout duration for how long a host has time to complete processing. Default value is a bit less than the overall timeout value. It cannot be greater than the overall request timeout. Maximum is &lt; 5 minutes. Example, &#x60;10s&#x60;. Valid units: &#x60;ns, us, ms, s, m, h&#x60;.  (default to 'tiny bit less than overall request timeout')
    # @return [DomainMultiCommandExecuteResponseWrapper]
    def batch_admin_cmd(body, opts = {})
      data, _status_code, _headers = batch_admin_cmd_with_http_info(body, opts)
      data
    end

    # Batch executes a RTR administrator command across the hosts mapped to the given batch ID.
    # @param body [DomainBatchExecuteCommandRequest] Use this endpoint to run these [real time response commands](https://falcon.crowdstrike.com/support/documentation/11/getting-started-guide#rtr_commands): - &#x60;cat&#x60; - &#x60;cd&#x60; - &#x60;clear&#x60; - &#x60;cp&#x60; - &#x60;encrypt&#x60; - &#x60;env&#x60; - &#x60;eventlog&#x60; - &#x60;filehash&#x60; - &#x60;get&#x60; - &#x60;getsid&#x60; - &#x60;help&#x60; - &#x60;history&#x60; - &#x60;ipconfig&#x60; - &#x60;kill&#x60; - &#x60;ls&#x60; - &#x60;map&#x60; - &#x60;memdump&#x60; - &#x60;mkdir&#x60; - &#x60;mount&#x60; - &#x60;mv&#x60; - &#x60;netstat&#x60; - &#x60;ps&#x60; - &#x60;put&#x60; - &#x60;reg query&#x60; - &#x60;reg set&#x60; - &#x60;reg delete&#x60; - &#x60;reg load&#x60; - &#x60;reg unload&#x60; - &#x60;restart&#x60; - &#x60;rm&#x60; - &#x60;run&#x60; - &#x60;runscript&#x60; - &#x60;shutdown&#x60; - &#x60;unmap&#x60; - &#x60;update history&#x60; - &#x60;update install&#x60; - &#x60;update list&#x60; - &#x60;update query&#x60; - &#x60;xmemdump&#x60; - &#x60;zip&#x60;  **&#x60;base_command&#x60;** Active-Responder command type we are going to execute, for example: &#x60;get&#x60; or &#x60;cp&#x60;.  Refer to the RTR documentation for the full list of commands. **&#x60;batch_id&#x60;** Batch ID to execute the command on.  Received from &#x60;/real-time-response/combined/batch-init-session/v1&#x60;. **&#x60;command_string&#x60;** Full command string for the command. For example  &#x60;get some_file.txt&#x60; **&#x60;optional_hosts&#x60;** List of a subset of hosts we want to run the command on.  If this list is supplied, only these hosts will receive the command.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :timeout Timeout for how long to wait for the request in seconds, default timeout is 30 seconds. Maximum is 5 minutes. (default to 30)
    # @option opts [String] :timeout_duration Timeout duration for how long to wait for the request in duration syntax. Example, &#x60;10s&#x60;. Valid units: &#x60;ns, us, ms, s, m, h&#x60;. Maximum is 5 minutes. (default to '30s')
    # @option opts [String] :host_timeout_duration Timeout duration for how long a host has time to complete processing. Default value is a bit less than the overall timeout value. It cannot be greater than the overall request timeout. Maximum is &lt; 5 minutes. Example, &#x60;10s&#x60;. Valid units: &#x60;ns, us, ms, s, m, h&#x60;.  (default to 'tiny bit less than overall request timeout')
    # @return [Array<(DomainMultiCommandExecuteResponseWrapper, Integer, Hash)>] DomainMultiCommandExecuteResponseWrapper data, response status code and response headers
    def batch_admin_cmd_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.batch_admin_cmd ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RealTimeResponseAdminApi.batch_admin_cmd"
      end
      # resource path
      local_var_path = '/real-time-response/combined/batch-admin-command/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'timeout'] = opts[:'timeout'] if !opts[:'timeout'].nil?
      query_params[:'timeout_duration'] = opts[:'timeout_duration'] if !opts[:'timeout_duration'].nil?
      query_params[:'host_timeout_duration'] = opts[:'host_timeout_duration'] if !opts[:'host_timeout_duration'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainMultiCommandExecuteResponseWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.batch_admin_cmd",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#batch_admin_cmd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get status of an executed RTR administrator command on a single host.
    # @param cloud_request_id [String] Cloud Request ID of the executed command to query
    # @param sequence_id [Integer] Sequence ID that we want to retrieve. Command responses are chunked across sequences
    # @param [Hash] opts the optional parameters
    # @return [DomainStatusResponseWrapper]
    def r_tr_check_admin_command_status(cloud_request_id, sequence_id, opts = {})
      data, _status_code, _headers = r_tr_check_admin_command_status_with_http_info(cloud_request_id, sequence_id, opts)
      data
    end

    # Get status of an executed RTR administrator command on a single host.
    # @param cloud_request_id [String] Cloud Request ID of the executed command to query
    # @param sequence_id [Integer] Sequence ID that we want to retrieve. Command responses are chunked across sequences
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainStatusResponseWrapper, Integer, Hash)>] DomainStatusResponseWrapper data, response status code and response headers
    def r_tr_check_admin_command_status_with_http_info(cloud_request_id, sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_check_admin_command_status ...'
      end
      # verify the required parameter 'cloud_request_id' is set
      if @api_client.config.client_side_validation && cloud_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_request_id' when calling RealTimeResponseAdminApi.r_tr_check_admin_command_status"
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling RealTimeResponseAdminApi.r_tr_check_admin_command_status"
      end
      # resource path
      local_var_path = '/real-time-response/entities/admin-command/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cloud_request_id'] = cloud_request_id
      query_params[:'sequence_id'] = sequence_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainStatusResponseWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_check_admin_command_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_check_admin_command_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a new put-file to use for the RTR `put` command.
    # @param file [File] put-file to upload
    # @param description [String] File description
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name File name (if different than actual file name)
    # @option opts [String] :comments_for_audit_log The audit log comment
    # @return [MsaReplyMetaOnly]
    def r_tr_create_put_files(file, description, opts = {})
      data, _status_code, _headers = r_tr_create_put_files_with_http_info(file, description, opts)
      data
    end

    # Upload a new put-file to use for the RTR &#x60;put&#x60; command.
    # @param file [File] put-file to upload
    # @param description [String] File description
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name File name (if different than actual file name)
    # @option opts [String] :comments_for_audit_log The audit log comment
    # @return [Array<(MsaReplyMetaOnly, Integer, Hash)>] MsaReplyMetaOnly data, response status code and response headers
    def r_tr_create_put_files_with_http_info(file, description, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_create_put_files ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling RealTimeResponseAdminApi.r_tr_create_put_files"
      end
      # verify the required parameter 'description' is set
      if @api_client.config.client_side_validation && description.nil?
        fail ArgumentError, "Missing the required parameter 'description' when calling RealTimeResponseAdminApi.r_tr_create_put_files"
      end
      if @api_client.config.client_side_validation && !opts[:'comments_for_audit_log'].nil? && opts[:'comments_for_audit_log'].to_s.length > 4096
        fail ArgumentError, 'invalid value for "opts[:"comments_for_audit_log"]" when calling RealTimeResponseAdminApi.r_tr_create_put_files, the character length must be smaller than or equal to 4096.'
      end

      # resource path
      local_var_path = '/real-time-response/entities/put-files/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['description'] = description
      form_params['name'] = opts[:'name'] if !opts[:'name'].nil?
      form_params['comments_for_audit_log'] = opts[:'comments_for_audit_log'] if !opts[:'comments_for_audit_log'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaReplyMetaOnly'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_create_put_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_create_put_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a new custom-script to use for the RTR `runscript` command.
    # @param description [String] File description
    # @param permission_type [String] Permission for the custom-script. Valid permission values:   - &#x60;private&#x60;, usable by only the user who uploaded it   - &#x60;group&#x60;, usable by all RTR Admins   - &#x60;public&#x60;, usable by all active-responders and RTR admins
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file custom-script file to upload.  These should be powershell scripts.
    # @option opts [String] :name File name (if different than actual file name)
    # @option opts [String] :comments_for_audit_log The audit log comment
    # @option opts [String] :content The script text that you want to use to upload
    # @option opts [Array<String>] :platform Platforms for the file. Currently supports: windows, mac, linux, . If no platform is provided, it will default to &#39;windows&#39;
    # @return [MsaReplyMetaOnly]
    def r_tr_create_scripts(description, permission_type, opts = {})
      data, _status_code, _headers = r_tr_create_scripts_with_http_info(description, permission_type, opts)
      data
    end

    # Upload a new custom-script to use for the RTR &#x60;runscript&#x60; command.
    # @param description [String] File description
    # @param permission_type [String] Permission for the custom-script. Valid permission values:   - &#x60;private&#x60;, usable by only the user who uploaded it   - &#x60;group&#x60;, usable by all RTR Admins   - &#x60;public&#x60;, usable by all active-responders and RTR admins
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file custom-script file to upload.  These should be powershell scripts.
    # @option opts [String] :name File name (if different than actual file name)
    # @option opts [String] :comments_for_audit_log The audit log comment
    # @option opts [String] :content The script text that you want to use to upload
    # @option opts [Array<String>] :platform Platforms for the file. Currently supports: windows, mac, linux, . If no platform is provided, it will default to &#39;windows&#39;
    # @return [Array<(MsaReplyMetaOnly, Integer, Hash)>] MsaReplyMetaOnly data, response status code and response headers
    def r_tr_create_scripts_with_http_info(description, permission_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_create_scripts ...'
      end
      # verify the required parameter 'description' is set
      if @api_client.config.client_side_validation && description.nil?
        fail ArgumentError, "Missing the required parameter 'description' when calling RealTimeResponseAdminApi.r_tr_create_scripts"
      end
      # verify the required parameter 'permission_type' is set
      if @api_client.config.client_side_validation && permission_type.nil?
        fail ArgumentError, "Missing the required parameter 'permission_type' when calling RealTimeResponseAdminApi.r_tr_create_scripts"
      end
      if @api_client.config.client_side_validation && !opts[:'comments_for_audit_log'].nil? && opts[:'comments_for_audit_log'].to_s.length > 4096
        fail ArgumentError, 'invalid value for "opts[:"comments_for_audit_log"]" when calling RealTimeResponseAdminApi.r_tr_create_scripts, the character length must be smaller than or equal to 4096.'
      end

      # resource path
      local_var_path = '/real-time-response/entities/scripts/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['description'] = description
      form_params['permission_type'] = permission_type
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['name'] = opts[:'name'] if !opts[:'name'].nil?
      form_params['comments_for_audit_log'] = opts[:'comments_for_audit_log'] if !opts[:'comments_for_audit_log'].nil?
      form_params['content'] = opts[:'content'] if !opts[:'content'].nil?
      form_params['platform'] = @api_client.build_collection_param(opts[:'platform'], :csv) if !opts[:'platform'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaReplyMetaOnly'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_create_scripts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_create_scripts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a put-file based on the ID given.  Can only delete one file at a time.
    # @param ids [String] File id
    # @param [Hash] opts the optional parameters
    # @return [MsaReplyMetaOnly]
    def r_tr_delete_put_files(ids, opts = {})
      data, _status_code, _headers = r_tr_delete_put_files_with_http_info(ids, opts)
      data
    end

    # Delete a put-file based on the ID given.  Can only delete one file at a time.
    # @param ids [String] File id
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaReplyMetaOnly, Integer, Hash)>] MsaReplyMetaOnly data, response status code and response headers
    def r_tr_delete_put_files_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_delete_put_files ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling RealTimeResponseAdminApi.r_tr_delete_put_files"
      end
      # resource path
      local_var_path = '/real-time-response/entities/put-files/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaReplyMetaOnly'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_delete_put_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_delete_put_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom-script based on the ID given.  Can only delete one script at a time.
    # @param ids [String] File id
    # @param [Hash] opts the optional parameters
    # @return [MsaReplyMetaOnly]
    def r_tr_delete_scripts(ids, opts = {})
      data, _status_code, _headers = r_tr_delete_scripts_with_http_info(ids, opts)
      data
    end

    # Delete a custom-script based on the ID given.  Can only delete one script at a time.
    # @param ids [String] File id
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaReplyMetaOnly, Integer, Hash)>] MsaReplyMetaOnly data, response status code and response headers
    def r_tr_delete_scripts_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_delete_scripts ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling RealTimeResponseAdminApi.r_tr_delete_scripts"
      end
      # resource path
      local_var_path = '/real-time-response/entities/scripts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaReplyMetaOnly'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_delete_scripts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_delete_scripts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute a RTR administrator command on a single host.
    # @param body [DomainCommandExecuteRequest] Use this endpoint to run these [real time response commands](https://falcon.crowdstrike.com/support/documentation/11/getting-started-guide#rtr_commands): - &#x60;cat&#x60; - &#x60;cd&#x60; - &#x60;clear&#x60; - &#x60;cp&#x60; - &#x60;encrypt&#x60; - &#x60;env&#x60; - &#x60;eventlog&#x60; - &#x60;filehash&#x60; - &#x60;get&#x60; - &#x60;getsid&#x60; - &#x60;help&#x60; - &#x60;history&#x60; - &#x60;ipconfig&#x60; - &#x60;kill&#x60; - &#x60;ls&#x60; - &#x60;map&#x60; - &#x60;memdump&#x60; - &#x60;mkdir&#x60; - &#x60;mount&#x60; - &#x60;mv&#x60; - &#x60;netstat&#x60; - &#x60;ps&#x60; - &#x60;put&#x60; - &#x60;reg query&#x60; - &#x60;reg set&#x60; - &#x60;reg delete&#x60; - &#x60;reg load&#x60; - &#x60;reg unload&#x60; - &#x60;restart&#x60; - &#x60;rm&#x60; - &#x60;run&#x60; - &#x60;runscript&#x60; - &#x60;shutdown&#x60; - &#x60;unmap&#x60; - &#x60;update history&#x60; - &#x60;update install&#x60; - &#x60;update list&#x60; - &#x60;update query&#x60; - &#x60;xmemdump&#x60; - &#x60;zip&#x60;  Required values.  The rest of the fields are unused. **&#x60;base_command&#x60;** Active-Responder command type we are going to execute, for example: &#x60;get&#x60; or &#x60;cp&#x60;.  Refer to the RTR documentation for the full list of commands. **&#x60;command_string&#x60;** Full command string for the command. For example  &#x60;get some_file.txt&#x60; **&#x60;session_id&#x60;** RTR session ID to run the command on
    # @param [Hash] opts the optional parameters
    # @return [DomainCommandExecuteResponseWrapper]
    def r_tr_execute_admin_command(body, opts = {})
      data, _status_code, _headers = r_tr_execute_admin_command_with_http_info(body, opts)
      data
    end

    # Execute a RTR administrator command on a single host.
    # @param body [DomainCommandExecuteRequest] Use this endpoint to run these [real time response commands](https://falcon.crowdstrike.com/support/documentation/11/getting-started-guide#rtr_commands): - &#x60;cat&#x60; - &#x60;cd&#x60; - &#x60;clear&#x60; - &#x60;cp&#x60; - &#x60;encrypt&#x60; - &#x60;env&#x60; - &#x60;eventlog&#x60; - &#x60;filehash&#x60; - &#x60;get&#x60; - &#x60;getsid&#x60; - &#x60;help&#x60; - &#x60;history&#x60; - &#x60;ipconfig&#x60; - &#x60;kill&#x60; - &#x60;ls&#x60; - &#x60;map&#x60; - &#x60;memdump&#x60; - &#x60;mkdir&#x60; - &#x60;mount&#x60; - &#x60;mv&#x60; - &#x60;netstat&#x60; - &#x60;ps&#x60; - &#x60;put&#x60; - &#x60;reg query&#x60; - &#x60;reg set&#x60; - &#x60;reg delete&#x60; - &#x60;reg load&#x60; - &#x60;reg unload&#x60; - &#x60;restart&#x60; - &#x60;rm&#x60; - &#x60;run&#x60; - &#x60;runscript&#x60; - &#x60;shutdown&#x60; - &#x60;unmap&#x60; - &#x60;update history&#x60; - &#x60;update install&#x60; - &#x60;update list&#x60; - &#x60;update query&#x60; - &#x60;xmemdump&#x60; - &#x60;zip&#x60;  Required values.  The rest of the fields are unused. **&#x60;base_command&#x60;** Active-Responder command type we are going to execute, for example: &#x60;get&#x60; or &#x60;cp&#x60;.  Refer to the RTR documentation for the full list of commands. **&#x60;command_string&#x60;** Full command string for the command. For example  &#x60;get some_file.txt&#x60; **&#x60;session_id&#x60;** RTR session ID to run the command on
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainCommandExecuteResponseWrapper, Integer, Hash)>] DomainCommandExecuteResponseWrapper data, response status code and response headers
    def r_tr_execute_admin_command_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_execute_admin_command ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RealTimeResponseAdminApi.r_tr_execute_admin_command"
      end
      # resource path
      local_var_path = '/real-time-response/entities/admin-command/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainCommandExecuteResponseWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_execute_admin_command",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_execute_admin_command\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get put-files based on the ID's given. These are used for the RTR `put` command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [EmpowerapiMsaPFResponseV1]
    def r_tr_get_put_files(ids, opts = {})
      data, _status_code, _headers = r_tr_get_put_files_with_http_info(ids, opts)
      data
    end

    # Get put-files based on the ID&#39;s given. These are used for the RTR &#x60;put&#x60; command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmpowerapiMsaPFResponseV1, Integer, Hash)>] EmpowerapiMsaPFResponseV1 data, response status code and response headers
    def r_tr_get_put_files_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_get_put_files ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling RealTimeResponseAdminApi.r_tr_get_put_files"
      end
      # resource path
      local_var_path = '/real-time-response/entities/put-files/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmpowerapiMsaPFResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_get_put_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_get_put_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get put-files based on the ID's given. These are used for the RTR `put` command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [EmpowerapiMsaPFResponseV2]
    def r_tr_get_put_files_v2(ids, opts = {})
      data, _status_code, _headers = r_tr_get_put_files_v2_with_http_info(ids, opts)
      data
    end

    # Get put-files based on the ID&#39;s given. These are used for the RTR &#x60;put&#x60; command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmpowerapiMsaPFResponseV2, Integer, Hash)>] EmpowerapiMsaPFResponseV2 data, response status code and response headers
    def r_tr_get_put_files_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_get_put_files_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling RealTimeResponseAdminApi.r_tr_get_put_files_v2"
      end
      # resource path
      local_var_path = '/real-time-response/entities/put-files/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmpowerapiMsaPFResponseV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_get_put_files_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_get_put_files_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get custom-scripts based on the ID's given. These are used for the RTR `runscript` command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [EmpowerapiMsaPFResponseV1]
    def r_tr_get_scripts(ids, opts = {})
      data, _status_code, _headers = r_tr_get_scripts_with_http_info(ids, opts)
      data
    end

    # Get custom-scripts based on the ID&#39;s given. These are used for the RTR &#x60;runscript&#x60; command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmpowerapiMsaPFResponseV1, Integer, Hash)>] EmpowerapiMsaPFResponseV1 data, response status code and response headers
    def r_tr_get_scripts_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_get_scripts ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling RealTimeResponseAdminApi.r_tr_get_scripts"
      end
      # resource path
      local_var_path = '/real-time-response/entities/scripts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmpowerapiMsaPFResponseV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_get_scripts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_get_scripts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get custom-scripts based on the ID's given. These are used for the RTR `runscript` command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [EmpowerapiMsaPFResponseV2]
    def r_tr_get_scripts_v2(ids, opts = {})
      data, _status_code, _headers = r_tr_get_scripts_v2_with_http_info(ids, opts)
      data
    end

    # Get custom-scripts based on the ID&#39;s given. These are used for the RTR &#x60;runscript&#x60; command.
    # @param ids [Array<String>] File IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmpowerapiMsaPFResponseV2, Integer, Hash)>] EmpowerapiMsaPFResponseV2 data, response status code and response headers
    def r_tr_get_scripts_v2_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_get_scripts_v2 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling RealTimeResponseAdminApi.r_tr_get_scripts_v2"
      end
      # resource path
      local_var_path = '/real-time-response/entities/scripts/v2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmpowerapiMsaPFResponseV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_get_scripts_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_get_scripts_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of put-file ID's that are available to the user for the `put` command.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Optional filter criteria in the form of an FQL query. For more information about FQL queries, see our [FQL documentation in Falcon](https://falcon.crowdstrike.com/support/documentation/45/falcon-query-language-feature-guide).
    # @option opts [String] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of ids to return.
    # @option opts [String] :sort Sort by spec. Ex: &#39;created_at|asc&#39;.
    # @return [BinservapiMsaPutFileResponse]
    def r_tr_list_put_files(opts = {})
      data, _status_code, _headers = r_tr_list_put_files_with_http_info(opts)
      data
    end

    # Get a list of put-file ID&#39;s that are available to the user for the &#x60;put&#x60; command.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Optional filter criteria in the form of an FQL query. For more information about FQL queries, see our [FQL documentation in Falcon](https://falcon.crowdstrike.com/support/documentation/45/falcon-query-language-feature-guide).
    # @option opts [String] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of ids to return.
    # @option opts [String] :sort Sort by spec. Ex: &#39;created_at|asc&#39;.
    # @return [Array<(BinservapiMsaPutFileResponse, Integer, Hash)>] BinservapiMsaPutFileResponse data, response status code and response headers
    def r_tr_list_put_files_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_list_put_files ...'
      end
      # resource path
      local_var_path = '/real-time-response/queries/put-files/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BinservapiMsaPutFileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_list_put_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_list_put_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of custom-script ID's that are available to the user for the `runscript` command.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Optional filter criteria in the form of an FQL query. For more information about FQL queries, see our [FQL documentation in Falcon](https://falcon.crowdstrike.com/support/documentation/45/falcon-query-language-feature-guide).
    # @option opts [String] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of ids to return.
    # @option opts [String] :sort Sort by spec. Ex: &#39;created_at|asc&#39;.
    # @return [BinservapiMsaPutFileResponse]
    def r_tr_list_scripts(opts = {})
      data, _status_code, _headers = r_tr_list_scripts_with_http_info(opts)
      data
    end

    # Get a list of custom-script ID&#39;s that are available to the user for the &#x60;runscript&#x60; command.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Optional filter criteria in the form of an FQL query. For more information about FQL queries, see our [FQL documentation in Falcon](https://falcon.crowdstrike.com/support/documentation/45/falcon-query-language-feature-guide).
    # @option opts [String] :offset Starting index of overall result set from which to return ids.
    # @option opts [Integer] :limit Number of ids to return.
    # @option opts [String] :sort Sort by spec. Ex: &#39;created_at|asc&#39;.
    # @return [Array<(BinservapiMsaPutFileResponse, Integer, Hash)>] BinservapiMsaPutFileResponse data, response status code and response headers
    def r_tr_list_scripts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_list_scripts ...'
      end
      # resource path
      local_var_path = '/real-time-response/queries/scripts/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BinservapiMsaPutFileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_list_scripts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_list_scripts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a new scripts to replace an existing one.
    # @param id [String] ID to update
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file custom-script file to upload.  These should be powershell scripts.
    # @option opts [String] :description File description
    # @option opts [String] :name File name (if different than actual file name)
    # @option opts [String] :comments_for_audit_log The audit log comment
    # @option opts [String] :permission_type Permission for the custom-script. Valid permission values:   - &#x60;private&#x60;, usable by only the user who uploaded it   - &#x60;group&#x60;, usable by all RTR Admins   - &#x60;public&#x60;, usable by all active-responders and RTR admins (default to 'none')
    # @option opts [String] :content The script text that you want to use to upload
    # @option opts [Array<String>] :platform Platforms for the file. Currently supports: windows, mac, linux,
    # @return [MsaReplyMetaOnly]
    def r_tr_update_scripts(id, opts = {})
      data, _status_code, _headers = r_tr_update_scripts_with_http_info(id, opts)
      data
    end

    # Upload a new scripts to replace an existing one.
    # @param id [String] ID to update
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file custom-script file to upload.  These should be powershell scripts.
    # @option opts [String] :description File description
    # @option opts [String] :name File name (if different than actual file name)
    # @option opts [String] :comments_for_audit_log The audit log comment
    # @option opts [String] :permission_type Permission for the custom-script. Valid permission values:   - &#x60;private&#x60;, usable by only the user who uploaded it   - &#x60;group&#x60;, usable by all RTR Admins   - &#x60;public&#x60;, usable by all active-responders and RTR admins (default to 'none')
    # @option opts [String] :content The script text that you want to use to upload
    # @option opts [Array<String>] :platform Platforms for the file. Currently supports: windows, mac, linux,
    # @return [Array<(MsaReplyMetaOnly, Integer, Hash)>] MsaReplyMetaOnly data, response status code and response headers
    def r_tr_update_scripts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeResponseAdminApi.r_tr_update_scripts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RealTimeResponseAdminApi.r_tr_update_scripts"
      end
      if @api_client.config.client_side_validation && !opts[:'comments_for_audit_log'].nil? && opts[:'comments_for_audit_log'].to_s.length > 4096
        fail ArgumentError, 'invalid value for "opts[:"comments_for_audit_log"]" when calling RealTimeResponseAdminApi.r_tr_update_scripts, the character length must be smaller than or equal to 4096.'
      end

      # resource path
      local_var_path = '/real-time-response/entities/scripts/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['id'] = id
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['description'] = opts[:'description'] if !opts[:'description'].nil?
      form_params['name'] = opts[:'name'] if !opts[:'name'].nil?
      form_params['comments_for_audit_log'] = opts[:'comments_for_audit_log'] if !opts[:'comments_for_audit_log'].nil?
      form_params['permission_type'] = opts[:'permission_type'] if !opts[:'permission_type'].nil?
      form_params['content'] = opts[:'content'] if !opts[:'content'].nil?
      form_params['platform'] = @api_client.build_collection_param(opts[:'platform'], :csv) if !opts[:'platform'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaReplyMetaOnly'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"RealTimeResponseAdminApi.r_tr_update_scripts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeResponseAdminApi#r_tr_update_scripts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
