=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class ReleaseNotes
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Queries for release-notes resources and returns details
    # @param authorization [String] authorization header
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @option opts [String] :filter FQL query specifying filter parameters.
    # @option opts [Integer] :limit Maximum number of records to return.
    # @option opts [String] :offset Starting pagination offset of records to return.
    # @option opts [String] :sort Sort items by providing a comma separated list of property and direction (eg name.desc,time.asc). If direction is omitted, defaults to descending.
    # @return [ReleasenotesReleaseNoteWrapperV1]
    def combined_release_notes_v1(authorization, opts = {})
      data, _status_code, _headers = combined_release_notes_v1_with_http_info(authorization, opts)
      data
    end

    # Queries for release-notes resources and returns details
    # @param authorization [String] authorization header
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @option opts [String] :filter FQL query specifying filter parameters.
    # @option opts [Integer] :limit Maximum number of records to return.
    # @option opts [String] :offset Starting pagination offset of records to return.
    # @option opts [String] :sort Sort items by providing a comma separated list of property and direction (eg name.desc,time.asc). If direction is omitted, defaults to descending.
    # @return [Array<(ReleasenotesReleaseNoteWrapperV1, Integer, Hash)>] ReleasenotesReleaseNoteWrapperV1 data, response status code and response headers
    def combined_release_notes_v1_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReleaseNotes.combined_release_notes_v1 ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ReleaseNotes.combined_release_notes_v1"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReleaseNotes.combined_release_notes_v1, must be smaller than or equal to 500.'
      end

      pattern = Regexp.new(/^\w+(\.asc|\.desc)?(,\w+(\.asc|\.desc)?)*$/)
      if @api_client.config.client_side_validation && !opts[:'sort'].nil? && opts[:'sort'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"sort\"]' when calling ReleaseNotes.combined_release_notes_v1, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/deployment-coordinator/combined/release-notes/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'X-CS-USERNAME'] = opts[:'x_cs_username'] if !opts[:'x_cs_username'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReleasenotesReleaseNoteWrapperV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ReleaseNotes.combined_release_notes_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseNotes#combined_release_notes_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns the IDs of all entities in the database for the given page
    # @param authorization [String] authorization header
    # @param body [ReleasenotesEntitiesGetRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @return [ReleasenotesEntitiesGetResponseWrapper]
    def get_entity_ids_by_query_post(authorization, body, opts = {})
      data, _status_code, _headers = get_entity_ids_by_query_post_with_http_info(authorization, body, opts)
      data
    end

    # returns the IDs of all entities in the database for the given page
    # @param authorization [String] authorization header
    # @param body [ReleasenotesEntitiesGetRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @return [Array<(ReleasenotesEntitiesGetResponseWrapper, Integer, Hash)>] ReleasenotesEntitiesGetResponseWrapper data, response status code and response headers
    def get_entity_ids_by_query_post_with_http_info(authorization, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReleaseNotes.get_entity_ids_by_query_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ReleaseNotes.get_entity_ids_by_query_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ReleaseNotes.get_entity_ids_by_query_post"
      end
      # resource path
      local_var_path = '/deployment-coordinator/entities/release-notes/GET/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization
      header_params[:'X-CS-USERNAME'] = opts[:'x_cs_username'] if !opts[:'x_cs_username'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ReleasenotesEntitiesGetResponseWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ReleaseNotes.get_entity_ids_by_query_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseNotes#get_entity_ids_by_query_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Queries for release-notes resources and returns ids
    # @param authorization [String] authorization header
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @option opts [String] :filter FQL query specifying filter parameters.
    # @option opts [Integer] :limit Maximum number of records to return.
    # @option opts [String] :offset Starting pagination offset of records to return.
    # @option opts [String] :sort Sort items by providing a comma separated list of property and direction (eg name.desc,time.asc). If direction is omitted, defaults to descending.
    # @return [StringWrapper]
    def query_release_notes_v1(authorization, opts = {})
      data, _status_code, _headers = query_release_notes_v1_with_http_info(authorization, opts)
      data
    end

    # Queries for release-notes resources and returns ids
    # @param authorization [String] authorization header
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_cs_username user name
    # @option opts [String] :filter FQL query specifying filter parameters.
    # @option opts [Integer] :limit Maximum number of records to return.
    # @option opts [String] :offset Starting pagination offset of records to return.
    # @option opts [String] :sort Sort items by providing a comma separated list of property and direction (eg name.desc,time.asc). If direction is omitted, defaults to descending.
    # @return [Array<(StringWrapper, Integer, Hash)>] StringWrapper data, response status code and response headers
    def query_release_notes_v1_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReleaseNotes.query_release_notes_v1 ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ReleaseNotes.query_release_notes_v1"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReleaseNotes.query_release_notes_v1, must be smaller than or equal to 500.'
      end

      pattern = Regexp.new(/^\w+(\.asc|\.desc)?(,\w+(\.asc|\.desc)?)*$/)
      if @api_client.config.client_side_validation && !opts[:'sort'].nil? && opts[:'sort'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"sort\"]' when calling ReleaseNotes.query_release_notes_v1, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/deployment-coordinator/queries/release-notes/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'X-CS-USERNAME'] = opts[:'x_cs_username'] if !opts[:'x_cs_username'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StringWrapper'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ReleaseNotes.query_release_notes_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseNotes#query_release_notes_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
