=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class SaasSecurity
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # POST Dismiss Affected Entity
    # Preform dismiss to an affected entity in a security check
    # @param id [String] Security Check ID
    # @param body [DismissAffectedEntityV3Request]
    # @param [Hash] opts the optional parameters
    # @return [DismissAffected]
    def dismiss_affected_entity_v3(id, body, opts = {})
      data, _status_code, _headers = dismiss_affected_entity_v3_with_http_info(id, body, opts)
      data
    end

    # POST Dismiss Affected Entity
    # Preform dismiss to an affected entity in a security check
    # @param id [String] Security Check ID
    # @param body [DismissAffectedEntityV3Request]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DismissAffected, Integer, Hash)>] DismissAffected data, response status code and response headers
    def dismiss_affected_entity_v3_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.dismiss_affected_entity_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.dismiss_affected_entity_v3"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SaasSecurity.dismiss_affected_entity_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/check-dismiss-affected/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DismissAffected'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.dismiss_affected_entity_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#dismiss_affected_entity_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST Dismiss Security Check by ID
    # Perform dismiss to a security check
    # @param id [String] Security Check ID
    # @param body [DismissSecurityCheckV3Request]
    # @param [Hash] opts the optional parameters
    # @return [DismissSecurityCheck]
    def dismiss_security_check_v3(id, body, opts = {})
      data, _status_code, _headers = dismiss_security_check_v3_with_http_info(id, body, opts)
      data
    end

    # POST Dismiss Security Check by ID
    # Perform dismiss to a security check
    # @param id [String] Security Check ID
    # @param body [DismissSecurityCheckV3Request]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DismissSecurityCheck, Integer, Hash)>] DismissSecurityCheck data, response status code and response headers
    def dismiss_security_check_v3_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.dismiss_security_check_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.dismiss_security_check_v3"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SaasSecurity.dismiss_security_check_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/check-dismiss/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'DismissSecurityCheck'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.dismiss_security_check_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#dismiss_security_check_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Activity Monitor
    # Get a list of all events in monitor
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Integration ID
    # @option opts [String] :actor Actor
    # @option opts [String] :category Comma separated list of categories
    # @option opts [String] :projection Comma separated list of projections
    # @option opts [Time] :from_date From Date
    # @option opts [Time] :to_date To Date
    # @option opts [Integer] :limit Max number of logs to fetch
    # @option opts [Integer] :skip Number of logs to skip
    # @return [GetActivityMonitor]
    def get_activity_monitor_v3(opts = {})
      data, _status_code, _headers = get_activity_monitor_v3_with_http_info(opts)
      data
    end

    # GET Activity Monitor
    # Get a list of all events in monitor
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Integration ID
    # @option opts [String] :actor Actor
    # @option opts [String] :category Comma separated list of categories
    # @option opts [String] :projection Comma separated list of projections
    # @option opts [Time] :from_date From Date
    # @option opts [Time] :to_date To Date
    # @option opts [Integer] :limit Max number of logs to fetch
    # @option opts [Integer] :skip Number of logs to skip
    # @return [Array<(GetActivityMonitor, Integer, Hash)>] GetActivityMonitor data, response status code and response headers
    def get_activity_monitor_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_activity_monitor_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/monitor/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'actor'] = opts[:'actor'] if !opts[:'actor'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'projection'] = opts[:'projection'] if !opts[:'projection'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetActivityMonitor'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_activity_monitor_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_activity_monitor_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Alert by ID or GET Alerts
    # Get a data on a specific alert or get a list of all alerts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Alert ID
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :last_id The last id of the alert you want to get
    # @option opts [String] :type The type of alert you want to get
    # @option opts [String] :integration_id Comma separated list of integration ID&#39;s of the alert you want to get
    # @option opts [Time] :from_date The start date of the alert you want to get (in YYYY-MM-DD format)
    # @option opts [Time] :to_date The end date of the alert you want to get (in YYYY-MM-DD format)
    # @option opts [Boolean] :ascending
    # @return [GetAlertsResponse]
    def get_alerts_v3(opts = {})
      data, _status_code, _headers = get_alerts_v3_with_http_info(opts)
      data
    end

    # GET Alert by ID or GET Alerts
    # Get a data on a specific alert or get a list of all alerts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Alert ID
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :last_id The last id of the alert you want to get
    # @option opts [String] :type The type of alert you want to get
    # @option opts [String] :integration_id Comma separated list of integration ID&#39;s of the alert you want to get
    # @option opts [Time] :from_date The start date of the alert you want to get (in YYYY-MM-DD format)
    # @option opts [Time] :to_date The end date of the alert you want to get (in YYYY-MM-DD format)
    # @option opts [Boolean] :ascending
    # @return [Array<(GetAlertsResponse, Integer, Hash)>] GetAlertsResponse data, response status code and response headers
    def get_alerts_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_alerts_v3 ...'
      end
      allowable_values = ["configuration_drift", "check_degraded", "integration_failure", "Threat"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/saas-security/entities/alerts/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'last_id'] = opts[:'last_id'] if !opts[:'last_id'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'ascending'] = opts[:'ascending'] if !opts[:'ascending'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAlertsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_alerts_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_alerts_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Applications Inventory
    # Get a list of all apps in the Applications inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Comma separated list of app types
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :status Comma separated list of application statuses (approved, in review, rejected, unclassified)
    # @option opts [String] :access_level Comma separated list of access levels
    # @option opts [String] :scopes Comma separated list of scopes
    # @option opts [String] :users Users. Format: &#39;is equal value&#39; or &#39;contains value&#39; or &#39;value&#39; (implies &#39;is equal value&#39;)
    # @option opts [String] :groups Comma separated list of groups
    # @option opts [String] :last_activity Last activity was within or was not within the last &#39;value&#39; days. Format: &#39;was value&#39; or &#39;was not value&#39; or &#39;value&#39; (implies &#39;was value&#39;). &#39;value&#39; is an integer
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @return [AppInventory]
    def get_app_inventory(opts = {})
      data, _status_code, _headers = get_app_inventory_with_http_info(opts)
      data
    end

    # GET Applications Inventory
    # Get a list of all apps in the Applications inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Comma separated list of app types
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :status Comma separated list of application statuses (approved, in review, rejected, unclassified)
    # @option opts [String] :access_level Comma separated list of access levels
    # @option opts [String] :scopes Comma separated list of scopes
    # @option opts [String] :users Users. Format: &#39;is equal value&#39; or &#39;contains value&#39; or &#39;value&#39; (implies &#39;is equal value&#39;)
    # @option opts [String] :groups Comma separated list of groups
    # @option opts [String] :last_activity Last activity was within or was not within the last &#39;value&#39; days. Format: &#39;was value&#39; or &#39;was not value&#39; or &#39;value&#39; (implies &#39;was value&#39;). &#39;value&#39; is an integer
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @return [Array<(AppInventory, Integer, Hash)>] AppInventory data, response status code and response headers
    def get_app_inventory_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_app_inventory ...'
      end
      allowable_values = ["approved", "in review", "rejected", "unclassified"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/saas-security/entities/apps/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'access_level'] = opts[:'access_level'] if !opts[:'access_level'].nil?
      query_params[:'scopes'] = opts[:'scopes'] if !opts[:'scopes'].nil?
      query_params[:'users'] = opts[:'users'] if !opts[:'users'].nil?
      query_params[:'groups'] = opts[:'groups'] if !opts[:'groups'].nil?
      query_params[:'last_activity'] = opts[:'last_activity'] if !opts[:'last_activity'].nil?
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppInventory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_app_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_app_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Application Users
    # Get users associated with an app from the Applications Inventory
    # @param item_id [String] Item ID in format: &#39;integration_id|||app_id&#39; (item_id)
    # @param [Hash] opts the optional parameters
    # @return [AppInventoryUsers]
    def get_app_inventory_users(item_id, opts = {})
      data, _status_code, _headers = get_app_inventory_users_with_http_info(item_id, opts)
      data
    end

    # GET Application Users
    # Get users associated with an app from the Applications Inventory
    # @param item_id [String] Item ID in format: &#39;integration_id|||app_id&#39; (item_id)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppInventoryUsers, Integer, Hash)>] AppInventoryUsers data, response status code and response headers
    def get_app_inventory_users_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_app_inventory_users ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling SaasSecurity.get_app_inventory_users"
      end
      # resource path
      local_var_path = '/saas-security/entities/app-users/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'item_id'] = item_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppInventoryUsers'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_app_inventory_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_app_inventory_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Data Inventory
    # Get a list of all assets in the Data Inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :resource_type Comma separated list of resource types
    # @option opts [String] :access_level Comma separated list of access levels
    # @option opts [String] :last_accessed Last accessed date was within or was not within the last &#39;value&#39; days. Format: &#39;was value&#39; or &#39;was not value&#39; or &#39;value&#39; (implies &#39;was value&#39;). &#39;value&#39; is an integer
    # @option opts [String] :last_modified Last modified date was within or was not within the last &#39;value&#39; days. Format: &#39;was value&#39; or &#39;was not value&#39; or &#39;value&#39; (implies &#39;was value&#39;). &#39;value&#39; is an integer
    # @option opts [String] :resource_name Resource name contains &#39;value&#39; (case insensitive)
    # @option opts [Boolean] :password_protected Password protected
    # @option opts [String] :resource_owner Resource owner contains &#39;value&#39; (case insensitive)
    # @option opts [Boolean] :resource_owner_enabled Resource owner enabled
    # @option opts [String] :unmanaged_domain Comma separated list of unmanaged domains
    # @return [GetAssetInventory]
    def get_asset_inventory_v3(opts = {})
      data, _status_code, _headers = get_asset_inventory_v3_with_http_info(opts)
      data
    end

    # GET Data Inventory
    # Get a list of all assets in the Data Inventory
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :resource_type Comma separated list of resource types
    # @option opts [String] :access_level Comma separated list of access levels
    # @option opts [String] :last_accessed Last accessed date was within or was not within the last &#39;value&#39; days. Format: &#39;was value&#39; or &#39;was not value&#39; or &#39;value&#39; (implies &#39;was value&#39;). &#39;value&#39; is an integer
    # @option opts [String] :last_modified Last modified date was within or was not within the last &#39;value&#39; days. Format: &#39;was value&#39; or &#39;was not value&#39; or &#39;value&#39; (implies &#39;was value&#39;). &#39;value&#39; is an integer
    # @option opts [String] :resource_name Resource name contains &#39;value&#39; (case insensitive)
    # @option opts [Boolean] :password_protected Password protected
    # @option opts [String] :resource_owner Resource owner contains &#39;value&#39; (case insensitive)
    # @option opts [Boolean] :resource_owner_enabled Resource owner enabled
    # @option opts [String] :unmanaged_domain Comma separated list of unmanaged domains
    # @return [Array<(GetAssetInventory, Integer, Hash)>] GetAssetInventory data, response status code and response headers
    def get_asset_inventory_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_asset_inventory_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/data/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?
      query_params[:'access_level'] = opts[:'access_level'] if !opts[:'access_level'].nil?
      query_params[:'last_accessed'] = opts[:'last_accessed'] if !opts[:'last_accessed'].nil?
      query_params[:'last_modified'] = opts[:'last_modified'] if !opts[:'last_modified'].nil?
      query_params[:'resource_name'] = opts[:'resource_name'] if !opts[:'resource_name'].nil?
      query_params[:'password_protected'] = opts[:'password_protected'] if !opts[:'password_protected'].nil?
      query_params[:'resource_owner'] = opts[:'resource_owner'] if !opts[:'resource_owner'].nil?
      query_params[:'resource_owner_enabled'] = opts[:'resource_owner_enabled'] if !opts[:'resource_owner_enabled'].nil?
      query_params[:'unmanaged_domain'] = opts[:'unmanaged_domain'] if !opts[:'unmanaged_domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetInventory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_asset_inventory_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_asset_inventory_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Device Inventory
    # Get a list of all devices
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @option opts [Boolean] :unassociated_devices Unassociated Devices
    # @return [GetDeviceInventory]
    def get_device_inventory_v3(opts = {})
      data, _status_code, _headers = get_device_inventory_v3_with_http_info(opts)
      data
    end

    # GET Device Inventory
    # Get a list of all devices
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @option opts [Boolean] :unassociated_devices Unassociated Devices
    # @return [Array<(GetDeviceInventory, Integer, Hash)>] GetDeviceInventory data, response status code and response headers
    def get_device_inventory_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_device_inventory_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/devices/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'privileged_only'] = opts[:'privileged_only'] if !opts[:'privileged_only'].nil?
      query_params[:'unassociated_devices'] = opts[:'unassociated_devices'] if !opts[:'unassociated_devices'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDeviceInventory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_device_inventory_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_device_inventory_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Integrations
    # Get a list of connected integrations in your account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :saas_id Comma separated SaaS ID&#39;s
    # @return [GetIntegrations]
    def get_integrations_v3(opts = {})
      data, _status_code, _headers = get_integrations_v3_with_http_info(opts)
      data
    end

    # GET Integrations
    # Get a list of connected integrations in your account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :saas_id Comma separated SaaS ID&#39;s
    # @return [Array<(GetIntegrations, Integer, Hash)>] GetIntegrations data, response status code and response headers
    def get_integrations_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_integrations_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/integrations/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'saas_id'] = opts[:'saas_id'] if !opts[:'saas_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetIntegrations'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_integrations_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_integrations_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Metrics
    # Get metrics on security checks
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Exposure status
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @option opts [String] :impact Impact
    # @option opts [Boolean] :compliance Compliance
    # @option opts [String] :check_type Check Type
    # @return [GetMetrics]
    def get_metrics_v3(opts = {})
      data, _status_code, _headers = get_metrics_v3_with_http_info(opts)
      data
    end

    # GET Metrics
    # Get metrics on security checks
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Exposure status
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @option opts [String] :impact Impact
    # @option opts [Boolean] :compliance Compliance
    # @option opts [String] :check_type Check Type
    # @return [Array<(GetMetrics, Integer, Hash)>] GetMetrics data, response status code and response headers
    def get_metrics_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_metrics_v3 ...'
      end
      allowable_values = ["Passed", "Failed", "Dismissed", "Pending", "Can't Run", "Stale"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["1", "2", "3"]
      if @api_client.config.client_side_validation && opts[:'impact'] && !allowable_values.include?(opts[:'impact'])
        fail ArgumentError, "invalid value for \"impact\", must be one of #{allowable_values}"
      end
      allowable_values = ["apps", "devices", "users", "assets", "permissions", "Falcon Shield Security Check", "custom"]
      if @api_client.config.client_side_validation && opts[:'check_type'] && !allowable_values.include?(opts[:'check_type'])
        fail ArgumentError, "invalid value for \"check_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/saas-security/aggregates/check-metrics/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'impact'] = opts[:'impact'] if !opts[:'impact'].nil?
      query_params[:'compliance'] = opts[:'compliance'] if !opts[:'compliance'].nil?
      query_params[:'check_type'] = opts[:'check_type'] if !opts[:'check_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMetrics'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_metrics_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_metrics_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Security Check Affected
    # Get a list of affected entities
    # @param id [String] Security Check ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @return [GetAffected]
    def get_security_check_affected_v3(id, opts = {})
      data, _status_code, _headers = get_security_check_affected_v3_with_http_info(id, opts)
      data
    end

    # GET Security Check Affected
    # Get a list of affected entities
    # @param id [String] Security Check ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @return [Array<(GetAffected, Integer, Hash)>] GetAffected data, response status code and response headers
    def get_security_check_affected_v3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_security_check_affected_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.get_security_check_affected_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/check-affected/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAffected'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_security_check_affected_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_security_check_affected_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Compliance
    # Get a list of compliance standards attached to a check
    # @param id [String] Security Check ID
    # @param [Hash] opts the optional parameters
    # @return [GetSecurityCompliance]
    def get_security_check_compliance_v3(id, opts = {})
      data, _status_code, _headers = get_security_check_compliance_v3_with_http_info(id, opts)
      data
    end

    # GET Compliance
    # Get a list of compliance standards attached to a check
    # @param id [String] Security Check ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSecurityCompliance, Integer, Hash)>] GetSecurityCompliance data, response status code and response headers
    def get_security_check_compliance_v3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_security_check_compliance_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.get_security_check_compliance_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/compliance/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSecurityCompliance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_security_check_compliance_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_security_check_compliance_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Security Check by ID or GET List Security Checks
    # Get a specific security check by ID or Get all security checks
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Security Check ID
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :status Exposure status
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @option opts [String] :impact Impact
    # @option opts [Boolean] :compliance Compliance
    # @option opts [String] :check_type Check Type
    # @option opts [String] :check_tags Comma separated list of check tags names or ids
    # @return [GetSecurityChecks]
    def get_security_checks_v3(opts = {})
      data, _status_code, _headers = get_security_checks_v3_with_http_info(opts)
      data
    end

    # GET Security Check by ID or GET List Security Checks
    # Get a specific security check by ID or Get all security checks
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Security Check ID
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :status Exposure status
    # @option opts [String] :integration_id Comma separated list of integration IDs
    # @option opts [String] :impact Impact
    # @option opts [Boolean] :compliance Compliance
    # @option opts [String] :check_type Check Type
    # @option opts [String] :check_tags Comma separated list of check tags names or ids
    # @return [Array<(GetSecurityChecks, Integer, Hash)>] GetSecurityChecks data, response status code and response headers
    def get_security_checks_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_security_checks_v3 ...'
      end
      allowable_values = ["Passed", "Failed", "Dismissed", "Pending", "Can't Run", "Stale"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["Low", "Medium", "High"]
      if @api_client.config.client_side_validation && opts[:'impact'] && !allowable_values.include?(opts[:'impact'])
        fail ArgumentError, "invalid value for \"impact\", must be one of #{allowable_values}"
      end
      allowable_values = ["apps", "devices", "users", "assets", "permissions", "Falcon Shield Security Check", "custom"]
      if @api_client.config.client_side_validation && opts[:'check_type'] && !allowable_values.include?(opts[:'check_type'])
        fail ArgumentError, "invalid value for \"check_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/saas-security/entities/checks/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'impact'] = opts[:'impact'] if !opts[:'impact'].nil?
      query_params[:'compliance'] = opts[:'compliance'] if !opts[:'compliance'].nil?
      query_params[:'check_type'] = opts[:'check_type'] if !opts[:'check_type'].nil?
      query_params[:'check_tags'] = opts[:'check_tags'] if !opts[:'check_tags'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSecurityChecks'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_security_checks_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_security_checks_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Supported SaaS
    # Get a list of supported integrations
    # @param [Hash] opts the optional parameters
    # @return [GetSupportedSaas]
    def get_supported_saas_v3(opts = {})
      data, _status_code, _headers = get_supported_saas_v3_with_http_info(opts)
      data
    end

    # GET Supported SaaS
    # Get a list of supported integrations
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSupportedSaas, Integer, Hash)>] GetSupportedSaas data, response status code and response headers
    def get_supported_saas_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_supported_saas_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/supported-saas/v3'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSupportedSaas'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_supported_saas_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_supported_saas_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET System Logs
    # Get a list of all system logs
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from_date From Date (in YYYY-MM-DD format)
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [Time] :to_date To Date (in YYYY-MM-DD format)
    # @option opts [Boolean] :total_count Fetch Total Count?
    # @return [GetSystemLogs]
    def get_system_logs_v3(opts = {})
      data, _status_code, _headers = get_system_logs_v3_with_http_info(opts)
      data
    end

    # GET System Logs
    # Get a list of all system logs
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from_date From Date (in YYYY-MM-DD format)
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [Time] :to_date To Date (in YYYY-MM-DD format)
    # @option opts [Boolean] :total_count Fetch Total Count?
    # @return [Array<(GetSystemLogs, Integer, Hash)>] GetSystemLogs data, response status code and response headers
    def get_system_logs_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_system_logs_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/system-logs/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'total_count'] = opts[:'total_count'] if !opts[:'total_count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSystemLogs'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_system_logs_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_system_logs_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET System Users
    # Get a list of system users
    # @param [Hash] opts the optional parameters
    # @return [GetSystemUsers]
    def get_system_users_v3(opts = {})
      data, _status_code, _headers = get_system_users_v3_with_http_info(opts)
      data
    end

    # GET System Users
    # Get a list of system users
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSystemUsers, Integer, Hash)>] GetSystemUsers data, response status code and response headers
    def get_system_users_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_system_users_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/system-users/v3'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSystemUsers'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_system_users_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_system_users_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET User Inventory
    # Get a list of all users
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @return [GetUserInventory]
    def get_user_inventory_v3(opts = {})
      data, _status_code, _headers = get_user_inventory_v3_with_http_info(opts)
      data
    end

    # GET User Inventory
    # Get a list of all users
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_id Comma separated integration ID&#39;s
    # @option opts [Integer] :limit The maximum number of objects to return
    # @option opts [Integer] :offset The starting index of the results
    # @option opts [String] :email Email
    # @option opts [Boolean] :privileged_only Privileged Only
    # @return [Array<(GetUserInventory, Integer, Hash)>] GetUserInventory data, response status code and response headers
    def get_user_inventory_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.get_user_inventory_v3 ...'
      end
      # resource path
      local_var_path = '/saas-security/entities/users/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integration_id'] = opts[:'integration_id'] if !opts[:'integration_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'privileged_only'] = opts[:'privileged_only'] if !opts[:'privileged_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserInventory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.get_user_inventory_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#get_user_inventory_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST Data Upload Transaction Completion
    # Make a close transaction call after uploading the data
    # @param id [String] Integration ID
    # @param [Hash] opts the optional parameters
    # @return [GetEndTransaction]
    def integration_builder_end_transaction_v3(id, opts = {})
      data, _status_code, _headers = integration_builder_end_transaction_v3_with_http_info(id, opts)
      data
    end

    # POST Data Upload Transaction Completion
    # Make a close transaction call after uploading the data
    # @param id [String] Integration ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndTransaction, Integer, Hash)>] GetEndTransaction data, response status code and response headers
    def integration_builder_end_transaction_v3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.integration_builder_end_transaction_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.integration_builder_end_transaction_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/custom-integration-close/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndTransaction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.integration_builder_end_transaction_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#integration_builder_end_transaction_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET Status
    # Get transaction status for a custom integration
    # @param id [String] Integration ID
    # @param [Hash] opts the optional parameters
    # @return [GetTransactionStatus]
    def integration_builder_get_status_v3(id, opts = {})
      data, _status_code, _headers = integration_builder_get_status_v3_with_http_info(id, opts)
      data
    end

    # GET Status
    # Get transaction status for a custom integration
    # @param id [String] Integration ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTransactionStatus, Integer, Hash)>] GetTransactionStatus data, response status code and response headers
    def integration_builder_get_status_v3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.integration_builder_get_status_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.integration_builder_get_status_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/custom-integration-status/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTransactionStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.integration_builder_get_status_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#integration_builder_get_status_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset
    # Make a reset call to a custom integration
    # @param id [String] Integration ID
    # @param [Hash] opts the optional parameters
    # @return [GetTransactionStatus]
    def integration_builder_reset_v3(id, opts = {})
      data, _status_code, _headers = integration_builder_reset_v3_with_http_info(id, opts)
      data
    end

    # Reset
    # Make a reset call to a custom integration
    # @param id [String] Integration ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTransactionStatus, Integer, Hash)>] GetTransactionStatus data, response status code and response headers
    def integration_builder_reset_v3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.integration_builder_reset_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.integration_builder_reset_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/custom-integration-reset/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTransactionStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.integration_builder_reset_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#integration_builder_reset_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST Upload
    # Send data to a specific source in a custom integration
    # @param id [String] Integration ID
    # @param source_id [String] Source ID
    # @param body [UploadDataRequest]
    # @param [Hash] opts the optional parameters
    # @return [UploadDataResponse]
    def integration_builder_upload_v3(id, source_id, body, opts = {})
      data, _status_code, _headers = integration_builder_upload_v3_with_http_info(id, source_id, body, opts)
      data
    end

    # POST Upload
    # Send data to a specific source in a custom integration
    # @param id [String] Integration ID
    # @param source_id [String] Source ID
    # @param body [UploadDataRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadDataResponse, Integer, Hash)>] UploadDataResponse data, response status code and response headers
    def integration_builder_upload_v3_with_http_info(id, source_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaasSecurity.integration_builder_upload_v3 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SaasSecurity.integration_builder_upload_v3"
      end
      # verify the required parameter 'source_id' is set
      if @api_client.config.client_side_validation && source_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_id' when calling SaasSecurity.integration_builder_upload_v3"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SaasSecurity.integration_builder_upload_v3"
      end
      # resource path
      local_var_path = '/saas-security/entities/custom-integration-upload/v3'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'source_id'] = source_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'UploadDataResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SaasSecurity.integration_builder_upload_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaasSecurity#integration_builder_upload_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
