=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
=end

require 'cgi'

module Falcon
  class ScanningOrchestrator
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create scanning schedules
    # Create one or more scanning schedules
    # @param authorization [String] Bearer Token
    # @param body [TypesCreateSchedulesRequest] Schedule resources to create
    # @param [Hash] opts the optional parameters
    # @return [TypesSchedulesResponse]
    def create_schedules(authorization, body, opts = {})
      data, _status_code, _headers = create_schedules_with_http_info(authorization, body, opts)
      data
    end

    # Create scanning schedules
    # Create one or more scanning schedules
    # @param authorization [String] Bearer Token
    # @param body [TypesCreateSchedulesRequest] Schedule resources to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(TypesSchedulesResponse, Integer, Hash)>] TypesSchedulesResponse data, response status code and response headers
    def create_schedules_with_http_info(authorization, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.create_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.create_schedules"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ScanningOrchestrator.create_schedules"
      end
      # resource path
      local_var_path = '/agentless-scanning/entities/schedules/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'TypesSchedulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.create_schedules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#create_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete scanning schedules
    # Delete one or more scanning schedules by ID
    # @param authorization [String] Bearer Token
    # @param ids [Array<String>] Schedule IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [MsaspecResponseFields]
    def delete_schedules(authorization, ids, opts = {})
      data, _status_code, _headers = delete_schedules_with_http_info(authorization, ids, opts)
      data
    end

    # Delete scanning schedules
    # Delete one or more scanning schedules by ID
    # @param authorization [String] Bearer Token
    # @param ids [Array<String>] Schedule IDs to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(MsaspecResponseFields, Integer, Hash)>] MsaspecResponseFields data, response status code and response headers
    def delete_schedules_with_http_info(authorization, ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.delete_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.delete_schedules"
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ScanningOrchestrator.delete_schedules"
      end
      # resource path
      local_var_path = '/agentless-scanning/entities/schedules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MsaspecResponseFields'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.delete_schedules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#delete_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get combined scanning schedules
    # Get schedules with pagination, sorting, and filtering
    # @param authorization [String] Bearer Token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return (default to 100)
    # @option opts [Integer] :offset Starting offset for pagination (default to 0)
    # @option opts [String] :sort Sort field and direction. Available fields: scan_product, provider_type, enabled, name, created_at. Example: name|asc
    # @option opts [String] :filter FQL filter expression. Available fields: scan_product, provider_type, enabled, name, created_at. Example: enabled:true
    # @return [TypesSchedulesResponse]
    def get_combined_schedules(authorization, opts = {})
      data, _status_code, _headers = get_combined_schedules_with_http_info(authorization, opts)
      data
    end

    # Get combined scanning schedules
    # Get schedules with pagination, sorting, and filtering
    # @param authorization [String] Bearer Token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return (default to 100)
    # @option opts [Integer] :offset Starting offset for pagination (default to 0)
    # @option opts [String] :sort Sort field and direction. Available fields: scan_product, provider_type, enabled, name, created_at. Example: name|asc
    # @option opts [String] :filter FQL filter expression. Available fields: scan_product, provider_type, enabled, name, created_at. Example: enabled:true
    # @return [Array<(TypesSchedulesResponse, Integer, Hash)>] TypesSchedulesResponse data, response status code and response headers
    def get_combined_schedules_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.get_combined_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.get_combined_schedules"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ScanningOrchestrator.get_combined_schedules, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ScanningOrchestrator.get_combined_schedules, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ScanningOrchestrator.get_combined_schedules, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/agentless-scanning/combined/schedules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TypesSchedulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.get_combined_schedules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#get_combined_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get scanning schedules
    # Get scanning schedules by their IDs
    # @param authorization [String] Bearer Token
    # @param ids [Array<String>] Schedule IDs to retrieve
    # @param [Hash] opts the optional parameters
    # @return [TypesSchedulesResponse]
    def get_schedules(authorization, ids, opts = {})
      data, _status_code, _headers = get_schedules_with_http_info(authorization, ids, opts)
      data
    end

    # Get scanning schedules
    # Get scanning schedules by their IDs
    # @param authorization [String] Bearer Token
    # @param ids [Array<String>] Schedule IDs to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(TypesSchedulesResponse, Integer, Hash)>] TypesSchedulesResponse data, response status code and response headers
    def get_schedules_with_http_info(authorization, ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.get_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.get_schedules"
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ScanningOrchestrator.get_schedules"
      end
      # resource path
      local_var_path = '/agentless-scanning/entities/schedules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TypesSchedulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.get_schedules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#get_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get allowed service types
    # Returns the list of service types available for scanning
    # @param authorization [String] Bearer Token
    # @param scan_product [String] Scan product filter
    # @param [Hash] opts the optional parameters
    # @return [TypesServiceTypesResponse]
    def get_service_types(authorization, scan_product, opts = {})
      data, _status_code, _headers = get_service_types_with_http_info(authorization, scan_product, opts)
      data
    end

    # Get allowed service types
    # Returns the list of service types available for scanning
    # @param authorization [String] Bearer Token
    # @param scan_product [String] Scan product filter
    # @param [Hash] opts the optional parameters
    # @return [Array<(TypesServiceTypesResponse, Integer, Hash)>] TypesServiceTypesResponse data, response status code and response headers
    def get_service_types_with_http_info(authorization, scan_product, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.get_service_types ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.get_service_types"
      end
      # verify the required parameter 'scan_product' is set
      if @api_client.config.client_side_validation && scan_product.nil?
        fail ArgumentError, "Missing the required parameter 'scan_product' when calling ScanningOrchestrator.get_service_types"
      end
      # verify enum value
      allowable_values = ["dspm_scanning", "vulnerability_scanning"]
      if @api_client.config.client_side_validation && !allowable_values.include?(scan_product)
        fail ArgumentError, "invalid value for \"scan_product\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/agentless-scanning/entities/supported-service-types/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'scan_product'] = scan_product

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TypesServiceTypesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.get_service_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#get_service_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search scanning schedules
    # Search schedules and return IDs with pagination, sorting, and filtering
    # @param authorization [String] Bearer Token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return (default to 100)
    # @option opts [Integer] :offset Starting offset for pagination (default to 0)
    # @option opts [String] :sort Sort field and direction. Available fields: scan_product, provider_type, enabled, name, created_at. Example: name|asc
    # @option opts [String] :filter FQL filter expression. Available fields: scan_product, provider_type, enabled, name, created_at. Example: enabled:true
    # @return [Array<String>]
    def search_schedules(authorization, opts = {})
      data, _status_code, _headers = search_schedules_with_http_info(authorization, opts)
      data
    end

    # Search scanning schedules
    # Search schedules and return IDs with pagination, sorting, and filtering
    # @param authorization [String] Bearer Token
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return (default to 100)
    # @option opts [Integer] :offset Starting offset for pagination (default to 0)
    # @option opts [String] :sort Sort field and direction. Available fields: scan_product, provider_type, enabled, name, created_at. Example: name|asc
    # @option opts [String] :filter FQL filter expression. Available fields: scan_product, provider_type, enabled, name, created_at. Example: enabled:true
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def search_schedules_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.search_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.search_schedules"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ScanningOrchestrator.search_schedules, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ScanningOrchestrator.search_schedules, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ScanningOrchestrator.search_schedules, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/agentless-scanning/queries/schedules/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.search_schedules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#search_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger scan by schedule IDs
    # Triggers an immediate scan for the given schedule IDs
    # @param authorization [String] Bearer Token
    # @param body [MsaspecIdsRequest] Schedule IDs to trigger
    # @param [Hash] opts the optional parameters
    # @return [TypesSchedulesResponse]
    def trigger_scan_by_schedule(authorization, body, opts = {})
      data, _status_code, _headers = trigger_scan_by_schedule_with_http_info(authorization, body, opts)
      data
    end

    # Trigger scan by schedule IDs
    # Triggers an immediate scan for the given schedule IDs
    # @param authorization [String] Bearer Token
    # @param body [MsaspecIdsRequest] Schedule IDs to trigger
    # @param [Hash] opts the optional parameters
    # @return [Array<(TypesSchedulesResponse, Integer, Hash)>] TypesSchedulesResponse data, response status code and response headers
    def trigger_scan_by_schedule_with_http_info(authorization, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.trigger_scan_by_schedule ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.trigger_scan_by_schedule"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ScanningOrchestrator.trigger_scan_by_schedule"
      end
      # resource path
      local_var_path = '/agentless-scanning/entities/scan-by-schedule/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'TypesSchedulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.trigger_scan_by_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#trigger_scan_by_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update scanning schedules
    # Updates one or more scanning schedules
    # @param authorization [String] Bearer Token
    # @param body [TypesUpdateSchedulesRequest] Schedule resources to update (ID required in each resource)
    # @param [Hash] opts the optional parameters
    # @return [TypesSchedulesResponse]
    def update_schedules(authorization, body, opts = {})
      data, _status_code, _headers = update_schedules_with_http_info(authorization, body, opts)
      data
    end

    # Update scanning schedules
    # Updates one or more scanning schedules
    # @param authorization [String] Bearer Token
    # @param body [TypesUpdateSchedulesRequest] Schedule resources to update (ID required in each resource)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TypesSchedulesResponse, Integer, Hash)>] TypesSchedulesResponse data, response status code and response headers
    def update_schedules_with_http_info(authorization, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScanningOrchestrator.update_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ScanningOrchestrator.update_schedules"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ScanningOrchestrator.update_schedules"
      end
      # resource path
      local_var_path = '/agentless-scanning/entities/schedules/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'TypesSchedulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ScanningOrchestrator.update_schedules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScanningOrchestrator#update_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
