=begin
Crimson Falcon - Ruby Client SDK

Code auto-generated by OpenAPI Generator; DO NOT EDIT.

MIT License

Copyright (c) 2023 Crowdstrike

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

=end

require 'cgi'

module Falcon
  class SensorUsage
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetches weekly average. Each data point represents the average of how many unique AIDs were seen per week for the previous 28 days.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The FQL search filter. Allowed fields: \&quot;event_date\&quot; : A specified date that will be final date of the results returned. Specified date cannot be after the default.  Format: &#39;2024-06-11&#39;  Default: the current date, minus 2 days, in UTC \&quot;period\&quot; : An integer surrounded by single quotes representing the number of days to return.  Format: &#39;30&#39;  Default: &#39;28&#39;  Minimum: &#39;1&#39;  Maximum: &#39;395&#39; \&quot;selected_cids\&quot; : A comma separated list of CIDs to return data for. Caller must be a parent CID or have special access enabled.  Format: &#39;cid_1,cid_2,cid_3&#39;  Default: for parent CIDs the default is the parent and all children, otherwise the current CID
    # @return [ApiWeeklyAverageResponse]
    def get_sensor_usage_weekly(opts = {})
      data, _status_code, _headers = get_sensor_usage_weekly_with_http_info(opts)
      data
    end

    # Fetches weekly average. Each data point represents the average of how many unique AIDs were seen per week for the previous 28 days.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The FQL search filter. Allowed fields: \&quot;event_date\&quot; : A specified date that will be final date of the results returned. Specified date cannot be after the default.  Format: &#39;2024-06-11&#39;  Default: the current date, minus 2 days, in UTC \&quot;period\&quot; : An integer surrounded by single quotes representing the number of days to return.  Format: &#39;30&#39;  Default: &#39;28&#39;  Minimum: &#39;1&#39;  Maximum: &#39;395&#39; \&quot;selected_cids\&quot; : A comma separated list of CIDs to return data for. Caller must be a parent CID or have special access enabled.  Format: &#39;cid_1,cid_2,cid_3&#39;  Default: for parent CIDs the default is the parent and all children, otherwise the current CID
    # @return [Array<(ApiWeeklyAverageResponse, Integer, Hash)>] ApiWeeklyAverageResponse data, response status code and response headers
    def get_sensor_usage_weekly_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SensorUsage.get_sensor_usage_weekly ...'
      end
      # resource path
      local_var_path = '/billing-dashboards-usage/aggregates/weekly-average/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiWeeklyAverageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"SensorUsage.get_sensor_usage_weekly",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SensorUsage#get_sensor_usage_weekly\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
