=begin
#CrowdStrike API Specification

#Use this API specification as a reference for the API endpoints you can use to interact with your Falcon environment. These endpoints support authentication via OAuth2 and interact with detections and network containment. For detailed usage guides and examples, see our [documentation inside the Falcon console](https://falcon.crowdstrike.com/support/documentation).     To use the APIs described below, combine the base URL with the path shown for each API endpoint. For commercial cloud customers, your base URL is `https://api.crowdstrike.com`.    Each API endpoint requires authorization via an OAuth2 token. Your first API request should retrieve an OAuth2 token using the `oauth2/token` endpoint, such as `https://api.crowdstrike.com/oauth2/token`. For subsequent requests, include the OAuth2 token in an HTTP authorization header. Tokens expire after 30 minutes, after which you should make a new token request to continue making API requests.

The version of the OpenAPI document: 2023-05-30T23:10:32Z

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Falcon
  class ZeroTrustAssessmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Zero Trust Assessment data for one or more hosts by providing agent IDs (AID) and a customer ID (CID).
    # @param ids [Array<String>] One or more agent IDs, which you can find in the data.zta file, or the Falcon console.
    # @param [Hash] opts the optional parameters
    # @return [DomainAssessmentsResponse]
    def get_assessment_v1(ids, opts = {})
      data, _status_code, _headers = get_assessment_v1_with_http_info(ids, opts)
      data
    end

    # Get Zero Trust Assessment data for one or more hosts by providing agent IDs (AID) and a customer ID (CID).
    # @param ids [Array<String>] One or more agent IDs, which you can find in the data.zta file, or the Falcon console.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainAssessmentsResponse, Integer, Hash)>] DomainAssessmentsResponse data, response status code and response headers
    def get_assessment_v1_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZeroTrustAssessmentApi.get_assessment_v1 ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ZeroTrustAssessmentApi.get_assessment_v1"
      end
      # resource path
      local_var_path = '/zero-trust-assessment/entities/assessments/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainAssessmentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ZeroTrustAssessmentApi.get_assessment_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZeroTrustAssessmentApi#get_assessment_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Zero Trust Assessment data for one or more hosts by providing a customer ID (CID) and a range of scores.
    # @param filter [String] FQL query specifying the filter score.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The number of scores to return in this response (min: 1, max: 1000, default: 100). Use with the &#x60;after&#x60; parameter to manage pagination of results.
    # @option opts [String] :after A pagination token used with the &#x60;limit&#x60; parameter to manage pagination of results. On your first request, don&#39;t provide an &#x60;after&#x60; token. On subsequent requests, provide the &#x60;after&#x60; token from the previous response to continue from that place in the results.
    # @option opts [String] :sort Sort accounts by their properties. A single sort field is allowed. Defaults to ascending. Supported sort option include:  &lt;ul&gt;&lt;li&gt;score|desc&lt;/li&gt;&lt;li&gt;score|asc&lt;/li&gt;&lt;/ul&gt; (default to 'score')
    # @return [DomainAssessmentsByScoreResponse]
    def get_assessments_by_score_v1(filter, opts = {})
      data, _status_code, _headers = get_assessments_by_score_v1_with_http_info(filter, opts)
      data
    end

    # Get Zero Trust Assessment data for one or more hosts by providing a customer ID (CID) and a range of scores.
    # @param filter [String] FQL query specifying the filter score.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The number of scores to return in this response (min: 1, max: 1000, default: 100). Use with the &#x60;after&#x60; parameter to manage pagination of results.
    # @option opts [String] :after A pagination token used with the &#x60;limit&#x60; parameter to manage pagination of results. On your first request, don&#39;t provide an &#x60;after&#x60; token. On subsequent requests, provide the &#x60;after&#x60; token from the previous response to continue from that place in the results.
    # @option opts [String] :sort Sort accounts by their properties. A single sort field is allowed. Defaults to ascending. Supported sort option include:  &lt;ul&gt;&lt;li&gt;score|desc&lt;/li&gt;&lt;li&gt;score|asc&lt;/li&gt;&lt;/ul&gt; (default to 'score')
    # @return [Array<(DomainAssessmentsByScoreResponse, Integer, Hash)>] DomainAssessmentsByScoreResponse data, response status code and response headers
    def get_assessments_by_score_v1_with_http_info(filter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZeroTrustAssessmentApi.get_assessments_by_score_v1 ...'
      end
      # verify the required parameter 'filter' is set
      if @api_client.config.client_side_validation && filter.nil?
        fail ArgumentError, "Missing the required parameter 'filter' when calling ZeroTrustAssessmentApi.get_assessments_by_score_v1"
      end
      # resource path
      local_var_path = '/zero-trust-assessment/queries/assessments/v1'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = filter
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainAssessmentsByScoreResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ZeroTrustAssessmentApi.get_assessments_by_score_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZeroTrustAssessmentApi#get_assessments_by_score_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the Zero Trust Assessment audit report for one customer ID (CID).
    # @param [Hash] opts the optional parameters
    # @return [DomainAuditResponse]
    def get_audit_v1(opts = {})
      data, _status_code, _headers = get_audit_v1_with_http_info(opts)
      data
    end

    # Get the Zero Trust Assessment audit report for one customer ID (CID).
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainAuditResponse, Integer, Hash)>] DomainAuditResponse data, response status code and response headers
    def get_audit_v1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZeroTrustAssessmentApi.get_audit_v1 ...'
      end
      # resource path
      local_var_path = '/zero-trust-assessment/entities/audit/v1'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainAuditResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ZeroTrustAssessmentApi.get_audit_v1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZeroTrustAssessmentApi#get_audit_v1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
